@mixin font-urls($name, $dir: '', $path: $path-font) {
	src: url($path + $dir + $name +'.eot');
	src:
	url($path + $dir + $name +'.woff2') format('woff2')
	,url($path + $dir + $name +'.woff') format('woff')
	,url($path + $dir + $name +'.ttf') format('truetype')
	,url($path + $dir + $name +'.svg#'+ $name) format('svg')
	,url($path + $dir + $name +'.eot?#iefix') format('embedded-opentype')
	;
}

@font-face {
	@include font-urls('PFBeauSansPro-Bbook', 'PFBeauSansPro/');
	font-family: $font-1;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	@include font-urls('PFBeauSansPro-LightItalic', 'PFBeauSansPro/');
	font-family: $font-2;
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	@include font-urls('PTSans-Bold', 'PTSans/');
	font-family: $font-3;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	@include font-urls('Akrobatbold', 'Akrobat/');
	font-family: $font-4;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	@include font-urls('Bloggersans', 'BloggerSans/');
	font-family: $font-5;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}