.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
	a{
		text-decoration: underline;
		color: #6b75d7;
		&:hover{
			text-decoration: none;
		}
	}
}

.responsive-img{
	position: relative;
	background-position: center;
	border-radius: $radius;
	overflow: hidden;
	&:before{
		content: '';
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: cp(1,1)
	}
	>img,
	>video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&--2x1:before{ padding-bottom: cp(1,2) }
	&--3x2:before{ padding-bottom: cp(2,3) }
	&--4x3:before{ padding-bottom: cp(3,4) }
	&--14x9:before{ padding-bottom: cp(9,14) }
	&--16x9:before{ padding-bottom: cp(9,16) }
}

img[data-object-fit="contain"],
video[data-object-fit="contain"] {
	object-fit: contain;
}

img[data-object-fit="cover"],
video[data-object-fit="cover"] {
	object-fit: cover;
}

img[data-object-fit="scale-down"],
video[data-object-fit="scale-down"] {
	object-fit: scale-down;
}

img[data-object-fit="none"],
video[data-object-fit="none"] {
	object-fit: none;
}

.fit-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	> img {
		opacity: 0;
	}

	&--cover{ background-size: cover; }
	&--contain{ background-size: contain; }
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.underline {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: currentColor;
		transition: 0.3s ease;
	}
	&:hover {
		&::after {
			left: auto;
			right: 0;
			width: 0;
		}
	}
}

.b-slider-actions {
	display: flex;
	align-items: center;
	line-height: 0;
	&__pagination {
		margin: 0 20px;
	}
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 15px 40px rgba(0, 0, 0, 0.41);
	pointer-events: none;
	&--eye {
		background-color: $color-p-pink;
		svg {
			width: 44px;
			height: 47px;
		}
	}
	&--play {
		svg {
			width: 38px;
			height: 49px;
		}
	}
	&--small {
		width: 50px;
		height: 50px;
		&.icon--eye {
			svg {
				width: 25px;
				height: 27px;
			}
		}
		&.icon--play {
			svg {
				width: 19px;
				height: 25px;
			}
		}
	}
	&--medium {
		width: 70px;
		height: 70px;
		&.icon--eye {
			svg {
				width: 35px;
				height: 37px;
			}
		}
		&.icon--play {
			svg {
				width: 28px;
				height: 36px;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		width: 80px;
		height: 80px;
		&--eye {
			svg {
				width: 36px;
				height: 40px;
			}
		}
		&--play {
			svg {
				width: 31px;
				height: 40px;
			}
		}
		&--small {
			width: 50px;
			height: 50px;
			&.icon--eye {
				svg {
					width: 25px;
					height: 27px;
				}
			}
			&.icon--play {
				svg {
					width: 19px;
					height: 25px;
				}
			}
		}
		&--medium {
			width: 70px;
			height: 70px;
			&.icon--eye {
				svg {
					width: 35px;
					height: 37px;
				}
			}
			&.icon--play {
				svg {
					width: 28px;
					height: 36px;
				}
			}
		}
	}
}

.tag {
	display: inline-block;
	vertical-align: top;
	padding: 10px 19px 12px;
	min-width: 170px;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	background-color: $color-text-dark;
	border-radius: 20px;
	white-space: nowrap;
	&--small {
		min-width: auto;
	}
	&--yellow {
		background-color: $color-p-yellow;
	}
	&--purple {
		background-color: $color-p-purple;
	}
	&--aqua {
		background-color: $color-p-aqua;
	}
	&--pink {
		background-color: $color-p-pink;
	}
	&--blue {
		background-color: $color-p-blue;
	}
	&--aquagreen {
		background-color: $color-p-aquagreen;
	}
}

.date {
	display: inline-flex;
	align-items: center;

	svg {
		margin-right: 10px;
		width: 19px;
		height: 21px;
		stroke: currentColor;
		stroke-width: 2px;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}

.star {
	margin: 0 2px;
	font-size: 10px;
	color: $color-p-gray;
	&--yellow {
		color: $color-p-yellow;
	}
	svg {
		fill: currentColor;
	}
}

.clearfix {
	&::after {
		content: "";
		display: block;
		line-height: 0;
		clear: both;
	}
}

.decor {
	position: absolute;
	svg,
	img {
		width: 100%;
		height: auto;
	}
}

.notification {
	display: inline-block;
	vertical-align: baseline;
	padding: 0 5px;
	min-width: 18px;
	height: 18px;
	font-family: $font-3-fallback;
	font-size: 10px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	border-radius: 9px;
	background-color: $color-p-pink;
	pointer-events: none;
}

.dropdown {
	position: absolute;
	z-index: $zindex-dropdown;
	top: 100%;
	padding: 27px 25px;
	background-color: #fff;
	border-radius: $radius;
	box-shadow: 0 15px 15px rgba(#000, 0.12);
	transition: 0.4s ease;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		height: 2px;
		background-color: $color-p-dark-purple;
	}
}

.deleted {
	opacity: 0.5;
	pointer-events: none;
}
