// lazyload
img:not([src]) {
    visibility: hidden;
}
img[data-src],
img[data-srcset] {
  display: block;
  min-height: 1px;
}
.lazyload-error {
	background: $url-no-img center no-repeat;
	background-size: cover;
}

// Paralax

.parallax-scene {
	position: absolute;
	top: 0;
  left: 0;
  z-index: -1;
	width: 100%;
	height: 100%;
}
.parallax-layer {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 0;
	list-style: none;
}

.parallax-particle {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $color-dimmed;
  &--pink {
    background-color: $color-p-pink;
  }
  &--steelblue {
    background-color: $color-p-steelblue;
  }
  &--yellow {
    background-color: $color-p-yellow;
  }
  &--light-green {
    background-color: $color-p-light-green;
  }
}

// Swiper slider

.swiper-pagination-bullet {
  margin-right: 15px;
  width: 8px;
  height: 8px;
  background-color: #F0F0F0;
  transition: 0.5s ease;
  opacity: 1;
  &:last-child {
    margin-right: 0;
  }
}

.swiper-pagination-bullet-active {
  background-color: $color-p-pink;
  transform: scale(1.4);
  transform-origin: center;
}

.ac {
  margin-top: 25px;
  border: none;
  background-color: transparent;

  >.ac-q {
    padding: 3px 30px 3px 50px;
    font-family: $font-3-fallback;
    font-size: 1.2rem;
    line-height: 1.33333333;
    color: $color-text-dark;
    outline: none;
    &::after {
      display: none;
    }
  }

  >.ac-a p {
    padding: 0;
    font-family: $font-1-fallback;
    color: $color-text;
  }
}

// Datepicker

.datepicker {
  font-family: Roboto, sans-serif;
  border-radius: $radius;
  border: none;
}
.datepicker-inline .datepicker {
  width: auto;
}
.datepicker--nav {
  padding: 8px 8px 4px;
  border-bottom: 0;
}
.datepicker--nav-title {
  font-family: $font-1-fallback;
  color: $color-p-dark-purple;
}
.datepicker--content {
  padding: 4px 8px 8px;
}
.datepicker--cell.-current- {
  color: $color-p-green;
}
.datepicker--cell.-range-to- {
  border-color: $color-p-green;
  background: rgba($color-p-green, 0.15);
}
.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-,
.datepicker--cell.-selected-.-focus- {
  background: $color-p-green;
}
.datepicker--cell.-in-range- {
  background: rgba($color-p-green, 0.25);
}
.datepicker--cell.-in-range-.-focus- {
  background: rgba($color-p-green, 0.35);
}

// Responsive Tabs

@include media-breakpoint-down(md) {
  .r-tabs .r-tabs-nav {
    display: flex;
  }
  .r-tabs .r-tabs-accordion-title {
    display: none;
  }
}

// @include media-breakpoint-down(sm) {
//   .r-tabs .r-tabs-nav {
//     display: none;
//   }
//   .r-tabs .r-tabs-accordion-title {
//     display: block;
//   }
// }

// Select2

.select2-container {
  width: 100% !important;
}
.select2-container .select2-selection--single {
  height: 40px;
  outline: none;
}
.select2-container--default .select2-selection--single {
  border-radius: $radius;
  border: 2px solid $color-control-default;
  transition: box-shadow 0.2s ease;
}
.select2-container--default.select2-container--below .select2-selection--single[aria-expanded=true] {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08);
}
.select2-container--default.select2-container--above .select2-selection--single[aria-expanded=true] {
  box-shadow: 0 -15px 15px rgba(0, 0, 0, 0.08);
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: #fff;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
  border-top: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 15px;
  padding-right: 30px;
  color: $color-text;
  font-size: 14px;
  line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: $color-text;
}
.select2-dropdown {
  border-radius: $radius;
  border: 2px solid $color-control-default;
  transition: box-shadow 0.2s ease;
}
.select2-container--open .select2-dropdown--below {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08);
}
.select2-container--open .select2-dropdown--above {
  box-shadow: 0 -15px 15px rgba(0, 0, 0, 0.08);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 12px;
  width: 14px;
  height: 8px;
  background-image: url("../img/theme/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-results__options {
  font-size: 13px;
  line-height: 20px;
}
.select2-results__option {
  padding: 5px 18px;
}
.select2-dropdown--below .select2-results__option {
  &:last-child {
    border-radius: 0 0 $radius $radius;
  }
}
.select2-dropdown--above .select2-results__option {
  &:first-child {
    border-radius: $radius $radius 0 0;
  }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: $color-text-dark;
  background-color: rgba($color-control-default, 0.5);
}
.select2-container--default .select2-results__option[aria-selected=true] {
  color: $color-text-dark;
  background-color: $color-control-default;
}

// Magnific-popup

.mfp-bg {
  background: #fff;
  opacity: 0.95;
}

.mfp-container {
  padding: 0;
}

.mfp-content {
  @include media-breakpoint-down(sm) {
    display: inline-flex;
    flex-direction: column;
    min-height: 100%;
  }
}

button.mfp-close {
  top: -24px;
  right: -24px;
  background-color: $color-p-dark-purple;
  opacity: 1;
  &:active {
    top: -24px;
  }
  @include media-breakpoint-down(sm) {
    top: 30px;
    right: 15px;
    &:active {
      top: 30px;
    }
  }
}

.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
  top: -24px;
  right: -24px;
  padding: 0;
  width: 46px;
  height: 46px;
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
  cursor: pointer;
  &:active {
    top: -23px;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close,
.mfp-zoom-out-cur .mfp-iframe-holder .mfp-close {
  cursor: pointer;
}

.mfp-figure {
  border-radius: $radius;
  overflow: hidden;
  box-shadow: 0 40px 50px rgba(#000, 0.17);
  &::after {
    display: none;
  }
}

.mfp-iframe-scaler iframe {
  border-radius: $radius;
  overflow: hidden;
  box-shadow: 0 40px 50px rgba(#000, 0.17);
}

img.mfp-img {
  padding: 0;
}

.mfp-bottom-bar {
  margin-top: 0;
}

.mfp-counter {
  display: none;
}

button.mfp-arrow {
  margin: 0;
  margin-top: -23px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: $color-p-purple;
  opacity: 1;
  &::before {
    top: 50%;
    left: 50%;
    margin: 0;
    width: 13px;
    height: 13px;
    border: 3px solid #fff;
    opacity: 1;
    border-radius: 2px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    display: none;
  }
  &:active {
    margin-top: -22px;
  }
  @media (max-width: 900px) {
    transform: scale(1);
  }
}

button.mfp-arrow.mfp-arrow-left {
  left: 30px;
  &::before {
    margin-left: 2px;
    border-top: none;
    border-right: none;
  }
  @include media-breakpoint-down(md) {
    left: 15px;
  }
}

button.mfp-arrow.mfp-arrow-right {
  right: 30px;
  &::before {
    margin-left: -2px;
    border-bottom: none;
    border-left: none;
  }
  @include media-breakpoint-down(md) {
    right: 15px;
  }
}

.mfp-gallery .mfp-content {
  @include media-breakpoint-down(md) {
    max-width: 80%;
  }
  @include media-breakpoint-down(sm) {
    min-height: auto;
  }
}

.mfp-bg.mfp-fade,
.mfp-wrap.mfp-fade {
  opacity: 0;
}

.mfp-wrap.mfp-fade {
  transform: translateY(40px);
  @include media-breakpoint-down(sm) {
    transform: translateY(0);
  }
}

.mfp-bg.mfp-fade.mfp-ready {
  opacity: 0.95;
  transition: opacity 0.5s ease;
}

.mfp-bg.mfp-fade.mfp-removing {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.mfp-wrap.mfp-fade.mfp-ready {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s 0.2s ease;
  @include media-breakpoint-down(sm) {
    transition: 0.5s ease;
  }
}

.mfp-wrap.mfp-fade.mfp-removing {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.3s ease;
  @include media-breakpoint-down(sm) {
    transform: translateY(0);
    transition: 0.5s ease;
  }
}

// mCustomScrollbar

.mCSB_container {
  min-height: 100%;
}

.mCSB_scrollTools {
  width: 9px;
  opacity: 1;
}

.mCSB_scrollTools .mCSB_draggerRail {
  display: none;
}

.mCSB_scrollTools .mCSB_draggerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  width: 3px;
  height: 100%;
  background-color: $color-dimmed;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: $color-p-dark-purple;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    width: 5px;
    height: 2px;
    background-color: rgba($color-control-default, 0.6);
    box-shadow: 0 -7px 0 rgba($color-control-default, 0.6),
                0 7px 0 rgba($color-control-default, 0.6);
    border-radius: 2px;
    transform: translateY(-50%);
  }
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, 
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: $color-p-dark-purple;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
}
