html{
	font-size: 15px;
	-webkit-font-smoothing:antialiased;
}
html,
body {
	height: 100%;
}

body{
	font-family: $font-1-fallback;
	font-size: 1rem;
	line-height: 1.6;
	letter-spacing: 0.02em;
	color: $color-text;

	&.nav-showed {
		overflow: hidden;
	}

	&:after {
		display: block;
		padding: 10px;
		position: fixed;
		bottom: 0;
		right: 0;
		background: #000;
		color: #fff;
		visibility: hidden;
		content: '320';
		@media (min-width: $screen-sm){
			content: '#{$screen-sm}';
		}
		@media (min-width: $screen-md){
			content: '#{$screen-md}';
		}
		@media (min-width: $screen-lg){
			content: '#{$screen-lg}';
		}
		@media (min-width: $screen-xl){
			content: '#{$screen-xl}';
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}
