$path: '../';
$path-css: '#{$path}images/css/';
$path-font: $path+'fonts/';

// ---------------------------- grid
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1200px;
$screen-xl: 1366px;
$screen-xxl: 1920px;

$screen-xs-max: ($screen-sm - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-md-max: ($screen-lg - 1) !default;
$screen-lg-max: ($screen-xl - 1) !default;
$screen-xl-max: ($screen-xxl - 1) !default;

$grid-breakpoints: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
  xxl: $screen-xxl
);

$grid-gutter-width: 20px;
$gw: $grid-gutter-width;
$gw-05: $grid-gutter-width / 2;

$grid-columns: 12;

// ---------------------------- Z-index master list
$zindex-dropdown:           1000;
$zindex-sticky:             1020;
$zindex-fixed:              1030;
$zindex-modal-backdrop:     1040;
$zindex-modal:              1050;
$zindex-popover:            1060;
$zindex-tooltip:            1070;

// ---------------------------- colors
$color-text: 			  		#6E6E6E;
$color-text-dark:       #0F1422;
$color-dimmed:					#F5F6F7;

$color-blue:    				#007bff;
$color-indigo:  				#6610f2;
$color-purple:  				#6f42c1;
$color-pink:    				#e83e8c;
$color-red:	  					#E94C3D;
$color-orange:  				#fd7e14;
$color-yellow:  				#ffc107;
$color-green:   				#28a745;
$color-teal:    				#20c997;
$color-cyan:    				#17a2b8;

$color-p-gray:          #CACACD;
$color-p-purple:        #8B48DE;
$color-p-dark-purple:   #40234C;
$color-p-yellow:        #FFBC00;
$color-p-pink:          #FF8D76;
$color-p-aqua:          #47B2C2;
$color-p-green:         #58B78C;
$color-p-aquagreen:     #00B59C;
$color-p-light-green:   #9FE4D2;
$color-p-steelblue:     #006D8F;
$color-p-blue:          #488DDE;

$color-gr-purple:       #8F00BD;
$color-gr-pink:         #D90661;
$color-gr-yellow:       #E87C2E;

$color-control-default: #F0F0F0;


// ---------------------------- fonts
$fw-extralight:		100;
$fw-thin:			200;
$fw-light:			300;
$fw-regular:		400;
$fw-normal:			$fw-regular;
$fw-medium:			500;
$fw-semibold:		600;
$fw-bold:			700;
$fw-extrabold:		800;
$fw-black:			900;

$font-1: 'PF BeauSans Pro Book';
$font-1-fallback: 'PF BeauSans Pro Book', sans-serif;
$font-2: 'PF BeauSans Pro Light Italik';
$font-2-fallback: 'PF BeauSans Pro Light Italik', sans-serif;
$font-3: 'PT Sans';
$font-3-fallback: 'PT Sans', sans-serif;
$font-4: 'Akrobat';
$font-4-fallback: 'Akrobat', sans-serif;
$font-5: 'Blogger Sans';
$font-5-fallback: 'Blogger Sans', sans-serif;

// ---------------------------- urls
$url-magwai-logo: url($path+'img/theme/magwai.png');
$url-no-img: url($path+'img/theme/no-img.png');

// ---------------------------- others
$radius: 15px;
