.footer{
	&__wrapper {
		position: relative;
		padding-top: 257px;
		padding-bottom: 100px;
		color: #fff;
		background: $color-p-dark-purple;
		overflow: hidden;
		
		&::before {
			content: "";
			position: absolute;
			top: calc(130px - 500px);
			left: 50%;
			width: 114.055637vw;
			height: 500px;
			border-radius: 50%;
			background-color: #fff;
			transform: translateX(-50%);
		}

		@include media-breakpoint-down(lg) {
			padding-top: 205px;
			padding-bottom: 60px;
		}
		@include media-breakpoint-down(sm) {
			padding-top: 243px;
			padding-bottom: 80px;
			&--small-pt {
				padding-top: 140px;
			}
			&::before {
				top: calc(65px - 200px);
				width: 107.055637vw;
				height: 200px;
			}
		}
	}
	
	&__top {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
		@include media-breakpoint-down(md) {
			margin-bottom: 65px;
		}
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 55px;
		}
	}
	&__logo {
		@include media-breakpoint-down(sm) {
			margin-bottom: 55px;
		}
	}
	&__navigation {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		@include media-breakpoint-down(md) {
			order: 2;
			margin-top: 65px;
			width: 100%;
		}
		@include media-breakpoint-down(sm) {
			margin-top: 55px;
		}
	}
	&__find-button {
		@include media-breakpoint-down(md) {
			order: 1;
		}
	}
	&__contacts {
		position: absolute;
		top: calc(100% + 35px);
		left: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(-50%);
		&-phone {
			margin-bottom: 15px;
			font-family: $font-3-fallback;
			font-size: 1.6rem;
			line-height: 1.25;
			&:hover {
				color: currentColor;
				text-decoration: none;
			}
		}
		&-modal {
			color: $color-p-yellow;
			text-decoration: underline;
			&:hover {
				color: $color-p-yellow;
				text-decoration: none;
			}
		}
		@include media-breakpoint-down(md) {
			position: static;
			transform: translate(0, 0);
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 55px;
		}
	}
	&__middle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 65px;
		@include media-breakpoint-down(md) {
			margin-bottom: 60px;
		}
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 55px;
		}
	}
	&__apps {
		display: flex;
		&-item {
			margin-right: 20px;
			width: 135px;
			height: 40px;
			background-repeat: no-repeat;
			background-size: contain;
			&:last-child {
				margin-right: 0;
			}
			&--apple {
				background-image: url("../img/theme/apple-app.png");
			}
			&--google {
				background-image: url("../img/theme/google-app.png");
			}
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 55px;
		}
	}
	&__links {
		&-item {
			display: block;
			text-decoration: underline;
			&:hover {
				color: currentColor;
				text-decoration: none;
			}
		}
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		font-size: 0.866667rem;
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}
	}
	&__copyright {
		@include media-breakpoint-down(sm) {
			margin-bottom: 20px;
		}
	}
	&__email-link {
		color: $color-p-pink;
		&:hover {
			color: $color-p-pink;
			text-decoration: none;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 20px;
		}
	}
	&__created{}
}

.magwai-link {
	@extend %link-clicker;
	position: relative;
	color: $color-p-pink;
	&:hover{
		color: transparent;
		text-decoration: none;
		&:after{
			transform: scale(1);
		}
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: auto;
		border-radius: 5px;
		margin-top: -20px;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		background: $url-magwai-logo no-repeat center/100% 100%;

		transform: scale(0);
		transition: transform 0.2s;
	}
}