.header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1001;
	width: 100%;
	&--personal {
		position: relative;
		width: auto;
	}
	&--whiteLogo {
		&::before {
			content: "";
			position: absolute;
			left: 53px;
			bottom: -72px;
			width: 294px;
			height: 294px;
			border-radius: 50%;
			background-color: $color-p-dark-purple;
			transition: 0.2s ease;
		}
		@include media-breakpoint-down(lg) {
			&::before {
				left: -18px;
			}
		}
		@include media-breakpoint-down(sm) {
			&::before {
				top: -75px;
				left: -46px;
				width: 213px;
				height: 213px;
			}
		}
	}
	&__wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 25px;
		padding-bottom: 25px;
		.header--personal & {
			padding-top: 0;
			padding-bottom: 0;
			justify-content: flex-end;
		}
		@include media-breakpoint-down(lg) {
			justify-content: flex-start;
			// padding-top: 45px;
			// padding-bottom: 45px;
		}
		@include media-breakpoint-down(sm) {
			padding-top: 40px;
			padding-bottom: 10px;
			.header--personal & {
				padding-top: 40px;
				padding-bottom: 10px;
				justify-content: space-between;
			}
		}
	}
	&__logo {
		// .header--whiteLogo & {
		// 	position: relative;
		// 	&::before {
		// 		content: "";
		// 		position: absolute;
		// 		right: -57px;
		// 		bottom: -72px;
		// 		width: 294px;
		// 		height: 294px;
		// 		border-radius: 50%;
		// 		background-color: $color-p-dark-purple;
		// 		transition: 0.3s ease;
		// 	}
		// }
		.header--personal & {
			display: none;
		}
		@include media-breakpoint-down(lg) {
			margin-right: auto;
		}
		@include media-breakpoint-down(sm) {
			.header--personal & {
				display: block;
			}
		}
	}
	&__navigation {
		position: absolute;
		top: 50%;
		left: 50%;
		color: $color-text-dark;
		transform: translate(-50%, -50%);
		transition: 0.3s ease;
		@include media-breakpoint-down(lg) {
			opacity: 0;
			visibility: hidden;
			top: 0;
		}
	}
	&__menu-button {
		position: absolute;
		right: 0;
		z-index: -1;
		line-height: 0;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s ease;
		@include media-breakpoint-down(lg) {
			position: relative;
			z-index: 101;
			opacity: 1;
			visibility: visible;
		}
	}
}

.site-nav {
	&__list{
		display: flex;
		align-items: center;
		@include media-breakpoint-down(lg) {
			.site-nav--column & {
				flex-direction: column;
				align-items: center;
			}
			.site-nav--mobile & {
				font-size: 24px;
			}
		}
		@include media-breakpoint-down(sm) {
			.site-nav--footer & {
				flex-direction: column;
			}
		}
	}
	&__item{
		position: relative;
		list-style: none;
		margin: 0 15px;
		&.active {
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $color-p-pink;
			}
		}
		@include media-breakpoint-down(lg) {
			.site-nav--column & {
				margin-bottom: 40px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		@include media-breakpoint-down(sm) {
			.site-nav--footer & {
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.site-nav--column & {
				margin-bottom: 15px;
			}
		}
	}
	&__link{
		padding: 2px 0;
		line-height: 1.33333;
		&:hover {
			color: currentColor;
			text-decoration: none;
		}
	}
	&__sub-menu{}
	&__sub-item{}
	&__sub-link{}
}

.mobile-menu {
	display: none;
	@include media-breakpoint-down(lg) {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		padding: 25px 30px 65px;
		width: 100vw;
		height: 100%;
		background-color: #fff;
		opacity: 0;
		visibility: hidden;
		transition-property: opacity, visibility;
		transition-duration: 0.5s;
		transition-timing-function: ease;
		.nav-showed & {
			opacity: 1;
			visibility: visible;
		}
	}
	@include media-breakpoint-down(sm) {
		padding: 25px 15px 55px;
	}
	&__logo {
		align-self: flex-start;
	}
	&__navigation {
		margin: auto 0;
		color: $color-text-dark;
	}
	&__user-navigation {
		display: none;
		@include media-breakpoint-down(sm) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	// &__login-link {
	// 	margin-bottom: 25px;
	// 	color: $color-text-dark
	// }
	&__find-button {
		display: none;
		@include media-breakpoint-down(sm) {
			display: block;
		}
	}
	&__social {
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}
