// Футер книзу
.wrap-site {
	position: relative;
	display: flex;
	flex-flow: column;
	min-width: 320px;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.main{
	position: relative;
	z-index: 1;
	flex: 1 0 auto;
}
// .Футер книзу
.wrap{
	padding-left: 103px;
	padding-right: 103px;
	width: 100%;
	&--limited {
		margin-left: auto;
		margin-right: auto;
		max-width: $screen-xl;
	}
	&--relative {
		position: relative;
	}
	@include media-breakpoint-down(lg) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@include media-breakpoint-down(sm) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.inner-page {
	padding-top: 200px;
	&--small {
		padding-top: 135px;
	}
}
