extends layouts/_default.pug
block vars
	- const headerMod = 'whiteLogo';
block title
	title Услуга
block content
	div(block="not-found")
		.wrap.wrap--limited.wrap--relative
			ul.parallax-scene.js-scene(data-relative-input="true" aria-hidden="true")
				li.parallax-layer(data-depth="-0.2")
					span.parallax-particle.parallax-particle--light-green(elem="particle" mod="light-green")
				li.parallax-layer(data-depth="0.3")
					span.parallax-particle.parallax-particle--pink(elem="particle" mod="pink")
				li.parallax-layer(data-depth="-0.1")
					span.parallax-particle.parallax-particle--steelblue(elem="particle" mod="steelblue")
			div(elem="wrapper")
				h1(elem="title") Ошибка
				div(elem="error")
					span(elem="number") 4
					span(elem="image")
						img(src="img/theme/404.png" alt="")
						span.decor(elem="decor" aria-hidden="true")
							img(src="img/theme/decor-404.svg" alt="")
					span(elem="number") 4
				a.btn.btn--yellow(elem="link" href="index.html") На главную
				span.decor(elem="waves" aria-hidden="true")
					+svg("decor-waves-gray")
