extends layouts/_default.pug
include components/common/_b-reviews.pug
include components/common/_b-features.pug
block vars
	- const withFooter = true;
block title
	title О проекте
block content
	div(block="index")
		div(elem="first" mix="block:b-first, mod:about")
			.wrap(block="b-first" elem="wrapper")
				ul.parallax-scene.js-scene(data-relative-input="true" aria-hidden="true")
					li.parallax-layer(data-depth="-0.2")
						span.parallax-particle.parallax-particle--light-green(elem="particle" mod="light-green")
					li.parallax-layer(data-depth="0.3")
						span.parallax-particle.parallax-particle--pink(elem="particle" mod="pink")
				div(elem="left" mod="about")
					.responsive-img(elem="image" mod="about")
						img(src="img/media/about/1.jpg" alt="" data-object-fit="cover")
					span.decor(elem="hey" aria-hidden="true")
						+svg("decor-hey")
					span(elem="leaves" mod="about" aria-hidden="true")
						img(src="img/theme/decor-leaves-about.svg")
					.responsive-img(elem="decor-image")
						img(src="img/media/about/4.jpg" alt="" data-object-fit="cover")
					.responsive-img(elem="decor-image" mod="medium")
						img(src="img/media/about/2.jpg" alt="" data-object-fit="cover")
					.responsive-img(elem="decor-image" mod="large")
						img(src="img/media/about/3.jpg" alt="" data-object-fit="cover")
				div(elem="right" mod="about")
					h1(elem="title") О проекте
					div.content-style(elem="text" mod="about")
						p Bobby — это онлайн сервис для поиска домашней передержки животных. Мы позволяем хозяину животного найти ситтера, чтобы оставить своего питомца на время.
						p Мы против клеток зоогостиниц и считаем, что животное должно находиться в привычной домашней обстановке, чтобы не испытывать стресса. Наша миссия — обеспечить животным максимальную заботу на время расставания с хозяином, а хозяину — максимальное спокойствие за своего питомца.
						blockquote(block="b-blockquote" mod="light")
							div(elem="content")
								p “ Мы против клеток зоогостиниц и считаем, что животное должно находиться в привычной домашней обстановке, чтобы не испытывать стресса. “
							footer(elem="footer")
								p Валерий Михалков
								p Креативный директор Bobby the Bulldog
		
		.wrap.wrap--limited
			section(elem="gallery" mod="about" mix="block:b-gallery")
				ul.parallax-scene.js-scene(data-relative-input="true" aria-hidden="true")
					li.parallax-layer(data-depth="0.4")
						span.parallax-particle.parallax-particle--light-green(block="b-gallery" elem="particle" mod="light-green")
					li.parallax-layer(data-depth="-0.2")
						span.parallax-particle.parallax-particle--yellow(block="b-gallery" elem="particle" mod="yellow")
				div.js-gallery(block="b-gallery" elem="grid" mod="with-action")
					a.responsive-img(elem="item" href="img/media/gallery/1.jpg" data-type="image")
						span.icon.icon--eye(elem="icon" aria-hidden="true")
							+svg("eye")
						img.lazyload(data-src="img/media/gallery/1.jpg" src="" alt="" data-object-fit="cover")
					a.responsive-img(elem="item" href="img/media/gallery/2.jpg" data-type="image")
						span.icon.icon--eye(elem="icon" aria-hidden="true")
							+svg("eye")
						img.lazyload(data-src="img/media/gallery/2.jpg" src="" alt="" data-object-fit="cover")
					a.responsive-img(elem="item" href="video/video.mp4" data-type="iframe")
						span.icon.icon--play(elem="icon" aria-hidden="true")
							+svg("play")
						img.lazyload(data-src="img/media/gallery/3.jpg" src="" alt="" data-object-fit="cover")
					a.responsive-img(elem="item" href="img/media/gallery/4.jpg" data-type="image")
						span.icon.icon--eye(elem="icon" aria-hidden="true")
							+svg("eye")
						img.lazyload(data-src="img/media/gallery/4.jpg" src="" alt="" data-object-fit="cover")
					a.responsive-img(elem="item" href="video/video.mp4" data-type="iframe")
						span.icon.icon--play(elem="icon" aria-hidden="true")
							+svg("play")
						img.lazyload(data-src="img/media/gallery/5.jpg" src="" alt="" data-object-fit="cover")
					a.responsive-img(elem="item" href="img/media/gallery/6.jpg" data-type="image")
						span.icon.icon--eye(elem="icon" aria-hidden="true")
							+svg("eye")
						img.lazyload(data-src="img/media/gallery/6.jpg" src="" alt="" data-object-fit="cover")
				div(block="b-gallery" elem="actions")
					button.btn.btn--yellow.js-load-more-gallery(elem="button") Загрузить еще
			div(elem="features")
				+b-features
			div(elem="reviews" mod="about")
				+b-reviews
			div(elem="personal" mix="block:b-personal")
				span.decor(block="b-personal" elem="cube" aria-hidden="true")
					+svg("decor-cube-2")
				div(block="b-personal" elem="table")
					div(elem="header")
						div(elem="cell" mod="head") Наши сотрудники
						div(elem="cell" mod="head") Должность
						div(elem="cell" mod="head") Контакты
						div(elem="cell" mod="head")
					div(elem="body")
						div(elem="row")
							div(elem="cell" mod="name")
								.responsive-img(elem="photo")
									img.lazyload(data-src="img/media/about/personal/1.jpg" src="" alt="" data-object-fit="cover")
								span(elem="name") Мария Сорокова
							div(elem="cell") Информация о персонаже
							div(elem="cell")
								a(elem="phone" href="tel:+79282312353") +7 928 231-23-53
								| , 
								a(elem="email" href="mailto:dog@mail.ru") dog@mail.ru
							div(elem="cell")
								ul(elem="social")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-vk")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-fb")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-inst")
						div(elem="row")
							div(elem="cell" mod="name")
								.responsive-img(elem="photo")
									img.lazyload(data-src="img/media/about/personal/2.jpg" src="" alt="" data-object-fit="cover")
								span(elem="name") Влад Топалов
							div(elem="cell") Информация о персонаже
							div(elem="cell")
								a(elem="phone" href="tel:+79282312353") +7 928 231-23-53
								| , 
								a(elem="email" href="mailto:dog@mail.ru") dog@mail.ru
							div(elem="cell")
								ul(elem="social")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-vk")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-fb")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-inst")
						div(elem="row")
							div(elem="cell" mod="name")
								.responsive-img(elem="photo")
									img.lazyload(data-src="img/media/about/personal/3.jpg" src="" alt="" data-object-fit="cover")
								span(elem="name") Сергей Занудный
							div(elem="cell") Информация о персонаже
							div(elem="cell")
								a(elem="phone" href="tel:+79282312353") +7 928 231-23-53
								| , 
								a(elem="email" href="mailto:dog@mail.ru") dog@mail.ru
							div(elem="cell")
								ul(elem="social")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-vk")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-fb")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-inst")
						div(elem="row")
							div(elem="cell" mod="name")
								.responsive-img(elem="photo")
									img.lazyload(data-src="img/media/about/personal/4.jpg" src="" alt="" data-object-fit="cover")
								span(elem="name") Павел Роскошный
							div(elem="cell") Информация о персонаже
							div(elem="cell")
								a(elem="phone" href="tel:+79282312353") +7 928 231-23-53
								| , 
								a(elem="email" href="mailto:dog@mail.ru") dog@mail.ru
							div(elem="cell")
								ul(elem="social")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-vk")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-fb")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-inst")
						div(elem="row")
							div(elem="cell" mod="name")
								.responsive-img(elem="photo")
									img.lazyload(data-src="img/media/about/personal/5.jpg" src="" alt="" data-object-fit="cover")
								span(elem="name") Татьяна Мельник
							div(elem="cell") Информация о персонаже
							div(elem="cell")
								a(elem="phone" href="tel:+79282312353") +7 928 231-23-53
								| , 
								a(elem="email" href="mailto:dog@mail.ru") dog@mail.ru
							div(elem="cell")
								ul(elem="social")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-vk")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-fb")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-inst")
						div(elem="row")
							div(elem="cell" mod="name")
								.responsive-img(elem="photo")
									img.lazyload(data-src="img/media/about/personal/6.jpg" src="" alt="" data-object-fit="cover")
								span(elem="name") Петр Демченко
							div(elem="cell") Информация о персонаже
							div(elem="cell")
								a(elem="phone" href="tel:+79282312353") +7 928 231-23-53
								| , 
								a(elem="email" href="mailto:dog@mail.ru") dog@mail.ru
							div(elem="cell")
								ul(elem="social")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-vk")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-fb")
									li(elem="social-item")
										a(elem="social-link" href=href)
											+svg("soc-inst")
			section(elem="contacts" mix="block:b-contacts")
				ul.parallax-scene.js-scene(data-relative-input="true" aria-hidden="true")
					li.parallax-layer(data-depth="0.2")
						span.parallax-particle.parallax-particle--pink(block="b-contacts" elem="particle" mod="pink")
					li.parallax-layer(data-depth="-0.3")
						span.parallax-particle.parallax-particle--steelblue(block="b-contacts" elem="particle" mod="steelblue")
				div(block="b-contacts" elem="top")
					div(elem="top-left")
						h2.h1(elem="title") Домашняя передержка собак
						div.content-style(elem="text")
							p Сервис Bobby the Bulldog позволяет найти передержку или домашнюю гостиницу для собак. В нашем каталоге есть как профессиональные домашние зоогостиницы, так и обычные люди, любящие собак и готовые оказать передержку и временно присмотреть за вашей собакой в домашних условиях. Мы собираем рейтинг и реальные отзывы о зоонянях и гостинцах, представленных на сайте. Каждая зооняня проходит проверку Bobby the Bulldog.
					div(elem="top-right")
						ul(elem="info")
							li ООО «Догси.ру»
							li ИНН: 9710025430
							li ОГРН: 1177746194680
				div(block="b-contacts" elem="bottom")
					span.decor(elem="leaves" aria-hidden="true")
						img(src="img/theme/decor-leaves-contacts.svg" alt="")
					div(elem="bottom-left")
						h3.h2 Напишите нам
						form.js-validate(action="")
							.form-row
								.form-group.form-group--half
									label.visuallyhidden(for="name") Как вас зовут
									input.form-control(type="text" name="name" id="name" placeholder="Как вас зовут" required)
									span.form-error-icon
										i.fas.fa-exclamation-circle
								.form-group.form-group--half
									label.visuallyhidden(for="city") Ваш город
									input.form-control(type="text" name="city" id="city" placeholder="Ваш город" required)
									span.form-error-icon
										i.fas.fa-exclamation-circle
							.form-row
								.form-group.form-group--half
									label.visuallyhidden(for="phone") Номер телефона
									input.form-control.js-tel(type="tel" name="phone" id="phone" placeholder="Номер телефона" required)
									span.form-error-icon
										i.fas.fa-exclamation-circle
								.form-group.form-group--half
									label.visuallyhidden(for="email") Электронная почта
									input.form-control(type="email" name="email" id="email" placeholder="Электронная почта")
							.form-group.form-group--mb2
								label.visuallyhidden(for="message") Текст сообщения
								textarea.form-control(name="message" placeholder="Текст сообщения" required)
								span.form-error-icon
									i.fas.fa-exclamation-circle
							div(elem="form-actions")
								button.btn.btn--pink.btn--small Отправить
					div(elem="bottom-right")
						h3 Мы всегда на связи!
						div(elem="list")
							div(elem="list-left")
								div(elem="item")
									span(elem="icon" mod="phone")
										+svg("mobile")
									a(elem="link" mod="phone" href="tel:88008432323") 8 800 843 23 23
									a(elem="link" mod="phone" href="tel:88008432424") 8 800 843 24 24
							div(elem="list-right")
								div(elem="item")
									span(elem="icon" mod="mail")
										+svg("mail")
									a(elem="link" mod="mail" href="mailto:BobbyBulldog@mail.ru") BobbyBulldog@mail.ru
								div(elem="item")
									span(elem="icon" mod="skype")
										+svg("skype")
									a(elem="link" href="skype:BobbyBulldogSkype?call") BobbyBulldogSkype
								div(elem="item")
									span(elem="icon" mod="inst")
										+svg("soc-inst")
									a(elem="link" href=href) @BobbyBulldog