extends layouts/_default.pug
include components/common/_b-article.pug
block vars
	- const withFooter = true;
	- const footerMod = 'small-pt';
block title
	title Статьи
block content
	div.inner-page(block="articles")
		.wrap.wrap--limited.wrap--relative
			ul.parallax-scene.js-scene(data-relative-input="true")
				li.parallax-layer(data-depth="-0.1")
					span.parallax-particle.parallax-particle--light-green(elem="particle" mod="light-green")
				li.parallax-layer(data-depth="0.2")
					span.parallax-particle.parallax-particle--steelblue(elem="particle" mod="steelblue")
				li.parallax-layer(data-depth="0.3")
					span.parallax-particle.parallax-particle--pink(elem="particle" mod="pink")
				li.parallax-layer(data-depth="-0.2")
					span.parallax-particle.parallax-particle--yellow(elem="particle" mod="yellow")
			span.decor(elem="heart" aria-hidden="true")
				+svg("decor-heart")
			div(elem="top")
				h1(elem="title") Статьи
				form.js-submit-on-change(elem="filter" action="/" method="GET")
					.select-style.select-style--row
						label(for="category-select") Категории:
						select.js-select(name="category" id="category-select")
							option(value="1") Все
							option(value="2") Выставки и события
							option(value="3") Особенности ухода
							option(value="4") Советы и лайфхаки
							option(value="5") Социум
			div(elem="grid")
				div(elem="item")
					+b-article({
						img: 'img/media/articles/1.jpg',
						tag: 'Особенности ухода',
						tagColor: 'purple',
						title: 'Шесть качеств настоящего догситтера',
						text: 'Работа по уходу за животными — такая же профессия, как и все остальные'
					})

				div(elem="item")
					+b-article({
						img: 'img/media/articles/2.jpg',
						tag: 'Особенности ухода',
						tagColor: 'yellow',
						title: 'Шесть качеств настоящего догситтера',
						text: 'Работа по уходу за животными — такая же профессия, как и все остальные'
					})

				div(elem="item")
					+b-article({
						img: 'img/media/articles/3.jpg',
						tag: 'Особенности ухода',
						tagColor: 'aqua',
						title: 'Мифы о передержке собак: взгляд догситтера',
						text: 'Нельзя быть догситтером, если у вас есть другая работа'
					})

				div(elem="item")
					+b-article({
						img: 'img/media/articles/4.jpg',
						tag: 'Особенности ухода',
						tagColor: 'yellow',
						title: 'Шесть качеств настоящего догситтера',
						text: 'Работа по уходу за животными — такая же профессия, как и все остальные'
					})

				div(elem="item")
					+b-article({
						img: 'img/media/articles/5.jpg',
						tag: 'Особенности ухода',
						tagColor: 'purple',
						title: 'Шесть качеств настоящего догситтера',
						text: 'Работа по уходу за животными — такая же профессия, как и все остальные'
					})

				div(elem="item")
					+b-article({
						img: 'img/media/articles/6.jpg',
						tag: 'Особенности ухода',
						tagColor: 'pink',
						title: 'Шесть качеств настоящего догситтера',
						text: 'Работа по уходу за животными — такая же профессия, как и все остальные'
					})

				div(elem="item")
					+b-article({
						img: 'img/media/articles/7.jpg',
						tag: 'Особенности ухода',
						tagColor: 'aqua',
						title: 'Шесть качеств настоящего догситтера',
						text: 'Работа по уходу за животными — такая же профессия, как и все остальные'
					})

				div(elem="item")
					+b-article({
						img: 'img/media/articles/8.jpg',
						tag: 'Особенности ухода',
						tagColor: 'purple',
						title: 'Шесть качеств настоящего догситтера',
						text: 'Работа по уходу за животными — такая же профессия, как и все остальные'
					})

				div(elem="item")
					+b-article({
						img: 'img/media/articles/9.jpg',
						tag: 'Особенности ухода',
						tagColor: 'yellow',
						title: 'Шесть качеств настоящего догситтера',
						text: 'Работа по уходу за животными — такая же профессия, как и все остальные'
					})

			div(elem="bottom")
				button.btn.btn--yellow.js-load-more(elem="button") Загрузить еще
				span.decor(elem="arrow" aria-hidden="true")
					+svg("decor-big-arrow")