extends layouts/_default.pug
block vars
	- const withFooter = true;
	- const footerMod = 'small-pt';
block title
	title Статьи
block content
	div.inner-page(block="article")
		.wrap.wrap--limited.wrap--relative
			ul.parallax-scene.js-scene(data-relative-input="true")
				li.parallax-layer(data-depth="-0.1")
					span.parallax-particle.parallax-particle--light-green(elem="particle" mod="light-green")
				li.parallax-layer(data-depth="0.2")
					span.parallax-particle.parallax-particle--steelblue(elem="particle" mod="steelblue")
				li.parallax-layer(data-depth="0.3")
					span.parallax-particle.parallax-particle--pink(elem="particle" mod="pink")
			div(elem="wrapper")
				div(elem="left")
					h1.h2(elem="title") Один день из жизни выгульщика
					div(elem="info")
						span.tag.tag--purple(elem="category") Особенности ухода
						time.date(elem="date" datetime="2020-06-12")
							+svg("calendar")
							| 12 июня 2020
					.responsive-img(elem="image")
						img(src="img/media/article/1.jpg" alt="" data-object-fit="cover")
					div.content-style(elem="content")
						p Саша просыпается в 5:50, умывается и ведет сонную Оливу гулять. Олива — белоснежный самоед. Саша — выгульщик в «Собаке-гуляке». Этот день мы проведем вместе с ней.
						p В 7 у Оливы завтрак: творог с кефиром. Потом Саша завтракает сама и ложится вздремнуть еще на пару часов.
						p К 10 приезжаем мы: расспрашивать и снимать.
						h3 У Оливы Саша в гостях на ситтинге: хозяева в отпуске.
						p В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами. Подходить близко не собирается, поглядывает издалека.
						p Зато Олива новым людям рада: несется на встречу, подставляет бока — чешите! Мы чешем, и уже через пять минут на нас только шерсти, что хватит на пару носков.
						p А Саша пока собирается на выгул к Кузинатре.
						blockquote(block="b-blockquote")
							span.decor(elem="quote" aria-hidden="true")
								+svg("left-quote")
							div(elem="content")
								p “ Я давно была подписана на инстаграм «Собаки-гуляки». Так что когда на третьем курсе я решила искать работу, было понятно, куда идти. Подала заявку, прошла видеоинтервью и тренинг. Все получилось.. “
							footer(elem="footer")
								p Саша Мельникова
								p Cтудентка переводческого факультета МГЛУ
							span.decor(elem="rectangle" aria-hidden="true")
								+svg("decor-rectangle")
						p Саша берет с собой экипировку: страхующий ошейник, поводок и пояс, которые крепятся между собой альпинистскими карабинами. Воду и миску. Много-много пакетов для какашек. Зарядку, чтобы всегда быть на связи и вовремя отправлять отчеты. Четыре пары ключей: обычно хозяева делают дубликаты, которые хранятся у постоянного выгульщика. И аптечку с перекисью, бинтом, пластырем и влажными салфетками — на всякий случай. Рюкзак получается увесистый.
				div(elem="right")
					section(elem="popular" mix="block:b-popular-article")
						h2.h3(block="b-popular-article" elem="title") Популярные статьи
						ul(block="b-popular-article" elem="list")
							li(elem="item")
								a(elem="link" href=href)
									.responsive-image(elem="image")
										img(src="img/media/article/2.jpg" alt="" data-object-fit="cover")
									.h6(elem="name") Один день из жизни выгульщика
							li(elem="item")
								a(elem="link" href=href)
									.responsive-image(elem="image")
										img(src="img/media/article/3.jpg" alt="" data-object-fit="cover")
									.h6(elem="name") Что ты за пёс?
							li(elem="item")
								a(elem="link" href=href)
									.responsive-image(elem="image")
										img(src="img/media/article/4.jpg" alt="" data-object-fit="cover")
									.h6(elem="name") На улице жара. Как защитить собаку от теплового удара?
							li(elem="item")
								a(elem="link" href=href)
									.responsive-image(elem="image")
										img(src="img/media/article/5.jpg" alt="" data-object-fit="cover")
									.h6(elem="name") Собака крушит дом: как решить проблему?

					section(elem="instagram" mix="block:b-instagram")
						h2.h3(block="b-instagram" elem="title") Обновления в 
							span instagram
						div(block="b-instagram" elem="grid")
							a(elem="item" href=href)
								.responsive-img(elem="image")
									img(src="img/media/article/6.jpg" alt="" data-object-fit="cover")
							a(elem="item" href=href)
								.responsive-img(elem="image")
									img(src="img/media/article/7.jpg" alt="" data-object-fit="cover")
							a(elem="item" href=href)
								.responsive-img(elem="image")
									img(src="img/media/article/8.jpg" alt="" data-object-fit="cover")
							a(elem="item" href=href)
								.responsive-img(elem="image")
									img(src="img/media/article/2.jpg" alt="" data-object-fit="cover")
							a(elem="item" href=href)
								.responsive-img(elem="image")
									img(src="img/media/article/9.jpg" alt="" data-object-fit="cover")
							a(elem="item" href=href)
								.responsive-img(elem="image")
									img(src="img/media/article/10.jpg" alt="" data-object-fit="cover")
			div(elem="bottom")
				a.btn.btn--yellow(elem="button" href="articles.html") Все статьи
			span.decor(elem="triangle" aria-hidden="true")
				+svg("decor-triangle")