extends layouts/_default.pug
block vars
	- const landscapeScreen = true;
block title
	title Авторизация
block content
	div(block="auth")
		.wrap.wrap--limited(elem="wrapper")
			ul.parallax-scene.js-scene(data-relative-input="true")
				li.parallax-layer(data-depth="-0.1")
					span.parallax-particle.parallax-particle--light-green(elem="particle" mod="light-green")
				li.parallax-layer(data-depth="0.2")
					span.parallax-particle.parallax-particle--pink(elem="particle" mod="pink")
				
			div(elem="item" mod="dimmed")
				h2(elem="title") Авторизация
				form.form.js-validate(elem="form" action="")
					.form-group
						label.visuallyhidden(for="auth-email") Электронная почта
						input.form-control(type="text" name="email" id="auth-email" placeholder="Электронная почта" required)
						span.form-error-icon
							i.fas.fa-exclamation-circle
					.form-group
						label.visuallyhidden(for="auth-pass") Пароль
						input.form-control(type="password" name="password" id="auth-pass" placeholder="Пароль" required)
						span.form-error-icon
							i.fas.fa-exclamation-circle
					.form-group.form-group--mb2.form-group--center
						a(elem="link" href=href) Забыли пароль?
					button.btn.btn--pink Войти
				div(elem="social")
					.h6(elem="social-title") Или войдите через соц.сети
					+b-social-list('small')
				span.decor(elem="zig-line" aria-hidden="true")
					+svg("decor-zigline-small")
			div(elem="item")
				h2(elem="title") Регистрация
				form.form.js-validate(elem="form" action)
					.form-group
						label.visuallyhidden(for="reg-name") ФИО
						input.form-control.form-control--dimmed(type="text" name="reg-name" id="reg-name" placeholder="ФИО" required)
						span.form-error-icon
							i.fas.fa-exclamation-circle
					.form-group
						label.visuallyhidden(for="reg-email") Электронная почта
						input.form-control.form-control--dimmed(type="text" name="email" id="reg-email" placeholder="Электронная почта" required)
						span.form-error-icon
							i.fas.fa-exclamation-circle
					.form-row
						.form-group.form-group--mb2.form-group--half
							label.visuallyhidden(for="reg-pass") Пароль
							input.form-control.form-control--dimmed(type="password" name="password" id="reg-pass" placeholder="Пароль" required)
							span.form-error-icon
								i.fas.fa-exclamation-circle
						.form-group.form-group--mb2.form-group--half
							label.visuallyhidden(for="reg-pass-repeat") Повторите пароль
							input.form-control.form-control--dimmed(type="password" name="passwordRepeat" id="reg-pass-repeat" placeholder="Повторите пароль" data-compare-name="password" required)
							span.form-error-icon
								i.fas.fa-exclamation-circle
					button.btn.btn--yellow Зарегистрироваться
				div(elem="social")
					div.h6(elem="social-title") Или зарегистрируйтесь через соц.сети
					+b-social-list('small, dimmed-item')
				span.decor(elem="cube" aria-hidden="true")
					+svg("decor-cube-auth")