extends layouts/_customer-lk.pug

block vars
	- const activeMenuItem = 'notification';
	- const modContent = 'pr';

block title
	title Оповещения
block content
	h1.h5(elem="title") Настройка оповещений
	div.js-scroll-block(elem="scroll-block" mod="pr-40")
		form.form.js-notification-form(action="")
			div(block="b-notification-table")
				div(elem="header")
					div(elem="row")
						div(elem="cell" mod="header") оповещение
						div(elem="cell" mod="header") e-mail
						div(elem="cell" mod="header") sms
				div(elem="body")
					div(elem="row")
						div(elem="cell") Новые сообщения от догситтеров
						div(elem="cell" mod="control")
							+checkbox({mod: 'dimmed'})(name="notification-1-email" checked)
						div(elem="cell" mod="control")
							+checkbox({mod: 'dimmed'})(name="notification-1-sms" checked)
					div(elem="row")
						div(elem="cell") Уведомления от администрации портала
						div(elem="cell" mod="control")
							+checkbox({mod: 'dimmed'})(name="notification-2-email")
						div(elem="cell" mod="control")
							+checkbox({mod: 'dimmed'})(name="notification-2-sms" checked)
					div(elem="row")
						div(elem="cell") Изменение статуса заявок и договоров
						div(elem="cell" mod="control")
							+checkbox({mod: 'dimmed'})(name="notification-3-email" checked)
						div(elem="cell" mod="control")
							+checkbox({mod: 'dimmed'})(name="notification-3-sms")
					div(elem="row")
						div(elem="cell") Новые сообщения в online-чате
						div(elem="cell" mod="control")
							+checkbox({mod: 'dimmed'})(name="notification-4-email" checked)
						div(elem="cell" mod="control")
							+checkbox({mod: 'dimmed'})(name="notification-4-sms")
					div(elem="row")
						div(elem="cell") Рассылка новостей и статей
						div(elem="cell" mod="control")
							+checkbox({mod: 'dimmed'})(name="notification-5-email" checked)
						div(elem="cell" mod="control")
							+checkbox({mod: 'dimmed'})(name="notification-5-sms" checked)
			button.btn.btn--yellow Сохранить настройки
