extends layouts/_customer-lk.pug

block vars
	- const activeMenuItem = 'user';

block title
	title Личные данные
block content
	div(elem="grid")
		div(elem="left")
			h1.h5(elem="title" mod="mb-big") Моя страница
			div.js-scroll-block(elem="scroll-block" mod="data")
				div(block="b-personal-data")
					div(elem="item" mod="dimmed, h-100")
						form.form.js-validate(action="")
							.form-group.form-group--mb2.form-group--center
								label.js-avatar-input(block="avatar-field")
									div.responsive-img.js-avatar-image(elem="image")
										img(src="img/media/user-photo.jpg" alt="" data-object-fit="cover")
									input.visuallyhidden(type="file" name="avatar" accept="image/jpeg, image/png" required)
									span(elem="control")
										+svg("photocam")
							.form-group
								label.visuallyhidden(for="name") ФИО
								input.form-control(type="text" name="name" id="name" placeholder="ФИО" required)
								span.form-error-icon
									i.fas.fa-exclamation-circle
							.form-group
								label.visuallyhidden(for="email") Электронная почта
								input.form-control(type="email" name="email" id="email" placeholder="Электронная почта" required)
								span.form-error-icon
									i.fas.fa-exclamation-circle
							.form-group
								label.visuallyhidden(for="date") Дата рождения
								input.form-control.form-control--calendar.js-birthday-calendar(type="text" name="date" id="date" placeholder="Дата рождения" autocomplete="off" readonly required data-position="top left" data-language="ru" data-my-date="2020-11-07")
							.form-group
								label.visuallyhidden(for="phone") Номер телефона
								input.form-control.js-tel(type="tel" name="phone" id="phone" placeholder="Номер телефона" required)
								span.form-error-icon
									i.fas.fa-exclamation-circle
							button.btn.btn--clear Сохранить изменения
					div(elem="item" mod="pink, center, h-100")
						form.form.js-validate(action="")
							.form-title.h5 Изменить пароль
							.form-group
								label.visuallyhidden(for="old-pass") Старый пароль
								input.form-control(type="password" name="old-pass" id="old-pass" placeholder="Старый пароль" required)
								span.form-error-icon
									i.fas.fa-exclamation-circle
							.form-group
								label.visuallyhidden(for="new-pass") Новый пароль
								input.form-control(type="password" name="new-pass" id="new-pass" placeholder="Новый пароль" required)
								span.form-error-icon
									i.fas.fa-exclamation-circle
							.form-group.form-group--mb2
								label.visuallyhidden(for="repeat-new-pass") Повторите пароль
								input.form-control(type="password" name="repeat-new-pass" id="repeat-new-pass" placeholder="Повторите пароль" data-compare-name="new-pass" required)
								span.form-error-icon
									i.fas.fa-exclamation-circle
							button.btn.btn--dark-purple Сохранить пароль
