extends layouts/_executor-lk.pug
include components/common/_b-personal-material.pug

block vars
	- const activeMenuItem = 'materials';

block title
	title Материалы
block content
	h1.h5(elem="title") Полезные материалы
	div(elem="gray-wrapper")
		div.js-scroll-block(elem="scroll-block" mod="in-gray")
			div(elem="materials-grid")
				+b-personal-material({
					name: '9 преимуществ беззернового корма',
					text: 'В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами.',
					type: 'Excel',
					size: '2.1 Мб'
				})

				+b-personal-material({
					name: 'Как ухаживать за шерстью собак',
					text: 'В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами. Подходить близко не собирается, поглядывает издалека. Зато Олива новым людям рада: несется на встречу, подставляет бока — чешите!',
					type: 'Word',
					size: '2.1 Мб'
				})

				+b-personal-material({
					name: 'Самые маленькие собаки для квартиры',
					text: 'В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами. Подходить близко не собирается, поглядывает издалека. Зато Олива новым людям рада: несется на встречу, подставляет бока — чешите!',
					type: 'PDF',
					size: '2.1 Мб'
				})

				+b-personal-material({
					name: 'Зачем собаке переноска',
					text: 'В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами.',
					type: 'Excel',
					size: '2.1 Мб'
				})

				+b-personal-material({
					name: 'Как сохранить дом в чистоте',
					text: 'В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами. Подходить близко не собирается, поглядывает издалека. Зато Олива новым людям рада: несется на встречу, подставляет бока — чешите!',
					type: 'Excel',
					size: '2.1 Мб'
				})

				+b-personal-material({
					name: 'У Оливы Саша в гостях на ситтинге',
					text: 'В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами.',
					type: 'Word',
					size: '2.1 Мб'
				})
