extends layouts/_executor-lk.pug
include components/common/_b-personal-pet-card.pug

block vars
	- const activeMenuItem = 'pets';

block title
	title Питомцы
block content
	div(elem="grid")
		div(elem="left")
			h1.h5(elem="title") Мои питомцы
			div.js-scroll-block(elem="scroll-block")
				div(elem="list")
					+b-personal-pet-card({
						img: 'img/media/pets/1.jpg',
						name: 'Чакки',
						type: 'собака',
						breed: 'такса'
					})

					+b-personal-pet-card({
						img: 'img/media/pets/2.jpg',
						name: 'Марк',
						type: 'собака',
						breed: 'немецкая овчарка'
					})

					+b-personal-pet-card({
						img: 'img/media/pets/3.jpg',
						name: 'Куля',
						type: 'собака',
						breed: 'шпиц'
					})

					+b-personal-pet-card({
						img: 'img/media/pets/1.jpg',
						name: 'Чакки',
						type: 'собака',
						breed: 'такса'
					})

					+b-personal-pet-card({
						img: 'img/media/pets/2.jpg',
						name: 'Марк',
						type: 'собака',
						breed: 'немецкая овчарка'
					})

					+b-personal-pet-card({
						img: 'img/media/pets/3.jpg',
						name: 'Куля',
						type: 'собака',
						breed: 'шпиц'
					})

					+b-personal-pet-card({
						img: 'img/media/pets/1.jpg',
						name: 'Чакки',
						type: 'собака',
						breed: 'такса'
					})

					+b-personal-pet-card({
						img: 'img/media/pets/2.jpg',
						name: 'Марк',
						type: 'собака',
						breed: 'немецкая овчарка'
					})

					+b-personal-pet-card({
						img: 'img/media/pets/3.jpg',
						name: 'Куля',
						type: 'собака',
						breed: 'шпиц'
					})

		div(elem="right")
			div.js-add-pet(block="b-add-pet")
				button.btn.btn--close.btn--circle.js-add-pet-toggle(elem="toggle-button")
				form.form.js-validate(elem="form" action="")
					.form-title.h5 Добавить питомца
					.form-row
						.form-group.form-group--auto
							label.js-avatar-input(block="avatar-field" mod="small")
								div.responsive-img.js-avatar-image(elem="image")
								input.visuallyhidden(type="file" name="avatar" accept="image/jpeg, image/png" required)
								span(elem="control")
									+svg("photocam")
						.form-wrapper.form-wrapper--ml
							.form-row
								.form-group.form-group--half
									.select-style.select-style--white-br
										label.visuallyhidden(for="pet-type") Тип питомца
										select.js-select(name="pet-type" id="pet-type" data-placeholder="Тип питомца" required)
											option
											option(value="1") Собака
											option(value="2") Кошка
								.form-group.form-group--half
									label.visuallyhidden(for="pet-name") Кличка питомца
									input.form-control(type="text" name="pet-name" id="pet-name" placeholder="Кличка питомца" required)
							.form-group
									label.visuallyhidden(for="pet-breed") Порода питомца
									input.form-control(type="text" name="pet-breed" id="pet-breed" placeholder="Порода питомца" required)
					.form-group
							label.visuallyhidden(for="pet-friendly") Животные, которые могут находится вместе с ним
							input.form-control(type="text" name="pet-friendly" id="pet-friendly" placeholder="Животные, которые могут находится вместе с ним" required)
					.form-row
						.form-group.form-group--third
							.select-style.select-style--white-br
								label.visuallyhidden(for="pet-size") Размер
								select.js-select(name="pet-size" id="pet-size" data-placeholder="Размер" required)
									option
									option(value="1") Маленький
									option(value="2") Средний
									option(value="3") Большой
						.form-group.form-group--third
							.select-style.select-style--white-br
								label.visuallyhidden(for="pet-gender") Пол
								select.js-select(name="pet-gender" id="pet-gender" data-placeholder="Пол" required)
									option
									option(value="1") Муж
									option(value="2") Жен
						.form-group.form-group--third
							label.visuallyhidden(for="pet-age") Возраст
							input.form-control(type="text" name="pet-age" id="pet-age" placeholder="Возраст" required)
					.form-group.form-group--grow-1
						label.visuallyhidden(for="pet-features") Особенности питомца
						textarea.form-control.form-control--medium.form-control--100(name="pet-features" id="pet-features" placeholder="Особенности питомца")
					.form-row.form-row--wrap
						.form-group.form-group--half
							+checkbox()(name="pet-special-1")
								| Стерилизован/кастрирован
						.form-group.form-group--half
							+checkbox()(name="pet-special-2")
								| Остается ли питомец один дома
						.form-group.form-group--half
							+checkbox()(name="pet-special-3")
								| Дружелюбен к другим животным
						.form-group.form-group--half
							+checkbox()(name="pet-special-4")
								| Имеет необходимые вакцинации
						.form-group.form-group--half
							+checkbox()(name="pet-special-5")
								| Дружелюбен к детям до 10 лет
					button.btn.btn--yellow Добавить питомца 