extends layouts/_executor-lk.pug

block vars
	- const activeMenuItem = 'tests';

block title
	title Тесты
block content
	h1.h5(elem="title") Тесты на квалификацию
	div(elem="gray-wrapper")
		div.js-scroll-block(elem="scroll-block" mod="in-gray")
			div(block="b-personal-test-list")
				div(elem="item" mod="success")
					div(elem="top")
						span(elem="status")
							i.fa.fa-check(elem="status-icon")
							span(elem="status-text") Тест сдан
						span(elem="results") 19 / 20
					span.h6(elem="name") Хорошо ли вы разбираетесь в собаках?
					div(elem="text")
						p В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами.
					a.btn.btn--yellow(elem="button" href="executor-lk-active-test.html") Пройти тест
				div(elem="item" mod="success")
					div(elem="top")
						span(elem="status")
							i.fa.fa-check(elem="status-icon")
							span(elem="status-text") Тест сдан
						span(elem="results") 18 / 20
					span.h6(elem="name") Что думает о Вас Ваша собака?
					div(elem="text")
						p В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами.
					a.btn.btn--yellow(elem="button" href="executor-lk-active-test.html") Пройти тест
				div(elem="item")
					div(elem="top")
						span(elem="status")
							i.fa.fa-check(elem="status-icon")
							span(elem="status-text") Тест не сдан
						span(elem="results") 13 / 20
					span.h6(elem="name") Насколько умна Ваша собака? ( “THE DOG IQ TEST” )
					div(elem="text")
						p В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами.
					a.btn.btn--yellow(elem="button" href="executor-lk-active-test.html") Пройти тест
				div(elem="item" mod="success")
					div(elem="top")
						span(elem="status")
							i.fa.fa-check(elem="status-icon")
							span(elem="status-text") Тест сдан
						span(elem="results") 18 / 20
					span.h6(elem="name") 10 щенков — 10 пород собак
					div(elem="text")
						p В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами.
					a.btn.btn--yellow(elem="button" href="executor-lk-active-test.html") Пройти тест
				div(elem="item")
					div(elem="top")
						span(elem="status")
							i.fa.fa-check(elem="status-icon")
							span(elem="status-text") Тест не сдан
						span(elem="results") 13 / 20
					span.h6(elem="name") Вы стали собачником, если…
					div(elem="text")
						p В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами.
					a.btn.btn--yellow(elem="button" href="executor-lk-active-test.html") Пройти тест
				div(elem="item" mod="success")
					div(elem="top")
						span(elem="status")
							i.fa.fa-check(elem="status-icon")
							span(elem="status-text") Тест сдан
						span(elem="results") 20 / 20
					span.h6(elem="name") Бесплатный онлайн тест про собак
					div(elem="text")
						p В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами.
					a.btn.btn--yellow(elem="button" href="executor-lk-active-test.html") Пройти тест