extends layouts/_executor-lk.pug
include components/common/_b-chat.pug
include components/common/_b-personal-order.pug

block vars
	- const activeMenuItem = 'orders';

block title
	title Мои заявки
block content
	div(elem="grid")
		div.js-tabs(block="b-tabs" mod="personal" data-hash)
			ul(elem="navigation")
				li(elem="navigation-item")
					a(elem="navigation-link" href="#personal-tab1") Сейчас выполняются
				li(elem="navigation-item")
					a(elem="navigation-link" href="#personal-tab2") История заявок
				

			div(elem="progress-line")
				span.js-tabs-thumb(elem="thumb")

			div.js-tabs-content(elem="content" id="personal-tab1")
				div.js-scroll-block(block="b-personal-orders")
					div(elem="list")
						div(elem="item")
							+b-personal-order({
								name: 'Варламов Тимур',
								online: true,
								status: '16.06.2020 - 19.06.2020',
								service: 'Догситтинг',
								type: 'собака',
								breed: 'Немецкая овчарка',
								active: true
							})
						div(elem="item")
							+b-personal-order({
								name: 'Елена Премудрая',
								online: false,
								notification: 2,
								status: '16.06.2020 - 19.06.2020',
								service: 'Догситтинг',
								type: 'собака',
								breed: 'Лабрадор'
							})
						div(elem="item")
							+b-personal-order({
								name: 'Рината Васильева',
								online: true,
								notification: 1,
								status: '16.06.2020 - 19.06.2020',
								service: 'Догситтинг',
								type: 'собака',
								breed: 'Лабрадор, Спаниэль'
							})
						div(elem="item")
							+b-personal-order({
								name: 'Олег Перекрестов',
								online: false,
								status: '16.06.2020 - 19.06.2020',
								service: 'Догситтинг',
								type: 'собака',
								breed: 'Лабрадор, Спаниэль'
							})
			div.js-tabs-content(elem="content" id="personal-tab2")
				div.js-scroll-block(block="b-personal-orders")
					div(elem="list")
						div(elem="item")
							+b-personal-order({
								name: 'Варламов Тимур',
								online: true,
								status: 'Завершено',
								service: 'Догситтинг',
								type: 'собака',
								breed: 'Немецкая овчарка'
							})
						div(elem="item")
							+b-personal-order({
								name: 'Елена Премудрая',
								online: false,
								notification: 2,
								status: 'Завершено',
								service: 'Догситтинг',
								type: 'собака',
								breed: 'Лабрадор'
							})
						div(elem="item")
							+b-personal-order({
								name: 'Рината Васильева',
								online: true,
								notification: 1,
								status: 'Завершено',
								service: 'Догситтинг',
								type: 'собака',
								breed: 'Лабрадор, Спаниэль'
							})
						div(elem="item")
							+b-personal-order({
								name: 'Олег Перекрестов',
								online: false,
								status: 'Завершено',
								service: 'Догситтинг',
								type: 'собака',
								breed: 'Лабрадор, Спаниэль'
							})
						div(elem="item")
							+b-personal-order({
								name: 'Рината Васильева',
								online: true,
								notification: 1,
								status: 'Завершено',
								service: 'Догситтинг',
								type: 'собака',
								breed: 'Лабрадор, Спаниэль'
							})
		div(elem="right" mod="green")
			+b-chat