extends layouts/_executor-lk.pug
include components/common/_b-personal-doc.pug

block vars
	- const activeMenuItem = 'docs';

block title
	title Документы
block content
	h1.h5(elem="title") Мои документы
	div(elem="gray-wrapper")
		div.js-scroll-block(elem="scroll-block" mod="in-gray")
			div(elem="list" mod="in-gray")
				+b-personal-doc({
					mod: 'excel',
					name: 'Договор оказания услуг, работ',
					type: 'Excel',
					size: '2.1 Мб'
				})

				+b-personal-doc({
					mod: 'word',
					name: 'Исковые заявления, жалобы, ходатайства, претензии',
					type: 'Word',
					size: '122.1 Мб'
				})

				+b-personal-doc({
					mod: 'excel',
					name: 'Трудовой договор, контракт',
					type: 'Excel',
					size: '5.3 Мб'
				})

				+b-personal-doc({
					mod: 'word',
					name: 'Договор аренды предприятия и его подразделений',
					type: 'Word',
					size: '1.2 Мб'
				})

				+b-personal-doc({
					mod: 'word',
					name: 'Бухгалтерская отчётность, бухгалтерский учёт',
					type: 'Word',
					size: '2.6 Мб'
				})

				+b-personal-doc({
					mod: 'excel',
					name: 'Договор оказания услуг, работ',
					type: 'Excel',
					size: '2.1 Мб'
				})

				+b-personal-doc({
					mod: 'word',
					name: 'Исковые заявления, жалобы, ходатайства, претензии',
					type: 'Word',
					size: '122.1 Мб'
				})

				+b-personal-doc({
					mod: 'excel',
					name: 'Трудовой договор, контракт',
					type: 'Excel',
					size: '5.3 Мб'
				})

				+b-personal-doc({
					mod: 'word',
					name: 'Договор аренды предприятия и его подразделений',
					type: 'Word',
					size: '1.2 Мб'
				})

				+b-personal-doc({
					mod: 'word',
					name: 'Бухгалтерская отчётность, бухгалтерский учёт',
					type: 'Word',
					size: '2.6 Мб'
				})
