extends layouts/_executor-lk.pug

block vars
	- const activeMenuItem = 'tests';

block title
	title Тесты
block content
	h1.h5(elem="title") Тесты на квалификацию
	div(elem="gray-wrapper")
		div.js-scroll-block(elem="scroll-block" mod="in-gray, center-content")
			div(block="b-personal-active-test")
				.h2(elem="name") Тест: понимаете ли вы собак?
				span(elem="progress") Вопрос 
					span(elem="progress-value") 2
					|  из 
					span(elem="progress-value") 12
				div.h6(elem="question") Пёс поднял заднюю лапу и «сделал свои дела» на ваше кресло. Что это значит?
				div(elem="answers")
					label(elem="answer")
						input.visuallyhidden(type="radio" name="question-2")
						span(elem="answer-toggle") 1. Пометил территорию
					label(elem="answer")
						input.visuallyhidden(type="radio" name="question-2")
						span(elem="answer-toggle") 2. Пёс невоспитанный и просто нагадил
					label(elem="answer")
						input.visuallyhidden(type="radio" name="question-2")
						span(elem="answer-toggle") 3. Пёс хочет перебить ваш запах
				div(elem="actions")
					button.btn.js-test-prev-question(elem="button" mod="prev") Предыдущий вопрос
					button.btn.btn--yellow.js-test-next-question(elem="button" mod="next") Следующий вопрос