extends layouts/_executor-lk.pug
include components/common/_b-personal-service.pug
include components/common/_b-add-service.pug

block vars
	- const activeMenuItem = 'services';

block title
	title Мои услуги
block content
	div(elem="grid" mod="h-100")
		div(elem="left")
			h1.h5(elem="title") Мои услуги
			div.js-scroll-block(elem="scroll-block")
				div(elem="list")
					+b-personal-service({
						id: 'service-1',
						active: true,
						name: 'Догситтинг',
						price: 14,
						description: 'У нас есть ситтеры для всех типов собак: и для маленьких йорков, и для больших овчарок, и для щенков, и для пожилых питомцев.'
					})

					+b-personal-service({
						id: 'service-2',
						active: false,
						name: 'Ветеринарная помощь',
						price: 22,
						description: 'У нас есть ситтеры для всех типов собак: и для маленьких йорков, и для больших овчарок, и для щенков, и для пожилых питомцев.'
					})

					+b-personal-service({
						id: 'service-3',
						active: true,
						name: 'Вечерний выгул собак',
						price: 20,
						description: 'У нас есть ситтеры для всех типов собак: и для маленьких йорков, и для больших овчарок, и для щенков, и для пожилых питомцев.'
					})

					+b-personal-service({
						id: 'service-4',
						active: true,
						name: 'Догситтинг',
						price: 14,
						description: 'У нас есть ситтеры для всех типов собак: и для маленьких йорков, и для больших овчарок, и для щенков, и для пожилых питомцев.'
					})

					+b-personal-service({
						id: 'service-5',
						active: false,
						name: 'Ветеринарная помощь',
						price: 22,
						description: 'У нас есть ситтеры для всех типов собак: и для маленьких йорков, и для больших овчарок, и для щенков, и для пожилых питомцев.'
					})

					+b-personal-service({
						id: 'service-6',
						active: true,
						name: 'Вечерний выгул собак',
						price: 20,
						description: 'У нас есть ситтеры для всех типов собак: и для маленьких йорков, и для больших овчарок, и для щенков, и для пожилых питомцев.'
					})
		div(elem="right" mod="yellow")
			+b-add-service

