extends layouts/_executor-lk.pug
include components/common/_b-personal-doc.pug

block vars
	- const activeMenuItem = 'safety';

block title
	title Безопасность
block content
	h1.h5(elem="title") Безопасность
	div(elem="gray-wrapper" mod="no-pr")
		div(elem="grid")
			div.js-scroll-block(elem="scroll-block" mod="in-gray")
				div(block="b-personal-safety")
					div(elem="message" mod="success")
						span(elem="icon")
							i.fa.fa-check
						.h6(elem="status") Верификация пройдена!
						div(elem="text")
							p Вы прошли верификацию, теперь пользователи понимают, что страница не поддельная, а ответ от вашего аккаунта — официальный.
					div(elem="files-grid")
						div.js-personal-file(block="b-personal-file")
							a.responsive-img(elem="image" href=href target="_blank")
								img(src="img/media/documents/1.jpg" alt="" data-object-fit="cover")
								span.icon.icon--eye(elem="eye" aria-hidden="true")
									+svg("eye")
							div(elem="bottom")
								span(elem="name") Скан паспорта
								div.js-delete(elem="delete" mix="block:b-delete")
									button.btn.btn--dimmed.btn--circle-small.js-delete-toggle(block="b-delete" elem="toggle")
										+svg("ic-trash")
									div.dropdown.js-delete-dropdown(block="b-delete" elem="dropdown" mod="small, top-center")
										div(elem="header") Удалить документ "Скан паспорта"?
										div(elem="actions")
											button.btn.btn--clear.js-delete-yes(elem="button" mod="yes" data-class-element="js-personal-file" data-url="/") Да
											button.btn.btn--clear.js-delete-no(elem="button" mod="no") Нет
						div.js-personal-file(block="b-personal-file")
							a.responsive-img(elem="image" href=href target="_blank")
								img(src="img/media/documents/2.jpg" alt="" data-object-fit="cover")
								span.icon.icon--eye(elem="eye" aria-hidden="true")
									+svg("eye")
							div(elem="bottom")
								span(elem="name") ИНН
								div.js-delete(elem="delete" mix="block:b-delete")
									button.btn.btn--dimmed.btn--circle-small.js-delete-toggle(block="b-delete" elem="toggle")
										+svg("ic-trash")
									div.dropdown.js-delete-dropdown(block="b-delete" elem="dropdown" mod="small, top-center")
										div(elem="header") Удалить документ "ИНН"?
										div(elem="actions")
											button.btn.btn--clear.js-delete-yes(elem="button" mod="yes" data-class-element="js-personal-file" data-url="/") Да
											button.btn.btn--clear.js-delete-no(elem="button" mod="no") Нет
						div.js-personal-file(block="b-personal-file")
							a.responsive-img(elem="image" href=href target="_blank")
								img(src="img/media/documents/3.jpg" alt="" data-object-fit="cover")
								span.icon.icon--eye(elem="eye" aria-hidden="true")
									+svg("eye")
							div(elem="bottom")
								span(elem="name") Диплом
								div.js-delete(elem="delete" mix="block:b-delete")
									button.btn.btn--dimmed.btn--circle-small.js-delete-toggle(block="b-delete" elem="toggle")
										+svg("ic-trash")
									div.dropdown.js-delete-dropdown(block="b-delete" elem="dropdown" mod="small, top-center")
										div(elem="header") Удалить документ "Диплом"?
										div(elem="actions")
											button.btn.btn--clear.js-delete-yes(elem="button" mod="yes" data-class-element="js-personal-file" data-url="/") Да
											button.btn.btn--clear.js-delete-no(elem="button" mod="no") Нет
			div(elem="right" mod="pink, pass")
				div(block="b-change-password")
					form.form.js-validate(elem="form" action="")
						.form-title.h5 Изменить пароль
						.form-group
							label.visuallyhidden(for="old-pass") Старый пароль
							input.form-control(type="password" name="old-pass" id="old-pass" placeholder="Старый пароль" required)
							span.form-error-icon
								i.fas.fa-exclamation-circle
						.form-group
							label.visuallyhidden(for="new-pass") Новый пароль
							input.form-control(type="password" name="new-pass" id="new-pass" placeholder="Новый пароль" required)
							span.form-error-icon
								i.fas.fa-exclamation-circle
						.form-group.form-group--mb2
							label.visuallyhidden(for="repeat-new-pass") Повторите пароль
							input.form-control(type="password" name="repeat-new-pass" id="repeat-new-pass" placeholder="Повторите пароль" data-compare-name="new-pass" required)
							span.form-error-icon
								i.fas.fa-exclamation-circle
						button.btn.btn--dark-purple Сохранить пароль

