extends layouts/_executor-lk.pug

block vars
	- const activeMenuItem = 'user'

block title
	title Личные данные
block content
	div(elem="grid")
		div(elem="left")
			h1.h5(elem="title") Моя страница
			div.js-scroll-block(elem="scroll-block")
				div(block="b-personal-data" mod="h-100")
					div(elem="item" mod="hollow, flex")
						form(elem="ad-form" action="")
							.form-group
								label.visuallyhidden(for="ad-title") Заголовок объявления
								textarea.form-control.form-control--dimmed.form-control--medium(name="ad-title" id="ad-title" placeholder="Заголовок объявления")
							.form-group.form-group--mb0.form-group--grow-1
								label.visuallyhidden(for="ad-text") Текст объявления
								textarea.form-control.form-control--dimmed.form-control--100(name="ad-text" id="ad-text" placeholder="Текст объявления")
						div(elem="executor-address")
							.form-group
								input.form-control.form-control--dimmed.form-control--address(type="text" placeholder="Адрес проживания")
							div(elem="executor-map")
					div(elem="wrapper")
						form(elem="file-form" action="")
							div.js-file-input(block="file-input" mod="big" data-max="4")
								div(elem="wrapper")
									div.js-file-input-list(elem="list")
										div.hidden.js-file-input-dropdown(elem="dropdown")
											button.js-file-input-dropdown-button(elem="dropdown-button" type="button")
												span.js-file-input-dropdown-value(elem="dropdown-value") +3
											div(elem="dropdown-content")
												div(elem="dropdown-header") Ваши фото и видео
												div.js-file-input-dropdown-list(elem="list")
									label(elem="control")
										input.js-file-input-control(type="file" name="files" accept="image/jpeg, image/png, video/mp4" multiple)
										span.fas.fa-plus(elem="add")
								div(elem="description")
									p(elem="types") Jpeg, Png, Gif до 2 Мб / MP4 до 50 Мб
						form(elem="item" mod="pink, addit-info" action="")
							.form-group
								.select-style.select-style--white-br
									select.js-select(name="house-type" data-placeholder="Тип жилья")
										option
										option(value="1") Первый
										option(value="2") Второй
										option(value="3") Третий
							.form-group
								.select-style.select-style--white-br
									select.js-select(name="pet-type" data-placeholder="Типы питомцев на передержку")
										option
										option(value="1") Первый
										option(value="2") Второй
										option(value="3") Третий
							.form-group
								.select-style.select-style--white-br
									select.js-select(name="breed-type" data-placeholder="Список пород на передержку")
										option
										option(value="1") Первый
										option(value="2") Второй
										option(value="3") Третий
							.form-group
								+checkbox()(name="childs")
									| Есть ли дети до 10 лет
							.form-group.form-group--mb0
								+checkbox()(name="all-time" checked)
									| Постоянный присмотр за питомцем
		div(elem="right" mod="dimmed")
			div(block="b-executor-data")
				form.form.js-validate(action="")
					.form-group.form-group--mb2.form-group--center
						label.js-avatar-input(block="avatar-field")
							div.responsive-img.js-avatar-image(elem="image")
								img(src="img/media/user-photo.jpg" alt="" data-object-fit="cover")
							input.visuallyhidden(type="file" name="avatar" accept="image/jpeg, image/png" required)
							span(elem="control")
								+svg("photocam")
					.form-group
						label.visuallyhidden(for="name") ФИО
						input.form-control(type="text" name="name" id="name" placeholder="ФИО" required)
						span.form-error-icon
							i.fas.fa-exclamation-circle
					.form-group
						label.visuallyhidden(for="email") Электронная почта
						input.form-control(type="email" name="email" id="email" placeholder="Электронная почта" required)
						span.form-error-icon
							i.fas.fa-exclamation-circle
					.form-group
						label.visuallyhidden(for="date") Дата рождения
						input.form-control.form-control--calendar.js-birthday-calendar(type="text" name="date" id="date" placeholder="Дата рождения" autocomplete="off" readonly required data-position="top right" data-language="ru" data-my-date="2020-11-07")
					.form-group
						label.visuallyhidden(for="phone") Номер телефона
						input.form-control.js-tel(type="tel" name="phone" id="phone" placeholder="Номер телефона" required)
						span.form-error-icon
							i.fas.fa-exclamation-circle
					button.btn.btn--clear Сохранить изменения