extends layouts/_executor-lk.pug
include components/common/_b-personal-doc.pug

block vars
	- const activeMenuItem = 'safety';

block title
	title Безопасность
block content
	h1.h5(elem="title") Безопасность
	div(elem="gray-wrapper" mod="no-pr")
		div(elem="grid")
			div.js-scroll-block(elem="scroll-block" mod="in-gray")
				div(block="b-personal-safety")
					div(elem="message" mod="error")
						span(elem="icon")
							i !
						.h6(elem="status") Верификация не пройдена!
						div(elem="text")
							p Знак верификации дает пользователям понять, что страница не поддельная, а ответ от такого аккаунта — официальный.
					div(elem="files-grid")
						div(block="b-personal-file-form")
							form(elem="form" action="")
								div(block="file-input" mod="single")
									label(elem="control")
										input.js-file-input-control(type="file" name="document" accept="application/pdf" multiple required)
										span.fas.fa-plus(elem="add")
							p(elem="text") Загрузите документ, удостоверяющий личность

						div(block="b-personal-file")
							a.responsive-img(elem="image" href=href target="_blank")
								img(src="img/media/documents/2.jpg" alt="" data-object-fit="cover")
								span.icon.icon--eye(elem="eye" aria-hidden="true")
									+svg("eye")
							div(elem="bottom" mod="form")
								form.js-validate(elem="name-form" action="")
									label.visuallyhidden(for="file-name") Назовите файл
									input.form-control.form-control--hollow(type="text" name="file-name" id="file-name" placeholder="Назовите файл" required)
						div.js-personal-file(block="b-personal-file")
							a.responsive-img(elem="image" href=href target="_blank")
								img(src="img/media/documents/3.jpg" alt="" data-object-fit="cover")
								span.icon.icon--eye(elem="eye" aria-hidden="true")
									+svg("eye")
							div(elem="bottom")
								span(elem="name") Диплом
								div.js-delete(elem="delete" mix="block:b-delete")
									button.btn.btn--dimmed.btn--circle-small.js-delete-toggle(block="b-delete" elem="toggle")
										+svg("ic-trash")
									div.dropdown.js-delete-dropdown(block="b-delete" elem="dropdown" mod="small, top-center")
										div(elem="header") Удалить документ "Диплом"?
										div(elem="actions")
											button.btn.btn--clear.js-delete-yes(elem="button" mod="yes" data-class-element="js-personal-file" data-url="/") Да
											button.btn.btn--clear.js-delete-no(elem="button" mod="no") Нет
			div(elem="right" mod="pink, pass")
				div(block="b-change-password")
					form.form.js-validate(elem="form" action="")
						.form-title.h5 Изменить пароль
						.form-group
							label.visuallyhidden(for="old-pass") Старый пароль
							input.form-control(type="password" name="old-pass" id="old-pass" placeholder="Старый пароль" required)
							span.form-error-icon
								i.fas.fa-exclamation-circle
						.form-group
							label.visuallyhidden(for="new-pass") Новый пароль
							input.form-control(type="password" name="new-pass" id="new-pass" placeholder="Новый пароль" required)
							span.form-error-icon
								i.fas.fa-exclamation-circle
						.form-group.form-group--mb2
							label.visuallyhidden(for="repeat-new-pass") Повторите пароль
							input.form-control(type="password" name="repeat-new-pass" id="repeat-new-pass" placeholder="Повторите пароль" data-compare-name="new-pass" required)
							span.form-error-icon
								i.fas.fa-exclamation-circle
						button.btn.btn--dark-purple Сохранить пароль

