extends layouts/_default.pug
include components/common/_b-accordion.pug
block vars
	- const withFooter = true;
block title
	title Вопросы-ответы
block content
	div.inner-page(block="faq")
		.wrap.wrap--limited.wrap--relative
			ul.parallax-scene.js-scene(data-relative-input="true")
				li.parallax-layer(data-depth="0.1")
					span.parallax-particle.parallax-particle--pink(elem="particle" mod="pink")
				li.parallax-layer(data-depth="-0.2")
					span.parallax-particle.parallax-particle--yellow(elem="particle" mod="yellow")
				li.parallax-layer(data-depth="0.2")
					span.parallax-particle.parallax-particle--light-green(elem="particle" mod="light-green")
				li.parallax-layer(data-depth="-0.1")
					span.parallax-particle.parallax-particle--steelblue(elem="particle" mod="steelblue")
				
			div(elem="wrapper")
				div(elem="left")
					h1(elem="title") Вопросы-ответы
					div(elem="accordion")
						+b-accordion([
							{
								head: 'Кто такие догситтеры?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Это гостиница для питомцев?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Подготовка питомца к передержке',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Как происходит оплата?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Заключается ли договор?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Что произойдет если питомец заболеет на передержке?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Как происходит оплата?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Заключается ли договор?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Что произойдет если питомец заболеет на передержке?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Что произойдет если питомец заболеет на передержке?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Как происходит оплата?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Заключается ли договор?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Что произойдет если питомец заболеет на передержке?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Что произойдет если питомец заболеет на передержке?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Как происходит оплата?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Заключается ли договор?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							},{
								head: 'Что произойдет если питомец заболеет на передержке?',
								text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
							}
						])
					a.btn.btn--yellow.js-link-anchor(elem="button" href="#faq-form") Остались вопросы?
				div(elem="right")
					div(elem="form" mix="block:b-faq-form" id="faq-form")
						div(block="b-faq-form" elem="title") Задать вопрос
						form.form.js-validate(action="")
							.form-group
								label.visuallyhidden(for="name") Ваше имя
								input.form-control(type="text" name="name" id="name" placeholder="Ваше имя" required)
								span.form-error-icon
									i.fas.fa-exclamation-circle
							.form-group
								label.visuallyhidden(for="email") Электронная почта
								input.form-control(type="email" name="email" id="email" placeholder="Электронная почта" required)
								span.form-error-icon
									i.fas.fa-exclamation-circle
							.form-group.form-group--mb2
								label.visuallyhidden(for="question") Текст вопроса
								textarea.form-control(name="question" id="question" placeholder="Текст вопроса" required)
								span.form-error-icon
									i.fas.fa-exclamation-circle
							.form-agreements
								+checkbox({mod: 'white'})(name="personal" required)
									| Согласие на обработку персональных данных
							button.btn.btn--yellow.btn--small(elem="button") Отправить
						span.decor(block="b-faq-form" elem="heart")
							+svg("decor-heart")
						span.decor(block="b-faq-form" elem="cube")
							+svg("decor-cube-2")

					.responsive-img(elem="image")
						img(src="img/media/faq.png" alt="" data-object-fit="contain")
						span.decor(elem="triangle")
							+svg("decor-triangle")
						span.decor(elem="question")
							+svg("decor-question-right")
			
			div(elem="bottom")
				+b-social-list