extends layouts/_default.pug
include components/common/_b-reviews.pug
include components/common/_b-features.pug
include components/common/_b-article.pug
include components/common/_b-accordion.pug
//- block vars
//- 	- const withFooter = true;
block title
	title Модалки
block content
	.wrap.wrap--limited.inner-page
		h1 Модальные окна

		a.btn.btn--yellow.js-ajax-modal(href="ajax/modal-password.html") Восстановить пароль
		br
		br
		a.btn.btn--yellow.js-ajax-modal(href="ajax/modal-call.html") Заказать звонок
		br
		br
		a.btn.btn--yellow.js-ajax-modal(href="ajax/modal-review.html") Оставить отзыв
		br
		br