extends layouts/_default.pug
include components/common/_b-performer-card.pug
block vars
	- const authUser = true;
	- const withFooter = true;
block title
	title Поиск исполнителя
block content
	div.inner-page.inner-page--small(block="performers")
		.wrap(elem="wrapper" data-sticky-container)
			div(elem="top")
				h1(elem="title") Поиск исполнителя
				div(elem="result")
					span(elem="result-numbers") 143
					|  результата
			div(elem="filters")
				form(elem="place-filter" action="" method="GET")
					.form-row
						.form-group.form-group--half
							.select-style
								select.js-select(name="country" data-placeholder="Страна")
									option
									option(value="1") Росия
									option(value="2") Англия
									option(value="3") США
						.form-group.form-group--half
							.select-style
								select.js-select(name="city" data-placeholder="Город")
									option
									option(value="1") Москва
									option(value="2") Лондон
									option(value="3") Чикаго
				div.js-performers-filter(block="b-big-filter")
					button.btn.btn--small.js-performers-filter-toggle(elem="toggle")
						+svg("filter-icon")
						| Фильтр
					form(elem="form" action="")
						div(elem="left")
							.form-row
								.form-group.form-group--half
									.range-style
										label.form-label Стоимость в сутки, $
										.js-range(data-min="0" data-start-min="0" data-max="50" data-start-max="30" data-step="1")
										input.js-range-value(type="hidden" name="price-min" data-type="min")
										input.js-range-value(type="hidden" name="price-max" data-type="max")
							.form-row
								.form-group.form-group--half
									.select-style.select-style--white-br
										select.js-select(name="area" data-placeholder="Район")
											option
											option(value="1") Первый
											option(value="2") Второй
											option(value="3") Третий
								.form-group.form-group--half
									.select-style.select-style--white-br
										select.js-select(name="pet-type" data-placeholder="Тип питомца")
											option
											option(value="1") Первый
											option(value="2") Второй
											option(value="3") Третий
							.form-row
								.form-group.form-group--half
									.select-style.select-style--white-br
										select.js-select(name="pet-size" data-placeholder="Размер животного")
											option
											option(value="1") Первый
											option(value="2") Второй
											option(value="3") Третий
								.form-group.form-group--half
									.select-style.select-style--white-br
										select.js-select(name="pet-age" data-placeholder="Возраст животного")
											option
											option(value="1") Первый
											option(value="2") Второй
											option(value="3") Третий
							.form-row
								.form-group.form-group--half
									.select-style.select-style--white-br
										select.js-select(name="house-type" data-placeholder="Тип жилья")
											option
											option(value="1") Первый
											option(value="2") Второй
											option(value="3") Третий
								.form-group.form-group--half
									.select-style.select-style--white-br
										select.js-select-rating(name="rating" data-placeholder="Рейтинг от")
											option
											option(value="1" data-stars="1") 1 звезды
											option(value="2" data-stars="2") 2 звезд
											option(value="3" data-stars="3") 3 звезд
											option(value="4" data-stars="4") 4 звезд
											option(value="5" data-stars="5") 5 звезд
							.form-row
								.form-group.form-group--half
									div.js-select-checkbox(block="b-checkbox-select" mod="white-br")
										button.js-select-checkbox-toggle(elem="toggle" type="button") Спец. пожелания (
											span.js-select-checkbox-value(elem="value") 0
											| )
										div(elem="list")
											div(elem="item")
												+checkbox({mod: 'dimmed'})(name="special-1")
													| Некурящие в доме
											div(elem="item")
												+checkbox({mod: 'dimmed'})(name="special-2" checked)
													| Нет животных
											div(elem="item")
												+checkbox({mod: 'dimmed'})(name="special-3")
													| Нет детей
								.form-group.form-group--half
									+checkbox()(name="have-pet")
										| Питомцы у догситтера
						div(elem="right")
							label.form-label Даты передержки
							div.js-calendar(block="b-calendar")
								div(elem="row")
									.form-group(elem="field")
										label.visuallyhidden(for="start-date") Первая дата
										input.form-control.js-start-date(type="text" name="start-date" id="start-date" readonly)
									.form-group(elem="field")
										label.visuallyhidden(for="end-date") Вторая дата
										input.form-control.js-end-date(type="text" name="end-date" id="end-date" readonly)
								div.js-datepicker(elem="datepicker" data-language="ru")
						div(elem="bottom")
							button.btn.btn--small.btn--pink(elem="submit-button") Отправить
							button.btn.btn--small.btn--white(elem="reset-button" type="reset") Очистить
			div.js-sticky-map(elem="map" data-margin-top="135")
			div(elem="sorts")
				div(elem="sort" mix="block:b-performer-sort")
					span(block="b-performer-sort" elem="name") Сортировать
					.select-style(block="b-performer-sort" elem="field")
						select.js-select(name="prformer-sort")
							option(value="1") по популярности
							option(value="2") по возрастанию
							option(value="3") по убыванию
				div(elem="top-status")
					+checkbox({mod: 'hollow'})
						| Топ 100
						span.star.star--yellow
							i.fas.fa-star

			div(elem="content")
				div(elem="list")
					div(elem="item")
						+b-performer-card({
							img: 'img/media/performers/1.jpg',
							name: 'Марк Савицкий',
							top: true,
							reviews: 15,
							text: 'Я очень люблю собак, как их можно не любить ,собаки самые верные,любящие,они не просто животные.',
							price: 20
						})
					div(elem="item")
						+b-performer-card({
							img: 'img/media/performers/2.jpg',
							name: 'Наталья Богомолова',
							top: false,
							reviews: 13,
							text: 'Имеется опыт выхаживания 4-х щенков, подобранных на улице. В свободное время помогаю приютам для бездомных животных. Смогу посылать видео, фото.',
							price: 22
						})
					div(elem="item")
						+b-performer-card({
							img: 'img/media/performers/3.jpg',
							name: 'Наталья Богомолова',
							top: false,
							reviews: 10,
							text: 'Имеется опыт выхаживания 4-х щенков, подобранных на улице. В свободное время помогаю приютам для бездомных животных. Смогу посылать видео, фото.',
							price: 25
						})
					div(elem="item")
						+b-performer-card({
							img: 'img/media/performers/1.jpg',
							name: 'Марк Савицкий',
							top: true,
							reviews: 15,
							text: 'Я очень люблю собак, как их можно не любить ,собаки самые верные,любящие,они не просто животные.',
							price: 20
						})
					div(elem="item")
						+b-performer-card({
							img: 'img/media/performers/2.jpg',
							name: 'Наталья Богомолова',
							top: false,
							reviews: 13,
							text: 'Имеется опыт выхаживания 4-х щенков, подобранных на улице. В свободное время помогаю приютам для бездомных животных. Смогу посылать видео, фото.',
							price: 22
						})
					div(elem="item")
						+b-performer-card({
							img: 'img/media/performers/3.jpg',
							name: 'Наталья Богомолова',
							top: false,
							reviews: 10,
							text: 'Имеется опыт выхаживания 4-х щенков, подобранных на улице. В свободное время помогаю приютам для бездомных животных. Смогу посылать видео, фото.',
							price: 25
						})
				div(elem="actions")
					button.btn.btn--yellow(elem="button") Загрузить еще
		.wrap.wrap--limited(elem="social")
			+b-social-list
