extends layouts/_default.pug
include components/common/_b-review-card.pug
block vars
	- const withFooter = true;
	- const footerMod = 'small-pt';
block title
	title Профиль догситтера
block content
	div.inner-page.inner-page--small(block="profile")
		.wrap.wrap--limited(elem="wrapper")
			ul.parallax-scene.js-scene(data-relative-input="true" aria-hidden="true")
				li.parallax-layer(data-depth="0.1")
					span.parallax-particle.parallax-particle--yellow(elem="particle" mod="yellow")
				li.parallax-layer(data-depth="-0.2")
					span.parallax-particle.parallax-particle--light-green(elem="particle" mod="light-green")
				li.parallax-layer(data-depth="0.1")
					span.parallax-particle.parallax-particle--steelblue(elem="particle" mod="steelblue")
			div(elem="left")
				div(elem="item" mod="pv2")
					div.clearfix(block="b-profile-info")
						div(elem="item" mod="column")
							span(elem="status") В сети
							div(elem="photo" mod="online")
								span.decor(elem="hello" aria-hidden="true")
									+svg("decor-profile-hello")
								.responsive-img(elem="image")
									img(src="img/media/user-photo.jpg" alt="" data-object-fit="cover")
							span(elem="name") Марк Славицкий
							div(elem="line")
								span(elem="age") 36 лет
								span(elem="place")
									i.fas.fa-map-marker-alt
									| Центральный р-н
							div(elem="line")
								div(elem="appraisal")
									span.star.star--yellow
										i.fas.fa-star
									span.star.star--yellow
										i.fas.fa-star
									span.star.star--yellow
										i.fas.fa-star
									span.star.star--yellow
										i.fas.fa-star
									span.star.star--yellow
										i.fas.fa-star
								a.js-link-anchor(elem="link" href="#personal-reviews") 13 отзывов
						div(elem="item")
							div.h6(elem="title" mod="mb-0") Стоимость
							ul(elem="cost-list")
								li(elem="cost-item")
									span(elem="service") Передержка собак
									span(elem="price")
										span(elem="value") $22
										|  / день
								li(elem="cost-item")
									span(elem="service") Передержка кошек
									span(elem="price")
										span(elem="value") $14
										|  / день
							div(elem="center-wrapper")
								a.js-link-anchor(elem="link" mod="pink" href="#personal-price") Подробнее
						div(elem="item")
							div.h6 Выберите даты передержки
							div(elem="calendar")
								div.js-calendar(block="b-calendar")
									div(elem="row")
										.form-group(elem="field")
											label.visuallyhidden(for="start-date") Первая дата
											input.form-control.form-control--dimmed.js-start-date(type="text" name="start-date" id="start-date" readonly)
										.form-group(elem="field")
											label.visuallyhidden(for="end-date") Вторая дата
											input.form-control.form-control--dimmed.js-end-date(type="text" name="end-date" id="end-date" readonly)
									div.js-datepicker(elem="datepicker" mod="dimmed" data-language="ru")
							a.btn.btn--yellow.js-inline-modal(elem="connect-button" href="#profile-modal") Связаться с исполнителем
						div(elem="item")
							div(block="b-verification")
								div(elem="status")
									span(elem="icon" mod="succes")
										+svg("sale")
										i.fa.fa-check
									| Верификация пройдена
								ul(elem="list")
									li(elem="item")
										i.fa.fa-check(elem="item-icon" mod="succes")
										| Инструктаж догситтера
									li(elem="item")
										i.fa.fa-check(elem="item-icon" mod="succes")
										| Профессиональное тестирование
									li(elem="item")
										i.fa.fa-check(elem="item-icon" mod="succes")
										| Тест по основам коммуникации
			div(elem="right")
				div(elem="item")
					div(elem="sub-item")
						.swiper-container.js-profile-slider.js-gallery(elem="slider" mix="block:b-profile-slider")
							button.btn.btn--slider.js-profile-prev(block="b-profile-slider" elem="button" mod="prev" aria-label="предыдущий слайд")
								+svg("arrow-right")
							.swiper-wrapper
								.swiper-slide(block="b-profile-slider" elem="slide")
									a.responsive-img(elem="image" href="img/media/gallery/2.jpg" data-type="image")
										img(src="img/media/gallery/2.jpg" alt="" data-object-fit="cover")
										span.icon.icon--medium.icon--eye(elem="icon" aria-hidden="true")
											+svg("eye")
								.swiper-slide(block="b-profile-slider" elem="slide")
									a.responsive-img(elem="image" href="video/video.mp4" data-type="iframe")
										img(src="img/media/gallery/3.jpg" alt="" data-object-fit="cover")
										span.icon.icon--medium.icon--play(elem="icon" aria-hidden="true")
											+svg("play")
								.swiper-slide(block="b-profile-slider" elem="slide" mod="big")
									a.responsive-img(elem="image" href="img/media/gallery/1.jpg" data-type="image")
										img(src="img/media/gallery/1.jpg" alt="" data-object-fit="cover")
										span.icon.icon--medium.icon--eye(elem="icon" aria-hidden="true")
											+svg("eye")
								.swiper-slide(block="b-profile-slider" elem="slide")
									a.responsive-img(elem="image" href="img/media/gallery/4.jpg" data-type="image")
										img(src="img/media/gallery/4.jpg" alt="" data-object-fit="cover")
										span.icon.icon--medium.icon--eye(elem="icon" aria-hidden="true")
											+svg("eye")
							button.btn.btn--slider.js-profile-next(block="b-profile-slider" elem="button" mod="next" aria-label="следующий слайд")
								+svg("arrow-right")
						.content-style
							p Здравствуйте! Мой опыт в уходе за собаками уже более 30 лет, 20 из которых я проработал кинологом, имеются все дипломы и сертификаты. По вашим пожеланиям возможна корректировка поведения. Любовь к собакам появилась после подаренного отцом на день рождения щенка немецкой овчарки, дабы привить мне ответственность. Он прожил со мной долгих 14 лет, оставил потомство которое по сей день радует глаз, и повлиял на выбор моей профессии и целей в жизни.
					div(elem="sub-item")
						ul(elem="numbers-list")
							li(elem="numbers-item")
								span(elem="numbers-value") 12
								p(elem="numbers-text") Лет опыта работы с собаками
							li(elem="numbers-item")
								span(elem="numbers-value") 3
								p(elem="numbers-text") Домашних<br>питомца
							li(elem="numbers-item")
								span(elem="numbers-value") 6
								p(elem="numbers-text") Свободных<br>дней в неделю
							li(elem="numbers-item")
								span(elem="numbers-value") 175
								p(elem="numbers-text") Кв.м. жилой площади
				div(elem="item")
					div.js-tabs(block="b-tabs" data-hash)
						ul(elem="navigation")
							li(elem="navigation-item")
								a(elem="navigation-link" href="#tab1") Детали
							li(elem="navigation-item")
								a(elem="navigation-link" href="#tab2") Питомцы
							li(elem="navigation-item")
								a(elem="navigation-link" href="#tab3") Навыки

						div(elem="progress-line")
							span.js-tabs-thumb(elem="thumb")

						div.js-tabs-content(elem="content" id="tab1")
							ul(block="b-profile-details")
								li(elem="item")
									div.h6(elem="title") Тип жилья догситтера
									div(elem="text")
										p Частный дом площадью 175 кв.м. с большим зеленым участком
								li(elem="item")
									div.h6(elem="title") Есть ли дети до 10 лет
									div(elem="text")
										p Двое детей 4 и 6 лет
								li(elem="item")
									div.h6(elem="title") Типы питомцев, которые я беру на передержку
									div(elem="text")
										p Частный дом площадью 175 кв.м. с большим зеленым участком
								li(elem="item")
									div.h6(elem="title") Будет ли питомец находиться под присмотром постоянно?
									div(elem="text")
										p Да, питомец будет находится под присмотром 24 часа в сутки
								li(elem="item")
									div.h6(elem="title") Список пород, которые беру на передержку
									div(elem="text")
										p Беру любые породы собак кроме самых больших, например догов и волкодавов
								li(elem="item")
									div.h6(elem="title") Наличие транспорта
									div(elem="text")
										p Есть просторный автомобиль типа микроавтобус
						div.js-tabs-content(elem="content" id="tab2") Питомцы
						div.js-tabs-content(elem="content" id="tab3")
							ul(block="profile" elem="skills")
								li(elem="skills-item")
									span.tag.tag--small.tag--purple Ветеринар
								li(elem="skills-item")
									span.tag.tag--small.tag--aqua Пляж рядом
								li(elem="skills-item")
									span.tag.tag--small.tag--blue Навык
								li(elem="skills-item")
									span.tag.tag--small.tag--aquagreen Навык
								li(elem="skills-item")
									span.tag.tag--small.tag--yellow Активная жизнь
								li(elem="skills-item")
									span.tag.tag--small.tag--purple Навык
								li(elem="skills-item")
									span.tag.tag--small.tag--yellow Активная жизнь
								li(elem="skills-item")
									span.tag.tag--small.tag--purple Навык
								li(elem="skills-item")
									span.tag.tag--small.tag--aqua Пляж рядом
								li(elem="skills-item")
									span.tag.tag--small.tag--aquagreen Навык
								li(elem="skills-item")
									span.tag.tag--small.tag--blue Навык
								li(elem="skills-item")
									span.tag.tag--small.tag--purple Ветеринар
				div(elem="item" mod="dimmed" id="personal-price")
					div.js-price-list(block="b-profile-price" data-id="price-list")
						div(elem="top")
							div.h3(elem="title") Прайс-лист
							div(elem="navigation")
								button.btn.btn--small.active.js-list-toggle(elem="button" data-type-filter="all") Все
								button.btn.btn--small.js-list-toggle(elem="button" data-type-filter="dogs") Собаки
								button.btn.btn--small.js-list-toggle(elem="button" data-type-filter="cats") Кошки
						#price-list
							div.list.js-list(elem="content")
								div(elem="item" data-type="dogs")
									div(elem="icon" mod="purple")
										i.fas.fa-dog
									div(elem="wrapper")
										span(elem="price")
											span(elem="value") $22
											|  / день
										p(elem="name") Передержка собак
								div(elem="item" data-type="dogs")
									div(elem="icon" mod="purple")
										i.fas.fa-dog
									div(elem="wrapper")
										span(elem="price")
											span(elem="value") $150
											|  / неделя
										p(elem="name") Передержка собак
								div(elem="item" data-type="cats")
									div(elem="icon" mod="aqua")
										i.fas.fa-cat
									div(elem="wrapper")
										span(elem="price")
											span(elem="value") $14
											|  / день
										p(elem="name") Передержка кошек
								div(elem="item" data-type="cats")
									div(elem="icon" mod="aqua")
										i.fas.fa-cat
									div(elem="wrapper")
										span(elem="price")
											span(elem="value") $85
											|  / неделя
										p(elem="name") Передержка кошек
				div(elem="item")
					div(block="b-profile-map")
						div(elem="top")
							div.h3(elem="title") Местоположение
							span(elem="address")
								i.fas.fa-map-marker-alt(elem="map-marker")
								| Волгоград, ул.&nbsp;Комсомольская&nbsp;26а
						div#map(elem="wrapper")
				div(elem="item" id="personal-reviews")
					div(block="b-profile-reviews")
						div(elem="top")
							div.h3(elem="title") Отзывы
							div(elem="wrapper")
								div(elem="appraisal")
									span.star.star--yellow
										i.fas.fa-star
									span.star.star--yellow
										i.fas.fa-star
									span.star.star--yellow
										i.fas.fa-star
									span.star.star--yellow
										i.fas.fa-star
									span.star.star--yellow
										i.fas.fa-star
								span(elem="quantity") 13 отзывов
						ul(elem="list")
							li(elem="item")
								+b-review-card({
									mod: 'profile',
									img: 'img/media/reviews/photo/3.jpg',
									name: 'Мария Киселева',
									position: 'Заказчик',
									value: 5,
									title: 'Очень полезный ресурс',
									texts: ['С нами живет прекрасный пес породы чихуахуа по имени Сэм. Он полноправный член нашей небольшой семью и мы его безумно любим. Для нас - это ребенок, поэтому все что с ним происходит нам очень важно .']
								})
							li(elem="item")
								+b-review-card({
									mod: 'profile',
									img: 'img/media/reviews/photo/4.jpg',
									name: 'Сергей Денисов',
									position: 'Заказчик',
									value: 4,
									title: 'У Оливы Саша в гостях на ситтинге: хозяева в отпуске.',
									texts: ['В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами. Подходить близко не собирается, поглядывает издалека.']
								})
							li(elem="item")
								+b-review-card({
									mod: 'profile',
									img: 'img/media/reviews/photo/5.jpg',
									name: 'Мария Киселева',
									position: 'Заказчик',
									value: 5,
									title: 'Очень полезный ресурс',
									texts: ['С нами живет прекрасный пес породы чихуахуа по имени Сэм. Он полноправный член нашей небольшой семью и мы его безумно любим. Для нас - это ребенок, поэтому все что с ним происходит нам очень важно .']
								})
						div(elem="actions")
							button.btn.btn--yellow.js-more-profile-review Загрузить еще
			div(elem="bottom")
				a.btn.btn--yellow.js-inline-modal(href="#profile-modal") Связаться с исполнителем
				span.decor(elem="arrow" aria-hidden="true")
					+svg("decor-big-arrow")

			section.mfp-hide(block="modal" id="profile-modal")
				button.btn.btn--circle.btn--close.mfp-close(type="button" aria-label="Закрыть")
				div(elem="content")
					div.h2(elem="title" mod="small-mb") Связаться с догситтером
					div(elem="subtitle") Пишем письмо 
						span(elem="name") Марку Славицкому
					form.js-validate(elem="form" action="")
						.form-group.form-group--medium
							.select-style.select-style--white-br
								select.js-select(name="service" data-placeholder="Выберите услугу догситтера")
									option
									option(value="1") Первая
									option(value="2") Вторая
									option(value="3") Третья

						div.js-tabs(block="b-tabs" mod="form")
							ul(elem="navigation")
								li(elem="navigation-item")
									a(elem="navigation-link" href="#form-tab1") Даты
								li(elem="navigation-item")
									a(elem="navigation-link" href="#form-tab2") Питомцы
								

							div(elem="progress-line")
								span.js-tabs-thumb(elem="thumb")

							div.js-tabs-content(elem="content" id="form-tab1")
								.form-group.form-group--medium.form-group--mb2
									div.js-calendar(block="b-calendar")
										label.form-label Даты передержки
										div(elem="row")
											.form-group(elem="field")
												label.visuallyhidden(for="start-date-modal") Первая дата
												input.form-control.js-start-date(type="text" name="start-date" id="start-date-modal" readonly)
											.form-group(elem="field")
												label.visuallyhidden(for="end-date-modal") Вторая дата
												input.form-control.js-end-date(type="text" name="end-date" id="end-date-modal" readonly)
										div.js-datepicker(elem="datepicker" data-language="ru")
								div(block="modal" elem="actions")
									a.btn.btn--yellow.js-next-tab(href=href) Следующий шаг
							div.js-tabs-content(elem="content" id="form-tab2")
								.form-row
									.form-group.form-group--half
										label.visuallyhidden(for="name-1") Кличка питомца
										input.form-control(type="text" name="name-1" id="name-1" placeholder="Кличка питомца" required)
										span.form-error-icon
											i.fas.fa-exclamation-circle
									.form-group.form-group--half
										label.visuallyhidden(for="breed-1") Порода
										input.form-control(type="text" name="breed-1" id="breed-1" placeholder="Порода" required)
										span.form-error-icon
											i.fas.fa-exclamation-circle
								.form-group.form-group--mb2
									label.visuallyhidden(for="message") Текст сообщения
									textarea.form-control.form-control--big(name="message" id="message" placeholder="Текст сообщения")
									span.form-error-icon
										i.fas.fa-exclamation-circle
								div(block="modal" elem="actions")
									button.btn.btn--pink Отправить


