extends layouts/_default.pug
include components/common/_b-reviews.pug
include components/common/_b-review-card.pug
block vars
	- const withFooter = true;
block title
	title Отзывы
block content
	div.inner-page(block="reviews")
		.wrap.wrap--limited(elem="wrapper")
			span(elem="bg" aria-hidden="true")
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1674.08 396.487"><path id="Path_7716" data-name="Path 7716" d="M4894.871,1917.611s-191.636-253.551-572.785-85.218-581.254-7.553-807.935,106.012-222.985,294.231-108.323,211.978,286.448-199.683,659.454-22.468,432-318.21,770.292-117.411S4894.871,1917.611,4894.871,1917.611Z" transform="translate(-3328.923 -1774.692)" fill="#f5f6f7"/></svg>
			ul.parallax-scene.js-scene(data-relative-input="true")
				li.parallax-layer(data-depth="-0.2")
					span.parallax-particle.parallax-particle--light-green(elem="particle" mod="light-green")
				li.parallax-layer(data-depth="0.2")
					span.parallax-particle.parallax-particle--steelblue(elem="particle" mod="steelblue")
				li.parallax-layer(data-depth="0.1")
					span.parallax-particle.parallax-particle--yellow(elem="particle" mod="yellow")
			h1(elem="title") Отзывы
			div(elem="values" mix="block:b-values")
				div(block="b-values" elem="item")
					div(elem="value")
						span(elem="number") 2560
						span(elem="plus") +
					p(elem="text") Реальных отзывов пользователей
				div(block="b-values" elem="item")
					div(elem="value")
						span(elem="number") 4.98
						span(elem="stars")
							span.star.star--yellow
								i.fas.fa-star
							span.star.star--yellow
								i.fas.fa-star
							span.star.star--yellow
								i.fas.fa-star
							span.star.star--yellow
								i.fas.fa-star
							span.star.star--yellow
								i.fas.fa-star
					p(elem="text") Средняя оценка нашего сервиса

			div(elem="slider")
				+b-reviews('Популярные отзывы')

			div(elem="top-list")
				form.js-submit-on-change(elem="filter" action="/" method="GET")
					.form-row
						.form-group.form-group--half
							.select-style
								select.js-select(name="time")
									option(value="1") За все время
									option(value="2") За неделю
									option(value="3") За месяц
						.form-group.form-group--half
							.select-style
								select.js-select-stars(name="appraisal")
									option(value="1" data-stars="1" data-quantity="1") 1 звезда (1)
									option(value="2" data-stars="2" data-quantity="2") 2 звезды (2)
									option(value="3" data-stars="3" data-quantity="3") 3 звезды (3)
									option(value="4" data-stars="4" data-quantity="560") 4 звезды (560)
									option(value="5" data-stars="5" data-quantity="2180" selected) 5 звезд (2180)
				a.btn.btn--yellow(elem="button" href=href) Оставть отзыв

			div.js-review-list(elem="list")
				div(elem="item")
					+b-review-card({
						img: 'img/media/reviews/photo/1.jpg',
						name: 'Мария Сорокова',
						position: 'Догситтер / Исполнитель',
						value: 5,
						title: 'У Оливы Саша в гостях на ситтинге: хозяева в отпуске.',
						texts: ['В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами. Подходить близко не собирается, поглядывает издалека.', 'Зато Олива новым людям рада: несется на встречу, подставляет бока — чешите! Мы чешем, и уже через пять минут на нас только шерсти, что хватит на пару носков.']
					})

				div(elem="item")
					+b-review-card({
						img: 'img/media/reviews/photo/2.jpg',
						name: 'Настя Скоробогатова',
						position: 'Заказчик',
						value: 4,
						title: 'Очень ползный ресурс что бы отдать на время отъезда своего любимца.',
						texts: ['Здравствуйте дорогие друзья.<br>С нами живет прекрасный пес породы чихуахуа по имени Сэм. Он полноправный член нашей небольшой семью и мы его безумно любим. Для нас - это ребенок, поэтому все что с ним происходит нам очень важно.'],
						gallery: [
							{
								href: 'img/media/gallery/2.jpg',
								img: 'img/media/gallery/2.jpg',
								type: 'image'
							},
							{
								href: 'video/video.mp4',
								img: 'img/media/gallery/3.jpg',
								type: 'iframe'
							},
							{
								href: 'img/media/gallery/1.jpg',
								img: 'img/media/gallery/1.jpg',
								type: 'image'
							}
						]
					})

				div(elem="item")
					+b-review-card({
						img: 'img/media/reviews/photo/3.jpg',
						name: 'Мария Киселева',
						position: 'Догситтер / Исполнитель',
						value: 5,
						title: 'Очень полезный ресурс',
						texts: ['С нами живет прекрасный пес породы чихуахуа по имени Сэм. Он полноправный член нашей небольшой семью и мы его безумно любим. Для нас - это ребенок, поэтому все что с ним происходит нам очень важно.']
					})

				div(elem="item")
					+b-review-card({
						img: 'img/media/reviews/photo/4.jpg',
						name: 'Сергей Денисов',
						position: 'Заказчик',
						value: 4,
						title: 'У Оливы Саша в гостях на ситтинге: хозяева в отпуске.',
						texts: ['В комплекте с Оливой — Фасолька, самодостаточная кошечка, которая встречает нас удивленными глазами. Подходить близко не собирается, поглядывает издалека.', 'Зато Олива новым людям рада: несется на встречу, подставляет бока — чешите! Мы чешем, и уже через пять минут на нас только шерсти, что хватит на пару носков.']
					})

				div(elem="item")
					+b-review-card({
						img: 'img/media/reviews/photo/5.jpg',
						name: 'Дарья Онегина',
						position: 'Заказчик',
						value: 3,
						title: 'Очень ползный ресурс что бы отдать на время отъезда своего любимца.',
						texts: ['Здравствуйте дорогие друзья.<br>С нами живет прекрасный пес породы чихуахуа по имени Сэм. Он полноправный член нашей небольшой семью и мы его безумно любим. Для нас - это ребенок, поэтому все что с ним происходит нам очень важно.']
					})

				div(elem="item")
					+b-review-card({
						img: 'img/media/reviews/photo/6.jpg',
						name: 'Армен Вахтарян',
						position: 'Догситтер / Исполнитель',
						value: 5,
						title: 'Очень полезный ресурс',
						texts: ['С нами живет прекрасный пес породы чихуахуа по имени Сэм. Он полноправный член нашей небольшой семью и мы его безумно любим. Для нас - это ребенок, поэтому все что с ним происходит нам очень важно.']
					})

			div(elem="actions")
				button.btn.btn--yellow.js-load-more-review Загрузить еще
				span.decor(elem="triangles" aria-hidden="true")
					+svg("decor-triangles")

			div(elem="social")
				+b-social-list
				span.decor(elem="leaves" aria-hidden="true")
					img(src="img/theme/decor-leaves-reviews.svg" alt="")

