extends layouts/_default.pug
include components/common/_b-reviews.pug
include components/common/_b-accordion.pug
block vars
	- const withFooter = true;
block title
	title Услуга
block content
	div(block="index")
		div(elem="first" mix="block:b-first")
			.wrap(block="b-first" elem="wrapper")
				ul.parallax-scene.js-scene(data-relative-input="true" aria-hidden="true")
					li.parallax-layer(data-depth="-0.2")
						span.parallax-particle.parallax-particle--light-green(elem="particle" mod="light-green")
					li.parallax-layer(data-depth="0.3")
						span.parallax-particle.parallax-particle--pink(elem="particle" mod="pink")
					li.parallax-layer(data-depth="-0.1")
						span.parallax-particle.parallax-particle--steelblue(elem="particle" mod="steelblue")
				div(elem="left")
					span.decor(elem="zig-line" aria-hidden="true")
						+svg("decor-zig-line")
					.swiper-container.js-first-slider(elem="slider")
						.swiper-wrapper
							.swiper-slide(elem="slide")
								div.h1(elem="name") Возьмем питомца в гости, пока вы в отъезде!
								div(elem="text")
									p Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения
								div(elem="links")
									a.btn.btn--yellow(elem="link" href=href) Стать исполнителем
									a.btn(elem="link" href=href) Стать заказчиков
							.swiper-slide(elem="slide")
								div.h1(elem="name") Возьмем питомца в гости, пока вы в отъезде!
								div(elem="text")
									p Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения
								div(elem="links")
									a.btn.btn--yellow(elem="link" href=href) Стать исполнителем
							.swiper-slide(elem="slide")
								div.h1(elem="name") Возьмем питомца в гости, пока вы в отъезде!
								div(elem="text")
									p Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения
								div(elem="links")
									a.btn(elem="link" href=href) Стать заказчиков
					div(elem="actions" mix="block:b-slider-actions")
						button.btn.btn--slider.js-first-prev-button(block="b-slider-actions" elem="prev-button" aria-label="Предыдущий слайд")
							+svg('prev-arrow')
						div.js-first-pagination(block="b-slider-actions" elem="pagination")
						button.btn.btn--slider.js-first-next-button(block="b-slider-actions" elem="prev-button" aria-label="Предыдущий слайд")
							+svg('next-arrow')
				div(elem="right" mod="service")
					span.decor(elem="waves" aria-hidden="true")
						+svg("decor-waves-gray")
					.responsive-img(elem="image")
						img(src="img/media/index/service.png" alt="" data-object-fit="contain")
						span(elem="leaves" aria-hidden="true")
							img(src="img/theme/service-leaves.svg" alt="")
				span(elem="mouse-icon" aria-hidden="true")
					img(src="img/theme/mouse.svg" alt="")

		.wrap.wrap--limited
			div(elem="steps" mix="block:b-steps")
				div(block="b-steps" elem="wrapper")
					div(block="b-steps" elem="item")
						div(elem="text")
							p Выберите догситтера неподалеку от вас
						div(elem="image")
							img(src="img/media/index/steps/step-1.png" alt="")
					div(block="b-steps" elem="item")
						div(elem="text")
							p Забронируйте и заключите договор
						div(elem="image")
							img(src="img/media/index/steps/step-2.png" alt="")
					div(block="b-steps" elem="item")
						div(elem="text")
							p Передайте питомца догситтеру
						div(elem="image")
							img(src="img/media/index/steps/step-3.png" alt="")
					div(block="b-steps" elem="item")
						div(elem="text")
							p Принимайте отчеты о вашем друге :)
						div(elem="image")
							img(src="img/media/index/steps/step-4.png" alt="")

			section(elem="advantages" mix="block:b-advantages")
				ul.parallax-scene.js-scene(data-relative-input="true" aria-hidden="true")
					li.parallax-layer(data-depth="-0.1")
						span.parallax-particle.parallax-particle--yellow(block="b-advantages" elem="particle" mod="yellow")
					li.parallax-layer(data-depth="0.2")
						span.parallax-particle.parallax-particle--light-green(block="b-advantages" elem="particle" mod="light-green")
				div(block="b-advantages" elem="left")
					h2.h1(elem="title") Почему именно мы?
					div.js-dot(elem="text") С другой стороны постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития.
				div(block="b-advantages" elem="right")
					div(elem="list")
						div(elem="item")
							span(elem="value") 4500
								span(elem="plus") +
							div(elem="name")
								p Догситтеров по всей России!
						div(elem="item")
							span(elem="value") 12300
								span(elem="plus") +
							div(elem="name")
								p Довольных хозяев и их питомцев!
					span.decor(elem="decore" mod="zig-line" aria-hidden="true")
						+svg("decor-zig-line")
					span.decor(elem="decore" mod="cube" aria-hidden="true")
						+svg("decor-cube")

			div(elem="reviews")
				+b-reviews

			section(elem="gallery" mix="block:b-gallery")
				h2.h1(block="b-gallery" elem="title") Ваши довольные питомцы
				div.js-gallery(block="b-gallery" elem="grid")
					a.responsive-img(elem="item" href="img/media/gallery/1.jpg" data-type="image")
						span.icon.icon--eye(elem="icon" aria-hidden="true")
							+svg("eye")
						img.lazyload(data-src="img/media/gallery/1.jpg" src="" alt="" data-object-fit="cover")
					a.responsive-img(elem="item" href="img/media/gallery/2.jpg" data-type="image")
						span.icon.icon--eye(elem="icon" aria-hidden="true")
							+svg("eye")
						img.lazyload(data-src="img/media/gallery/2.jpg" src="" alt="" data-object-fit="cover")
					a.responsive-img(elem="item" href="img/media/gallery/3.jpg" data-type="image")
						span.icon.icon--eye(elem="icon" aria-hidden="true")
							+svg("eye")
						img.lazyload(data-src="img/media/gallery/3.jpg" src="" alt="" data-object-fit="cover")
					a.responsive-img(elem="item" href="img/media/gallery/4.jpg" data-type="image")
						span.icon.icon--eye(elem="icon" aria-hidden="true")
							+svg("eye")
						img.lazyload(data-src="img/media/gallery/4.jpg" src="" alt="" data-object-fit="cover")
					a.responsive-img(elem="item" href="img/media/gallery/5.jpg" data-type="image")
						span.icon.icon--eye(elem="icon" aria-hidden="true")
							+svg("eye")
						img.lazyload(data-src="img/media/gallery/5.jpg" src="" alt="" data-object-fit="cover")
					a.responsive-img(elem="item" href="img/media/gallery/6.jpg" data-type="image")
						span.icon.icon--eye(elem="icon" aria-hidden="true")
							+svg("eye")
						img.lazyload(data-src="img/media/gallery/6.jpg" src="" alt="" data-object-fit="cover")

			section(elem="faq" mix="block:b-faq")
				ul.parallax-scene.js-scene(data-relative-input="true" aria-hidden="true")
					li.parallax-layer(data-depth="-0.2")
						span.parallax-particle.parallax-particle--yellow(block="b-faq" elem="particle" mod="yellow")
					li.parallax-layer(data-depth="0.3")
						span.parallax-particle.parallax-particle--steelblue(block="b-faq" elem="particle" mod="steelblue")
				div(block="b-faq" elem="left")
					h2.h1(elem="title") Вопросы-ответы
					+b-accordion([
						{
							head: 'Кто такие догситтеры?',
							text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
						},{
							head: 'Это гостиница для питомцев?',
							text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
						},{
							head: 'Подготовка питомца к передержке',
							text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
						},{
							head: 'Как происходит оплата?',
							text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
						},{
							head: 'Заключается ли договор?',
							text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
						},{
							head: 'Что произойдет если питомец заболеет на передержке?',
							text: 'Наши догситтеры окажут должную заботу собаке, чтобы передержка прошла без стресса и для животного и для вас.'
						}
					])
				div(block="b-faq" elem="right")
					.responsive-img(elem="image")
						img(src="img/media/index/b-faq.png" alt="" data-object-fit="contain")
						span.decor(elem="cube")
							+svg("decor-cube-2")
						span.decor(elem="question")
							+svg("decor-question-left")
						span.decor(elem="leaves")
							img(src="img/theme/faq-leaves.svg" alt="")
				span.decor(block="b-faq" elem="lightning")
					+svg("decor-lightning")

			div(elem="social")
				+b-social-list