.articles {
  padding-bottom: 65px;
  @include media-breakpoint-down(md) {
    padding-bottom: 50px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 55px;
    @include media-breakpoint-down(sm) {
      display: block;
      margin-bottom: 45px;
    }
  }
  &__title {
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      margin-bottom: 35px;
      text-align: center;
    }
  }
  &__filter {
    width: 350px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 43px;
    grid-row-gap: 95px;
    margin-bottom: 65px;
    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 90px;
    }
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  &__item {
    @include media-breakpoint-down(md) {
      &:nth-child(9) {
        display: none;
      }
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 65px;
      &:nth-child(9) {
        display: block;
      }
    }
  }
  &__bottom {
    position: relative;
    text-align: center;
  }
  &__arrow {
    top: 30%;
    left: 62%;
    width: 92px;
    svg {
      transform: rotate(-45deg);
    }
    @include media-breakpoint-down(md) {
      top: 30%;
      left: 65%;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__heart {
    top: -20px;
    right: 556px;
    width: 42px;
    svg {
      transform: rotate(15deg);
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__particle {
    &--light-green {
      top: 17px;
      left: 490px;
    }
    &--steelblue {
      top: 630px;
      right: 101px;
    }
    &--pink {
      left: 387px;
      bottom: 660px;
    }
    &--yellow {
      right: 310px;
      bottom: -25px;
    }
    @include media-breakpoint-down(md) {
      &--light-green {
        top: -80px;
        left: 320px;
      }
      &--steelblue {
        right: 18px;
      }
      &--pink {
        left: 287px;
      }
      &--yellow {
        right: 70px;
        bottom: 20px;
      }
    }
  }
}