.article {
  padding-bottom: 64px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  &__left {
    width: 61.637931%;
    @include media-breakpoint-down(md) {
      margin-bottom: 45px;
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 40px;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  &__category {
    margin-right: 35px;
    @include media-breakpoint-down(sm) {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  &__image {
    margin-bottom: 45px;
    &::before {
      padding-bottom: 47.8321678%;
    }
  }
  &__right {
    padding-top: 15px;
    width: 31.0344828%;
    @include media-breakpoint-down(md) {
      padding-top: 0;
      width: 100%;
    }
  }
  &__popular {
    margin-bottom: 95px;
    @include media-breakpoint-down(md) {
      margin-bottom: 45px;
    }
  }
  &__bottom {
    text-align: center;
  }
  &__particle {
    &--pink {
      bottom: 500px;
      right: 398px;
      background-color: $color-p-pink;
    }
    &--light-green {
      right: 170px;
      bottom: 95px;
      background-color: $color-p-light-green;
    }
    &--steelblue {
      left: 367px;
      bottom: -27px;
      background-color: $color-p-steelblue;
    }
  }
  &__triangle {
    bottom: 85px;
    right: 228px;
    width: 94px;
    fill: $color-control-default;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.b-blockquote {
  position: relative;
  padding: 50px 48px 30px;
  background-color: $color-dimmed;
  border-radius: $radius;
  @include media-breakpoint-down(sm) {
    padding: 30px 25px;
  }
  &--light {
    padding: 0;
    background-color: transparent;
  }
  &__quote {
    top: -23px;
    left: 48px;
    width: 49px;
    height: 41px;
    svg {
      height: 100%;
      transform: rotate(180deg);
    }
  }
  &__content {
    margin-bottom: 15px;
    font-family: $font-2-fallback;
  }
  &__footer {
    font-family: $font-3-fallback;
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 700;
    color: $color-text-dark;
    p {
      margin: 0;
      + p {
        margin: 0;
      }
    }
  }
  &__rectangle {
    top: 65px;
    right: -55px;
    width: 45px;
    height: 77px;
    svg {
      height: 100%;
    }
  }
}

.b-popular-article {
  &__title {
    margin-bottom: 40px;
  }
  &__list {
    list-style: none;
    @include media-breakpoint-down(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 25px;
      grid-column-gap: 25px;
    }
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  &__item {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: none;
    }
  }
  &__image {
    flex-shrink: 0;
    margin-right: 25px;
    width: 23.6111111%;
    border-radius: 10px;
    &::before {
      padding-bottom: 95.2941176%;
    }
  }
  &__name {
    margin-bottom: 0;
    line-height: 1.33333;
  }
}

.b-instagram {
  &__title {
    margin-bottom: 40px;
    span {
      color: $color-p-pink;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
  }
  &__image {
    border-radius: 10px;
  }
}