.auth {
  padding-top: 145px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1px;
  min-height: 100vh;
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(md) {
      margin: 0 -10px;
    }
  }
  &__item {
    position: relative;
    margin: 0 18px;
    padding: 45px 50px 50px;
    width: 41.3793103%;
    max-width: 480px;
    border: 2px solid $color-dimmed;
    border-radius: $radius;
    &--dimmed {
      background-color: $color-dimmed;
    }
    @include media-breakpoint-down(md) {
      margin: 0 10px;
      width: 49.1701245%;
      max-width: none;
    }
  }
  &__title {
    margin-bottom: 30px;
    font-size: 2.33333333rem;
    line-height: 1.31428571;
    text-align: center;
  }
  &__form {
    margin-bottom: 45px;
  }
  &__link {
    color: $color-text-dark;
    text-decoration: underline;
    font-size: 0.86666667rem;
    line-height: 40px;
    &:hover {
      color: $color-text-dark;
      text-decoration: none;
    }
  }
  &__social-title {
    margin-bottom: 20px;
    text-align: center;
  }
  &__particle {
    &--light-green {
      top: 298px;
      left: 83px;
    }
    &--pink {
      top: 101px;
      right: 82px;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__zig-line {
    top: 290px;
    left: 22px;
    width: 26px;
    height: 14px;
  }
  &__cube {
    right: -75px;
    bottom: 114px;
    width: 101px;
    height: 95px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.portrait-sceen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  svg {
    margin-bottom: 100px;
    width: 230px;
    height: 200px;
  }
  span {
    font-size: 1.6rem;
    line-height: 1;
    text-transform: uppercase;
  }
  @media (max-width: $screen-md-max) and (orientation: portrait) {
    opacity: 1;
    visibility: visible;
  }
  @media (max-width: $screen-md-max) and (orientation: landscape) {
    opacity: 0;
    visibility: hidden;
  }
}