.faq {
  // padding-bottom: 155px;
  // @include media-breakpoint-down(md) {
  //   padding-bottom: 160px;
  // }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 155px;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  &__left {
    width: 49.137931%;
    @include media-breakpoint-down(md) {
      margin-bottom: 125px;
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 50px;
  }
  &__accordion {
    margin-bottom: 60px;
  }
  &__right {
    width: 42.2413793%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  &__form {
    margin-bottom: 30px;
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }
  &__image {
    margin: 0 auto;
    max-width: 502px;
    overflow: visible;
    border-radius: 0;
    &::before {
      padding-bottom: 128.286853%;
    }
  }
  &__triangle {
    left: -3.06122449%;
    bottom: 10%;
    width: 19.1836735%;
    fill: $color-control-default;
  }
  &__question {
    top: 3.5%;
    right: -1%;
    width: 38.7755102%;
  }
  &__particle {
    &--pink {
      top: -40px;
      left: 533px;
    }
    &--yellow {
      top: 700px;
      right: 600px;
    }
    &--light-green {
      bottom: 295px;
      right: 570px;
    }
    &--steelblue {
      bottom: 220px;
      left: 420px;
    }
    @include media-breakpoint-down(md) {
      &--pink {
        top: -65px;
        left: 376px;
      }
      &--yellow {
        top: auto;
        right: auto;
        left: 107px;
        bottom: 750px;
      }
      &--light-green {
        right: 65px;
        bottom: 530px;
      }
      &--steelblue {
        left: 84px;
        bottom: 215px;
      }
    }
    @include media-breakpoint-down(sm) {
      &--pink {
        left: auto;
        right: 40px;
      }
      &--yellow {
        left: 50px;
        bottom: 780px;
      }
      &--light-green {
        right: 35px;
        bottom: 430px;
      }
      &--steelblue {
        left: 104px;
        bottom: 365px;
      }
    }
  }
  &__bottom {
    margin-bottom: -160px;
    @include media-breakpoint-down(md) {
      margin-bottom: -135px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: -145px;
    }
  }
}

.b-faq-form {
  position: relative;
  padding: 48px 57px 64px;
  color: #fff;
  background-color: $color-p-dark-purple;
  border-radius: $radius;
  @include media-breakpoint-down(md) {
    padding: 48px 75px 64px;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px 15px;
  }
  &__title {
    display: block;
    margin-bottom: 35px;
    font-family: $font-3-fallback;
    font-size: 2.33333rem;
    line-height: 1.31428571;
    font-weight: 700;
    text-align: center;
  }
  &__heart {
    top: 40px;
    right: -16px;
    width: 42px;
    svg {
      transform: rotate(15deg);
    }
    @include media-breakpoint-down(sm) {
      top: 10px;
      right: -10px;
    }
  }
  &__cube {
    left: 46px;
    bottom: -57px;
    width: 101px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}