/* index */
[data-tooltip] {
	@include hui_tooltip(attr(data-tooltip), 'top', grey);
}

.index {
	&__first {
		margin-bottom: 80px;
		@include media-breakpoint-down(md) {
			margin-bottom: 95px;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 125px;
		}
	}
	&__steps {
		margin-bottom: 90px;
		@include media-breakpoint-down(md) {
			margin-bottom: 120px;
		}
	}
	&__advantages {
		margin-bottom: 140px;
		@include media-breakpoint-down(md) {
			margin-bottom: 120px;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 110px;
		}
	}
	&__reviews {
		margin-bottom: 150px;
		&--about {
			margin-bottom: 70px;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 180px;
			&--about {
				margin-bottom: 145px;
			}
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 125px;
		}
	}
	&__features {
		margin-bottom: 164px;
		@include media-breakpoint-down(md) {
			margin-bottom: 115px;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 125px;
		}
	}
	&__articles {
		margin-bottom: 160px;
		@include media-breakpoint-down(md) {
			margin-bottom: 135px;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 120px;
		}
	}
	&__faq {
		margin-bottom: 200px;
		@include media-breakpoint-down(md) {
			margin-bottom: 130px;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 120px;
		}
	}
	&__social {
		margin-bottom: -160px;
		@include media-breakpoint-down(md) {
			margin-bottom: -135px;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: -145px;
		}
	}
	&__gallery {
		margin-bottom: 195px;
		&--about {
			margin-bottom: 145px;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 135px;
			&--about {
				margin-bottom: 115px;
			}
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 115px;
			&--about {
				margin-bottom: 135px;
			}
		}
	}
	&__personal {
		margin-bottom: 105px;
		@include media-breakpoint-down(md) {
			margin-bottom: 135px;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 120px;
		}
	}
	&__contacts {
		margin-bottom: -155px;
		@include media-breakpoint-down(md) {
			margin-bottom: -145px;
		}
	}
}

.b-steps {
	&__wrapper {
		position: relative;
		display: flex;
		counter-reset: stepCounter;
		@include media-breakpoint-down(md) {
			flex-wrap: wrap;
			margin: 0 auto -35px;
			max-width: 558px;
		}
		@include media-breakpoint-down(sm) {
			justify-content: center;
			margin: 0 -7px;
			max-width: none;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		margin-right: 3.79310345%;
		padding: 20px 40px 30px;
		width: 22.1551724%;
		background-color: $color-dimmed;
		border-radius: $radius;
		&::before {
			counter-increment: stepCounter;
			content: counter(stepCounter, decimal-leading-zero);
			display: block;
			margin-bottom: 13px;
			font-family: $font-5-fallback;
			font-size: 2.4rem;
			line-height: 1.33333;
			color: $color-p-gray;
			letter-spacing: 0;
		}
		&:nth-child(1) {
			.b-steps__image {
				width: 106px;
			}
		}
		&:nth-child(2) {
			.b-steps__image {
				width: 114px;
			}
		}
		&:nth-child(3) {
			.b-steps__image {
				position: relative;
				width: 96px;
				&::before {
					content: "";
					position: absolute;
					left: -128px;
					bottom: -9px;
					width: 116px;
					height: 214px;
					background-image: url("../img/theme/decor-leaves.svg");
					background-repeat: no-repeat;
					background-size: contain;
					transform: rotate(-69deg);
				}
			}
		}
		&:nth-child(4) {
			margin-right: 0;
			.b-steps__image {
				width: 118px;
			}
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 35px;
			margin-right: 7.88530466%;
			width: 46.0573477%;
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		@include media-breakpoint-down(sm) {
			margin: 0 7px 15px;
			padding: 25px 58px 30px;
			width: 290px;
			&:nth-child(3) {
				.b-steps__image {
					&::before {
						left: -88px;
						bottom: -6px;
						width: 82px;
						height: 152px;
					}
				}
			}
		}
	}
	&__text {
		margin-bottom: 30px;
		font-family: $font-3-fallback;
		font-size: 1.2rem;
		line-height: 1.33333;
		color: $color-text-dark;
		letter-spacing: 0;
	}
	&__image {
		align-self: center;
		margin-top: auto;
	}
}

.b-advantages {
	position: relative;
	display: flex;
	justify-content: space-between;
	@include media-breakpoint-down(md) {
		display: block;
	}
	&__left {
		padding-top: 47px;
		max-width: 415px;
		@include media-breakpoint-down(md) {
			margin-bottom: 50px;
			padding-top: 0;
			max-width: none;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 35px;
		}
	}
	&__text {
		max-height: 48px;
		overflow: hidden;
		@include media-breakpoint-down(md) {
			max-height: none;
			overflow: visible;
		}
	}
	&__right {
		position: relative;
		padding: 47px 55px 47px 90px;
		color: #fff;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 1500px;
			height: 100%;
			background-color: $color-p-dark-purple;
			border-radius: $radius;
		}
		@include media-breakpoint-down(sm) {
			padding: 40px 35px;
			&::before {
				width: 100%;
			}
		}
	}
	&__list {
		position: relative;
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		max-width: 530px;
		@include media-breakpoint-down(sm) {
			justify-content: center;
			max-width: none;
		}
	}
	&__item {
		margin-right: 130px;
		width: 155px;
		&:nth-child(2n) {
			margin-right: 0;
		}
		@include media-breakpoint-down(sm) {
			margin: 40px 30px;
			&:nth-child(2n) {
				margin-right: 30px;
			}
		}
	}
	&__value {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 25px;
		font-family: $font-3-fallback;
		font-size: 3.066666rem;
		line-height: 1.304347883;
	}
	&__plus {
		color: $color-p-pink;
	}
	&__decore {
		svg {
			max-height: 100%;
		}
		&--zig-line {
			z-index: -1;
			left: -88px;
			top: 66px;
			width: 95px;
			height: 42px;
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
		&--cube {
			z-index: 1;
			right: -46px;
			bottom: -51px;
			width: 77px;
			height: 83px;
			@include media-breakpoint-down(md) {
				right: 25px;
			}
		}
	}
	&__particle {
		&--yellow {
			left: 200px;
			top: -20px;
			@include media-breakpoint-down(md) {
				top: -45px;
			}
		}
		&--light-green {
			left: 176px;
			bottom: -85px;
		}
	}
}

.b-articles {
	position: relative;
	&__title {
		margin-bottom: 45px;
		text-align: center;
	}
	&__slider {
		margin-bottom: 55px;
		@include media-breakpoint-down(md) {
			margin: 0 -30px 55px;
			padding: 0 calc((100vw - 358px) / 2);
		}
		@include media-breakpoint-down(sm) {
			margin: 0 -15px 55px;
			padding: 0 15px;
		}
	}
	&__actions {
		justify-content: center;
	}
	&__particle {
		&--light-green {
			top: 0;
			left: 90px;
		}
		@include media-breakpoint-down(md) {
			&--light-green {
				left: 98px;
			}
		}
	}
}

.b-faq {
	position: relative;
	display: flex;
	justify-content: space-between;
	@include media-breakpoint-down(md) {
		display: block;
	}
	&__left {
		width: 47.8448276%;
		@include media-breakpoint-down(md) {
			margin-bottom: 45px;
			width: 100%;
		}
	}
	&__title {
		margin-bottom: 50px;
	}
	&__right {
		width: 45.2586207%;
		@include media-breakpoint-down(md) {
			margin: 0 auto;
			width: 100%;
			max-width: 525px;
		}
	}
	&__image {
		margin-top: -90px;
		overflow: visible;
		&::before {
			padding-bottom: 122.666667%;
		}
		@include media-breakpoint-down(md) {
			margin-top: 0;
		}
	}
	&__question {
		top: 9%;
		left: 0;
		width: 33.7142857%;
	}
	&__leaves {
		left: 31.147619%;
		bottom: -0.66179775%;
		width: 88.952381%;
	}
	&__cube {
		top: 1.5%;
		right: 7.6%;
		width: 19.2380952%;
	}
	&__particle {
		&--yellow {
			left: 290px;
			bottom: -35px;
		}
		&--steelblue {
			bottom: -130px;
			right: 409px;
		}
		@include media-breakpoint-down(md) {
			&--yellow {
				left: 47px;
				bottom: 530px;
			}
			&--steelblue {
				bottom: -65px;
				right: 168px;
			}
		}
	}
	&__lightning {
		left: 173px;
		bottom: -95px;
		width: 55px;
		height: 82px;
		svg {
			height: 100%;
		}
		@include media-breakpoint-down(md) {
			left: 105px;
			bottom: -85px;
		}
		@include media-breakpoint-down(sm) {
			left: 25px;
		}
	}
}

/* .index */