.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
  padding-bottom: 125px;
  min-height: 100vh;
  height: 1px;
  background-image: url("../img/theme/404-bg.svg");
  background-repeat: no-repeat;
  background-size: 119%;
  background-position: center;
  @include media-breakpoint-down(md) {
    background-size: 213%;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 160px;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    max-width: 605px;
  }
  &__title {
    align-self: flex-start;
    margin-bottom: -80px;
    padding-left: 40px;
    @include media-breakpoint-down(sm) {
      align-self: center;
      margin: 0;
      padding: 0;
    }
  }
  &__error {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
    font-family: $font-4-fallback;
    font-size: 306px;
    line-height: 1;
    color: $color-text-dark;
    white-space: nowrap;
    @include media-breakpoint-down(sm) {
      font-size: 148px;
    }
  }
  &__image {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 30px;
    width: 280px;
    @include media-breakpoint-down(sm) {
      margin: 0 10px;
      width: 137px;
    }
  }
  &__decor {
    left: -36.0714286%;
    bottom: -9.26966292%;
    // bottom: -33px;
    width: 123.214286%;
  }
  &__waves {
    top: 150px;
    right: -112px;
    width: 137px;
    height: 77px;
    svg {
      max-height: 100%;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__particle {
    &--light-green {
      top: 65px;
      right: 316px;
    }
    &--pink {
      left: 277px;
      bottom: 65px;
    }
    &--steelblue {
      right: 168px;
      bottom: 45px;
    }
    @include media-breakpoint-down(md) {
      &--light-green {
        top: 235px;
        right: 20px;
      }
      &--pink {
        bottom: 185px;
        left: 137px;
      }
      &--steelblue {
        right: 135px;
        bottom: 45px;
      }
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}