.performers {
  &__wrapper {
    position: relative;
    margin-bottom: 125px;
    padding-top: 45px;
    padding-right: 42.2401171%;
    min-height: calc(100vh - 135px);
    @include media-breakpoint-down(lg) {
      padding-right: 42.2401171%;
    }
    @include media-breakpoint-down(md) {
      padding-top: 0;
      padding-right: 30px;
      min-height: auto;
    }
  }
  &__top {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      justify-content: space-between;
      margin-bottom: 50px;
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
  }
  &__filters {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @include media-breakpoint-down(md) {
      margin-bottom: 35px;
    }
    @include media-breakpoint-down(sm) {
      padding: 0 10px;
      flex-direction: column;
    }
  }
  &__sorts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      margin-bottom: 25px;
    }
  }
  &__title {
    margin-bottom: 0;
    margin-right: 25px;
    font-size: 2.33333rem;
    line-height: 1.31428571;
    @include media-breakpoint-down(md) {
      font-size: 3.06666667rem;
      line-height: 1.30434783;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      font-size: 2.33333rem;
      line-height: 1.31428571;
      text-align: center;
    }
  }
  &__result {
    &-numbers {
      font-size: 1.6rem;
    }
  }
  &__place-filter {
    margin-bottom: -15px;
    width: 62.6822157%;
    max-width: 430px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      width: 100%;
    }
  }
  &__sort {
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  &__top-status {
    color: $color-text-dark;
    .star {
      margin-left: 7px;
      font-size: 16px;
    }
  }
  &__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 37.5549048%;
    height: calc(100vh - 135px);
    background-image: url("../img/media/map-performer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $radius 0 0 0;
    overflow: hidden;
    @include media-breakpoint-down(md) {
      position: static;
      margin-right: -30px;
      margin-bottom: 65px;
      width: auto;
      height: 490px;
      border-radius: $radius 0 0 $radius;
    }
    @include media-breakpoint-down(sm) {
      margin: 0 -15px 80px;
      height: 445px;
      border-radius: 0;
    }
  }
  &__list {
    margin-bottom: 55px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 35px;
    }
  }
  &__item {
    margin-bottom: 10px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }
  }
  &__actions {
    text-align: center;
  }
  &__social {
    margin-bottom: -160px;
    @include media-breakpoint-down(md) {
			margin-bottom: -135px;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: -145px;
		}
  }
}

.b-big-filter {
  // position: relative;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  &__toggle {
    padding: 10px 35px 10px;
    border-radius: $radius;
    border: none;
    svg {
      margin-right: 10px;
      font-size: 20px;
      fill: $color-control-default;
      stroke: currentColor;
      stroke-width: 2;
      stroke-linecap: round;
    }
    .b-big-filter.active & {
      color: #fff;
      background-color: $color-p-dark-purple;
      svg {
        fill: $color-p-dark-purple;
      }
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &__form {
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    // left: -30px;
    right: -30px;
    display: flex;
    flex-wrap: wrap;
    padding: 35px 30px;
    width: calc(100% + 60px);
    max-width: 760px;
    background-color: $color-dimmed;
    border-radius: $radius;
    box-shadow: 0 40px 50px rgba(#000, 0.17);
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: 0.3s ease;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 41px;
      width: 130px;
      height: 2px;
      background-color: $color-p-dark-purple;
      border-radius: 2px;
    }
    .b-big-filter.active & {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    @include media-breakpoint-down(lg) {
      right: -15px;
      width: calc(100% + 30px);
      &::before {
        right: 26px;
      }
    }
    @include media-breakpoint-down(sm) {
      right: -10px;
      padding: 20px 15px;
      width: calc(100% + 20px);
      &::before {
        left: 35px;
        right: 35px;
        width: auto;
      }
    }
  }
  &__left {
    flex-grow: 1;
  }
  &__right {
    margin-left: 20px;
    width: 245px;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
      width: 100%;
    }
  }
  &__bottom {
    margin-top: 20px;
    width: 100%;
  }
  &__submit-button {
    margin-right: 20px;
  }
}

.b-performer-sort {
  display: flex;
  align-items: center;
  &__name {
    margin-right: 10px;
  }
  &__field {
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      width: 8px;
      height: 16px;
      background-image: url("../img/theme/sort-controls.svg");
    }
  }
}

.b-checkbox-select {
  position: relative;
  z-index: 1;
  &__toggle {
    position: relative;
    display: block;
    padding: 0 30px 0 18px;
    width: 100%;
    color: $color-text;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    background-color: #fff;
    border-radius: $radius;
    border: 2px solid $color-control-default;
    transition: box-shadow 0.2s ease;
    .b-checkbox-select--white-br & {
      border-color: #fff;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 12px;
      width: 14px;
      height: 8px;
      background-image: url("../img/theme/select-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);
    }
    .b-checkbox-select.active & {
      border-bottom-color: #fff;
      border-radius: $radius $radius 0 0;
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08);
    }
  }
  &__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 0 0 $radius $radius;
    border: 2px solid $color-control-default;
    border-top: none;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
    .b-checkbox-select--white-br & {
      border-color: #fff;
    }
    .b-checkbox-select.active & {
      display: block;
    }
  }
  &__item {
    margin-bottom: 10px;
    padding: 0 15px;
    &:last-child {
      margin-bottom: 0;
    }
    .ui-checkbox__text {
      font-size: 13px;
      line-height: 22px;
    }
  }
}