.personal-area {
  display: grid;
  grid-template-areas: "menu header"
                       "menu content";
  grid-template-columns: 235px 1fr;
  grid-template-rows: 90px 1fr;
  min-height: 100vh;
  &__header {
    grid-area: header;
    align-self: flex-end;
  }
  &__menu {
    grid-area: menu;
    padding: 30px 20px 0;
    background-color: $color-p-dark-purple;
  }
  &__logo {
    margin-bottom: 65px;
    text-align: center;
  }
  &__content {
    grid-area: content;
    padding: 0 0 40px 40px;
    &--pr {
      padding-right: 40px;
    }
    @include media-breakpoint-down(md) {
      padding: 0 0 0 30px;
      &--pr {
        padding-right: 30px;
      }
    }
  }
  &__gray-wrapper {
    margin-bottom: -40px;
    padding: 35px 40px 40px 40px;
    height: 100%;
    background-color: $color-dimmed;
    border-radius: $radius 0 0 0;
    &--no-pr {
      padding-right: 0;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      padding: 35px 20px 0;
      &--no-pr {
        padding-right: 0;
      }
    }
  }
  &__scroll-block {
    height: calc(100vh - 173px);
    overflow: hidden;
    &--in-gray {
      height: calc(100vh - 208px);
      // height: calc(100vh - 213px);
      .mCSB_scrollTools .mCSB_draggerContainer:before {
        background-color: #fff;
      }
    }
    &--data {
      height: calc(100vh - 208px);
    }
    &--center-content {
      .mCSB_container {
        display: flex;
      }
    }
    @include media-breakpoint-down(md) {
      height: calc(100vh - 133px);
      &--in-gray {
        height: calc(100vh - 168px);
      }
    }
  }
  &__title {
    max-height: 28px;
    overflow: hidden;
    &--mb-big {
      margin-bottom: 50px;
    }
    @include media-breakpoint-down(md) {
      &--mb-big {
        margin-bottom: 15px;
      }
    }
  }
  &__grid {
    display: grid;
    gap: 0 40px;
    grid-template-columns: minmax(65.5077768%, 1fr) minmax(270px, 27.3559012%);
    // &--h-100 {
    //   height: 100%;
    // }
    @include media-breakpoint-down(md) {
      gap: 0 25px;
      grid-template-columns: 1fr 270px;
    }
  }
  &__materials-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
      margin-bottom: 35px;
    }
  }
  &__right {
    position: relative;
    margin-top: 42px;
    margin-bottom: -40px;
    padding: 35px 40px 40px;
    border-radius: $radius 0 0 0;
    &--dimmed {
      background-color: $color-dimmed;
    }
    &--yellow {
      background-color: $color-p-yellow;
    }
    &--green {
      background-color: $color-p-green;
    }
    &--pink {
      background-color: $color-p-pink;
    }
    &--pass {
      margin-top: 0;
      margin-bottom: 0;
      border-radius: $radius 0 0 $radius;
    }
    &--no-pt {
      padding-top: 0;
    }
    &--no-mb {
      margin-bottom: 0;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      padding: 35px 20px 40px;
      &--pass {
        margin-bottom: 30px;
      }
    }
  }
  &__doc {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__list {
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      &--in-gray {
        margin-bottom: 35px;
      }
    }
  }
}

.b-personal-area-menu {
  margin-right: -20px;
  list-style: none;
  &__item {
    position: relative;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 23px 0 0 23px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -2px;
      width: 27px;
      height: 92px;
      background-image: url("../img/theme/active-menu-bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: translateY(-50%);
      opacity: 0;
    }
    &.active {
      color: $color-text-dark;
      background-color: #fff;
      &::before {
        opacity: 1;
      }
    }
  }
  &__link {
    position: relative;
    display: block;
    padding: 14px 40px 14px 60px;
    font-size: 14px;
    line-height: 18px;
    color: currentColor;
    transition: 0.2s ease;
    &:hover {
      color: currentColor;
      text-decoration: none;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 17px;
    font-size: 24px;
    line-height: 1;
    transform: translateY(-50%);
    fill: currentColor;
    opacity: 0.23;
    &--stroke {
      stroke: currentColor;
      stroke-width: 2;
    }
    .active & {
      opacity: 1;
    }
  }
  &__notification-value {
    vertical-align: bottom;
    margin-left: 10px;
  }
}

.b-personal-data {
  display: grid;
  gap: 0 40px;
  grid-template-columns: repeat(2, 1fr);
  &--h-100 {
    min-height: calc(100vh - 173px);
  }
  @include media-breakpoint-down(md) {
    display: block;
  }
  &__item {
    padding: 30px 25px;
    border-radius: $radius;
    &--h-100 {
      height: 100%;
    }
    &--center {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &--dimmed {
      background-color: $color-dimmed;
    }
    &--pink {
      background-color: $color-p-pink;
    }
    &--hollow {
      border: 2px solid $color-control-default;
    }
    &--addit-info {
      flex-shrink: 0;
      // margin-top: 20px;
      .ui-checkbox {
        color: $color-text-dark;
      }
    }
    &--flex {
      display: flex;
      flex-direction: column;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      // &:last-child {
      //   margin-bottom: 0;
      // }
    }
  }
  &__ad-form {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid $color-dimmed;
  }
  &__executor-address {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__executor-map {
    flex-grow: 1;
    height: 155px;
    background-image: url("../img/media/map-lk.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: $radius;
    overflow: hidden;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__file-form {
    flex-grow: 1;
    margin-bottom: 55px;
    .file-input {
      display: flex;
      flex-direction: column;
      height: 100%;
      &__wrapper {
        flex-grow: 1;
        // height: auto;
        min-height: auto;
      }
    }
  }
}

.b-personal-orders {
  height: calc(100vh - 205px);
  overflow: hidden;
  @include media-breakpoint-down(md) {
    height: calc(100vh - 165px);
  }
  &__item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    @include media-breakpoint-down(md) {
      &:last-child {
        margin-bottom: 30px;
      }
    }
  }
}

.b-add-pet {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 35px 40px 40px;
  width: 100%;
  min-width: 627px;
  background-color: $color-dimmed;
  border-radius: $radius 0 0 0;
  box-shadow: 0 0 0 rgba(#000, 0.12);
  transition: 0.4s ease;
  &.active {
    box-shadow: 0 40px 50px rgba(#000, 0.12);
  }
  &__form {
    flex-grow: 1;
    pointer-events: none;
    .b-add-pet.active & {
      pointer-events: initial;
    }
  }
  &__toggle-button {
    position: absolute;
    top: 50%;
    left: -23px;
    background-color: $color-p-pink;
    border-color: $color-p-pink;
    transform: translateY(-50%) rotate(45deg);
    transition: 0.3s ease;
    &:active {
      transform: translateY(calc(-50% + 1px)) rotate(45deg);
    }
    .b-add-pet.active & {
      background-color: $color-p-dark-purple;
      border-color: $color-p-dark-purple;
      transform: translateY(-50%) rotate(0);
      &:active {
        transform: translateY(calc(-50% + 1px)) rotate(0);
      }
    }
  }
}

.b-notification-table {
  margin-bottom: 40px;
  width: 100%;
  color: $color-text-dark;
  &__header {
    font-size: 0.933333rem;
    line-height: 1.14285714;
    text-transform: uppercase;
  }
  &__body {
    border: 3px solid $color-dimmed;
    border-radius: $radius;
    .b-notification-table__row {
      border-bottom: 2px solid $color-dimmed;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &__row {
    display: flex;
    align-items: center;
    padding: 0 55px;
  }
  &__cell {
    flex-shrink: 0;
    padding: 26px 20px;
    width: 110px;
    text-align: center;
    &:first-child {
      padding-left: 0;
      flex-grow: 1;
      flex-shrink: 1;
      width: auto;
      text-align: left;
    }
    &:last-child {
      padding-right: 0;
    }
    &--header {
      font-weight: 400;
    }
    &--control {
      line-height: 0;
    }
  }
}

.b-personal-safety {
  @include media-breakpoint-down(md) {
    margin-bottom: 35px;
  }
  &__message {
    position: relative;
    margin-bottom: 30px;
    padding: 25px 25px 25px 95px;
    color: #fff;
    border-radius: $radius;
    &--success {
      background-color: #58B78C;
      background-image: linear-gradient(45deg, #87DEA5, #58B78C);
    }
    &--error {
      background-color: #F64761;
      background-image: linear-gradient(45deg, #FD904C, #F64761);
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
    }
  }
  &__icon {
    position: absolute;
    top: 17px;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background-image: url("../img/theme/status-icon-bg.svg");
    background-size: contain;
    background-position: center;
    .b-personal-safety__message--success & {
      font-size: 18px;
      color: #58B78C;
    }
    .b-personal-safety__message--error & {
      font-size: 29px;
      color: #F2684C;
    }
  }
  &__status {
    margin-bottom: 20px;
    color: #fff;
  }
  &__files-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    @include media-breakpoint-down(md) {
      gap: 15px;
      grid-template-columns: repeat(auto-fill, minmax(199px, 1fr));
    }
  }
}

.b-personal-file {
  padding: 30px 30px 15px;
  background-color: #fff;
  border-radius: $radius;
  @include media-breakpoint-down(md) {
    padding: 25px 20px 15px;
  }
  &__image {
    display: block;
    border-radius: 0;
    img {
      object-position: center top;
    }
    &::before {
      padding-bottom: 115.606936%;
    }
  }
  &__eye {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -48px;
    margin-left: -48px;
    opacity: 0;
    transform: translateY(15px);
    transition: 0.3s ease;
    .b-personal-file__image:hover & {
      opacity: 1;
      transform: translateY(0);
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__bottom {
    position: relative;
    margin: 0 -30px;
    padding: 20px 30px 0;
    text-align: center;
    border-top: 2px solid $color-control-default;
    &--form {
      padding: 15px 12px 0;
    }
    @include media-breakpoint-down(md) {
      margin: 0 -20px;
      padding: 20px 20px 0;
      &--form {
        padding: 15px 10px 0;
      }
    }
  }
  &__name {
    font-family: $font-3-fallback;
    line-height: 1.26666667;
    color: $color-text-dark;
  }
  &__delete {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease;
    .b-personal-file:hover & {
      transform: translateX(-50%) scale(1);
    }
    @include media-breakpoint-down(md) {
      transform: translateX(-50%) scale(1);
    }
  }
}

.b-personal-file-form {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #fff;
  border-radius: $radius;
  &__form {
    flex-grow: 1;
    margin-bottom: 20px;
  }
  &__text {
    font-family: $font-3-fallback;
    color: $color-text-dark;
    line-height: 1.46666667;
    text-align: center;
  }
}

.b-change-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}