.profile {
  padding-bottom: 63px;
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  &__left {
    width: 30.1724138%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  &__right {
    width: 66.2068966%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  &__item {
    margin-bottom: 35px;
    padding: 40px 35px;
    border: 2px solid $color-dimmed;
    border-radius: $radius;
    &--pv2 {
      padding: 65px 30px;
    }
    &--dimmed {
      background-color: $color-dimmed;
    }
    &:last-of-type {
      margin-bottom: 60px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
      padding: 30px 15px;
      &--pv2 {
        padding: 65px 15px 30px;
      }
      &:last-of-type {
        margin-bottom: 50px;
      }
    }
  }
  &__sub-item {
    padding: 25px 0;
    border-bottom: 1px solid $color-dimmed;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border: none;
    }
  }
  &__slider {
    margin: 0 -35px 30px;
    padding: 0 35px;
    @include media-breakpoint-down(sm) {
      margin: -32px -17px 45px;
      padding: 0;
    }
  }
  &__numbers-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    @include media-breakpoint-down(sm) {
      margin-bottom: -20px;
      flex-wrap: wrap;
    }
  }
  &__numbers-item {
    width: 22%;
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      width: 45%;
    }
  }
  &__numbers-value {
    font-family: $font-5-fallback;
    font-size: 2.4rem;
    line-height: 1.25;
    color: $color-text-dark;
  }
  &__numbers-text {
    margin-top: 15px;
    font-family: $font-2-fallback;
  }
  &__skills {
    margin: 0 -5px -10px;
    list-style: none;
  }
  &__skills-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 10px;
  }
  &__bottom {
    position: relative;
    margin-left: auto;
    width: 66.2068966%;
    @include media-breakpoint-down(md) {
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }
  &__arrow {
    top: 30%;
    left: 275px;
    width: 92px;
    svg {
      transform: rotate(-45deg);
    }
    @include media-breakpoint-down(md) {
      top: 30%;
      left: 68%;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__particle {
    &--yellow {
      top: 1332px;
      left: 385px;
    }
    &--light-green {
      bottom: 1200px;
      left: 168px;
    }
    &--steelblue {
      right: 294px;
      bottom: -60px;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.b-profile-info {
  position: relative;
  @include media-breakpoint-down(md) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: $color-dimmed;
      transform: translateX(-50%);
    }
  }
  @include media-breakpoint-down(sm) {
    &::before {
      display: none;
    }
  }
  &__status {
    position: absolute;
    top: -39px;
    right: 0;
    font-size: 0.86666667rem;
    line-height: 1.15384615;
    color: #BEBEBE;
  }
  &__item {
    padding: 25px 0;
    border-bottom: 1px solid $color-dimmed;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border: none;
    }
    &--column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include media-breakpoint-down(md) {
      width: 44%;
      &:nth-child(1),
      &:nth-child(4) {
        float: left;
      }
      &:nth-child(2),
      &:nth-child(3) {
        float: right;
      }
      &:nth-child(1) {
        padding-bottom: 60px;
      }
      &:nth-child(2) {
        padding-top: 0;
      }
      &:nth-child(3) {
        padding-bottom: 0;
        border-bottom: none;
      }
      &:nth-child(4) {
        padding-top: 60px;
      }
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 45px 0;
      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(2),
      &:nth-child(3) {
        float: none;
      }
      &:nth-child(1) {
        padding-bottom: 45px;
      }
      &:nth-child(2) {
        padding-top: 45px;
      }
      &:nth-child(3) {
        padding-bottom: 45px;
        border-bottom: 1px solid $color-dimmed;
      }
      &:nth-child(4) {
        padding-top: 45px;
      }
    }
  }
  &__photo {
    position: relative;
    margin-bottom: 25px;
    width: 150px;
    &::after {
      content: "";
      position: absolute;
      right: -5px;
      bottom: -5px;
      width: 18px;
      height: 18px;
      background-color: $color-p-gray;
      border: 2px solid $color-dimmed;
      border-radius: 50%;
    }
    &--online {
      &::after {
        background-color: $color-p-green;
      }
    }
    &--offline {
      &::after {
        background-color: $color-p-pink;
      }
    }
  }
  &__hello {
    top: -35.5%;
    left: -62%;
    z-index: 1;
    width: 82%;
    @include media-breakpoint-down(sm) {
      top: -22.6666667%;
      left: -20%;
      width: 62%;
    }
  }
  &__image {
    border-radius: 7px;
  }
  &__name {
    margin-bottom: 10px;
    font-family: $font-3-fallback;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 700;
    color: $color-text-dark;
  }
  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__age {
    margin-right: 20px;
  }
  &__place {
    i {
      margin-right: 10px;
      font-size: 19px;
      color: $color-p-aquagreen;
    }
  }
  &__appraisal {
    margin-right: 12px;
    line-height: 0;
  }
  &__link {
    font-size: 0.86666667rem;
    line-height: 1.15384615;
    color: $color-text-dark;
    text-decoration: underline;
    &:hover {
      color: $color-text-dark;
      text-decoration: none;
    }
    &--pink {
      font-family: $font-2-fallback;
      color: $color-p-pink;
      text-decoration: underline;
      &:hover {
        color: $color-p-pink;
      }
    }
  }
  &__title {
    &--mb-0 {
      margin-bottom: 0;
    }
  }
  &__cost-list {
    margin-bottom: 15px;
    list-style: none;
  }
  &__cost-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__service {
    font-size: 0.93333333rem;
    line-height: 1.8;
  }
  &__price {
    font-size: 0.86666667rem;
    line-height: 1.15384615;
  }
  &__value {
    font-family: $font-3-fallback;
    font-size: 1.86666667rem;
    line-height: 1.32142857;
    font-weight: 700;
    color: $color-text-dark;
  }
  &__center-wrapper {
    text-align: center;
  }
  &__calendar {
    margin-bottom: 15px;
  }
  &__connect-button {
    width: 100%;
  }
}

.b-verification {
  &__status {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: $font-2-fallback;
    color: $color-text-dark;
  }
  &__icon {
    position: relative;
    margin-right: 10px;
    color: #fff;
    svg {
      width: 36px;
      height: 36px;
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 13px;
      transform: translate(-50%, -50%);
    }
    &--succes {
      svg {
        fill: $color-p-green;
      }
    }
    &--error {
      svg {
        fill: $color-p-pink;
      }
    }
  }
  &__list {
    list-style: none;
  }
  &__item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
    font-size: 14px;
    &::before {
      content: "";
      position: absolute;

    }
    &:last-child {
      margin-bottom: 0;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 30px;
    }
  }
  &__item-icon {
    position: absolute;
    top: 5px;
    left: 0;
    margin-right: 20px;
    &--succes {
      color: $color-p-green;
    }
    &--error {
      color: $color-p-pink;
    }
  }
}

.b-profile-slider {
  @include media-breakpoint-down(sm) {
    border-radius: $radius $radius 0 0;
  }
  &__button {
    position: absolute;
    top: 50%;
    z-index: 2;
    margin-top: -25px;
    width: 30px;
    height: 50px;
    color: #fff;
    border-radius: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 220%;
      height: 100%;
      border-radius: 27px / 25px;
      background-color: $color-p-dark-purple;
    }
    svg {
      position: absolute;
      top: 50%;
      stroke: currentColor;
      stroke-width: 2px;
      transform: translateY(-50%);
    }
    &:hover {
      color: #fff;
    }
    &--prev {
      left: 0;
      &::before {
        right: 0;
      }
      svg {
        left: 0;
        transform: translateY(-50%) rotate(180deg);
      }
    }
    &--next {
      right: 0;
      &::before {
        left: 0;
      }
      svg {
        right: 0;
      }
    }
  }
  &__slide {
    width: 204px;
    &--big {
      width: 300px;
      .b-profile-slider__image {
        &::before {
          padding-bottom: 68%;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      // width: auto;
      &--big {
        // width: auto;
        .b-profile-slider__image {
          &::before {
            padding-bottom: 70.3448276%;
          }
        }
      }
    }
  }
  &__image {
    display: block;
    &:hover {
      .b-profile-slider__icon {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
    @include media-breakpoint-down(sm) {
      border-radius: $radius $radius 0 0;
      &::before {
        padding-bottom: 70.3448276%;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: 0.3s ease;
    transform: translate(-50%, -40%);
  }
}

.b-profile-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -35px;
  list-style: none;
  @include media-breakpoint-down(sm) {
    display: block;
    margin-bottom: -40px;
  }
  &__item {
    margin-bottom: 35px;
    width: 45%;
    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 25px;
    line-height: 1.33333;
  }
}

.b-profile-price {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  &__navigation {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__button {
    margin-right: 10px;
    min-width: 97px;
    font-size: 0.933333rem;
    background-color: #E5E5E5;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      color: #fff;
      background-color: $color-p-dark-purple;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -35px;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    width: 45%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
    width: 70px;
    height: 70px;
    font-size: 36px;
    line-height: 1;
    color: #fff;
    border-radius: $radius;
    &--purple {
      background-color: $color-p-purple;
    }
    &--aqua {
      background-color: $color-p-aqua;
    }
  }
  &__price {
    font-size: 0.86666667rem;
    line-height: 1.15384615;
  }
  &__value {
    font-family: $font-3-fallback;
    font-size: 1.86666667rem;
    line-height: 1.32142857;
    font-weight: 700;
    color: $color-text-dark;
  }
  &__name {
    font-size: 0.93333333rem;
    line-height: 1.8;
  }
}

.b-profile-map {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  &__address {
    @include media-breakpoint-down(sm) {
      position: relative;
      padding-left: 30px;
    }
  }
  &__map-marker {
    margin-right: 10px;
    font-size: 19px;
    line-height: 1;
    color: $color-p-aquagreen;
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
    }
  }
  &__wrapper {
    margin: 0 -35px -40px;
    height: 365px;
    background-image: url("../img/media/map-profile-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 $radius $radius;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
      margin: 0 -17px -32px;
    }
  }
}

.b-profile-reviews {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__appraisal {
    margin-right: 5px;
  }
  &__quantity {
    font-size: 0.86666667rem;
    line-height: 1.15384615;
    color: $color-text-dark;
  }
  &__list {
    border-top: 1px solid $color-dimmed;
    list-style: none;
  }
  &__item {
    border-bottom: 1px solid $color-dimmed;
  }
  &__actions {
    margin-top: 20px;
    text-align: center;
  }
}