.reviews {
  &__wrapper {
    position: relative;
  }
  &__bg {
    position: absolute;
    top: -40px;
    left: 50%;
    z-index: -1;
    width: 122.547584vw;
    transform: translateX(-47%);
    svg {
      width: 100%;
      height: auto;
    }
    @include media-breakpoint-down(md) {
      width: 217.96875%;
    }
    @include media-breakpoint-down(sm) {
      top: -15px;
      left: auto;
      right: -600px;
      min-width: 1674px;
      transform: translateX(0);
    }
  }
  &__title {
    margin-bottom: 55px;
    text-align: center;
    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }
  }
  &__values {
    margin-bottom: 75px;
    @include media-breakpoint-down(md) {
      margin-bottom: 160px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 90px;
    }
  }
  &__slider {
    margin-bottom: 150px;
    @include media-breakpoint-down(md) {
      margin-bottom: 140px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 125px;
    }
  }
  &__top-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 50px;
    }
  }
  &__filter {
    margin-bottom: -15px;
    width: 530px;
    @include media-breakpoint-down(md) {
      width: 420px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      width: 100%;
    }
  }
  &__button {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &__list {
    margin-bottom: 70px;
    border-top: 2px solid $color-dimmed;
    @include media-breakpoint-down(md) {
      margin-bottom: 65px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }
  &__item {
    border-bottom: 2px solid $color-dimmed;
  }
  &__actions {
    position: relative;
    margin-bottom: 185px;
    text-align: center;
    @include media-breakpoint-down(md) {
      margin-bottom: 120px;
    }
  }
  &__triangles {
    top: -3px;
    right: 35%;
    width: 29px;
    svg {
      height: 154px;
      transform: rotate(45deg);
    }
    @include media-breakpoint-down(md) {
      top: -18px;
      right: 30%;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__social {
    position: relative;
    margin-bottom: -150px;
    @include media-breakpoint-down(md) {
      margin-bottom: -135px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: -145px;
    }
  }
  &__leaves {
    top: -263px;
    left: 116px;
    z-index: -1;
    width: 354px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__particle {
    &--yellow {
      top: 60px;
      right: 210px;
    }
    &--light-green {
      top: 762px;
      right: 425px;
    }
    &--steelblue {
      right: 375px;
      bottom: 205px;
    }
    @include media-breakpoint-down(md) {
      &--yellow {
        top: 295px;
        right: 37px;
      }
      &--light-green {
        right: auto;
        left: 121px;
        top: 1392px;
      }
      &--steelblue {
        right: 124px;
        bottom: 214px;
      }
    }
  }
}

.b-values {
  display: flex;
  justify-content: center;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: center;
  }
  &__item {
    padding: 0 55px;
    max-width: 250px;
    border-right: 3px solid #DDDDDD;
    &:last-child {
      border-right: none;
    }
    @include media-breakpoint-down(sm) {
      padding: 35px 55px;
      max-width: 270px;
      border-right: 0;
      border-bottom: 3px solid #DDDDDD;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &__value {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__number {
    font-family: $font-3-fallback;
    font-size: 3.06666667rem;
    line-height: 1.30434783;
    color: $color-p-dark-purple;
  }
  &__plus {
    font-family: $font-3-fallback;
    font-size: 3.06666667rem;
    line-height: 1.30434783;
    color: $color-p-pink;
  }
  &__stars {
    display: flex;
  }
}