include common/_breadcrumbs.pug
include common/_checkbox.pug
include common/_pagination.pug
include common/_b-social-list.pug

include layout/_header.pug
include layout/_header-lk.pug
include layout/_footer.pug

mixin random(num1, num2)
	- var num = Math.floor(Math.random() * (num1 - num2) + num2)
	span=num

mixin br(count)
	div(style="height:"+count+"px;")
		if block
			block

mixin svg(id)
	svg(role="img" width="1em" height="1em")&attributes(attributes)
		use(xlink:href='#si-'+id)