include ../components/common/_checkbox.pug
block vars
	- let innerClass = "";

mixin svg(id)
	svg(role="img" width="1em" height="1em")&attributes(attributes)
		use(xlink:href='#si-'+id)

section(block="modal" class=innerClass)
	button.btn.btn--circle.btn--close.mfp-close(type="button" aria-label="Закрыть")
	div(elem="content")
		block modal-content