extends _layout-modal

block vars
  - const innerClass = 'pass';

block modal-content
  div.h2(elem="title") Восстановление пароля
  form.js-validate(elem="form" action="")
    .form-group.form-group--mb2
      label.visuallyhidden(for="email") Электронная почта
      input.form-control(type="email" name="email" id="email" placeholder="Электронная почта" required)
      span.form-error-icon
        i.fas.fa-exclamation-circle
    div(elem="actions")
      button.btn.btn--yellow Восстановить пароль
  span.decor(elem="triangle" aria-hidden="true")
    +svg("decor-triangle")
  span.decor(elem="zig-line" aria-hidden="true")
    +svg("decor-zigline-small")