extends _layout-modal

//- block vars
//-   - const innerClass = 'pass';

block modal-content
  div.h2(elem="title") Оставить отзыв
  form.form.js-validate(elem="form" action="")
    .form-row
      .form-group.form-group--half
        label.visuallyhidden(for="name") Ваше имя
        input.form-control(type="text" name="name" id="name" placeholder="Ваше имя" required)
        span.form-error-icon
          i.fas.fa-exclamation-circle
      .form-group.form-group--half
        label.visuallyhidden(for="email") Электронная почта
        input.form-control(type="email" name="email" id="email" placeholder="Электронная почта" required)
        span.form-error-icon
          i.fas.fa-exclamation-circle
    .form-group
      label.visuallyhidden(for="review-text") Текст отзыва
      textarea.form-control(name="review-text" id="review-text" placeholder="Текст отзыва" required)
      span.form-error-icon
        i.fas.fa-exclamation-circle
    .form-group.form-group--mb2
      div.js-file-input(block="file-input" mod="flex" data-max="3")
        div(elem="wrapper")
          div.js-file-input-list(elem="list")
            div.hidden.js-file-input-dropdown(elem="dropdown")
              button.js-file-input-dropdown-button(elem="dropdown-button" mod="white" type="button")
                span.js-file-input-dropdown-value(elem="dropdown-value") +3
              div(elem="dropdown-content")
                div(elem="dropdown-header") Ваши фото и видео
                div.js-file-input-dropdown-list(elem="list")
          label(elem="control")
            input.js-file-input-control(type="file" name="files" accept="image/jpeg, image/png, video/mp4" multiple)
            span.fas.fa-plus(elem="add")
        div(elem="description")
          p Загрузите фото или видео, чтобы отзыв был более полным. Добавляйте фото отдельно или просто перетащите все в серую область слева.
          p(elem="types") Jpeg, Png, Gif до 2 Мб / MP4 до 50 Мб
    .form-group.form-group--auto.form-group--mb2
      div(block="appraisal")
        div.h6(elem="name") Общая оценка сервиса
        div(elem="controls")
          input.visuallyhidden(type="radio" name="appraisal" id="appraisal-5" value="5" required)
          label.star(elem="control" for="appraisal-5")
            i.fas.fa-star
        
          input.visuallyhidden(type="radio" name="appraisal" id="appraisal-4" value="4" required)
          label.star(elem="control" for="appraisal-4")
            i.fas.fa-star
          
          input.visuallyhidden(type="radio" name="appraisal" id="appraisal-3" value="3" required)
          label.star(elem="control" for="appraisal-3")
            i.fas.fa-star
          
          input.visuallyhidden(type="radio" name="appraisal" id="appraisal-2" value="2" required)
          label.star(elem="control" for="appraisal-2")
            i.fas.fa-star

          input.visuallyhidden(type="radio" name="appraisal" id="appraisal-1" value="1" required)
          label.star(elem="control" for="appraisal-1")
            i.fas.fa-star
    .form-group.form-group--mb2.form-group--auto
      +checkbox()(name="personal" required)
        | Согласие на обработку персональных данных
    button.btn.btn--yellow.btn--small(elem="button") Отправить