extends _layout-modal

block vars
  - const innerClass = 'call';

block modal-content
  div.h2(elem="title")
    +svg("phone")(elem="icon")
    | Заказать звонок
  form.form.js-validate(elem="form" action="" method="POST")
    .form-group
      label.visuallyhidden(for="name") Ваше имя
      input.form-control(type="text" name="name" id="name" placeholder="Ваше имя" required)
      span.form-error-icon
        i.fas.fa-exclamation-circle
    .form-group
      label.visuallyhidden(for="phone") Номер телефона
      input.form-control.js-tel(type="tel" name="phone" id="phone" placeholder="Номер телефона" required)
      span.form-error-icon
        i.fas.fa-exclamation-circle
    .form-group
      .select-style.select-style--white-br
        select.js-select(name="time")
          option(value="1") Перезвонить как можно скорее
          option(value="2") Перезвонить еще быстрее
          option(value="3") Перезвонить
    .form-group.form-group--mb2.form-group--auto
      +checkbox()(name="personal" required)
        | Согласие на обработку персональных данных
    button.btn.btn--yellow.btn--small(elem="button") Отправить