.b-article {
  &__link {
    position: relative;
    display: block;
    padding-top: 375px;
    &:hover {
      text-decoration: none;
      color: currentColor;
      .b-article {
        &__image {
          height: 100%;
        }
        &__eye {
          opacity: 1;
          transform: translate(-50%, -50%);
        }
        &__title,
        &__text {
          opacity: 0;
          transition: 0.3s ease;
        }
      }
    }
    @include media-breakpoint-down(md) {
      padding-top: 0;
      &:hover {
        .b-article {
          &__image {
            height: auto;
          }
          &__eye {
            opacity: 0;
            // transform: translate(-50%, -50%);
          }
          &__title,
          &__text {
            opacity: 1;
            transition: 0.3s ease;
          }
        }
      }
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 342px;
    transition: 0.5s ease;
    will-change: height;
    &::before {
      padding-bottom: 0;
    }
    @include media-breakpoint-down(md) {
      position: relative;
      margin-bottom: 35px;
      height: auto;
      &::before {
        padding-bottom: 95.5307263%;
      }
    }
  }
  &__tag {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 1;
    transform: translateX(-50%);
  }
  &__eye {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -40%);
    opacity: 0;
    transition: 0.3s ease;
  }
  &__title {
    margin-bottom: 30px;
    font-size: 1.6rem;
    line-height: 1.25;
    transition: 0.3s 0.2s ease;
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  &__text {
    max-height: 48px;
    overflow: hidden;
    transition: 0.3s 0.2s ease;
  }
}