.b-accordion {
  &__head {
    position: relative;
    padding-right: 30px;
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 50%;
    background-color: $color-p-light-green;
    pointer-events: none;
    svg {
      stroke: #fff;
      stroke-width: 3px;
      stroke-linecap: round;
    }
  }
  &__toggle {
    position: absolute;
    top: 5px;
    right: 0;
    width: 20px;
    height: 20px;
    pointer-events: none;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 5px;
      background-color: $color-p-pink;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;
    }
    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    .b-accordion__item.is-active & {
      &::before,
      &::after {
        background-color: $color-p-dark-purple;
      }
      &::after {
        transform: translate(-50%, -50%) rotate(0);
      }
    }
  }
  &__text {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 30px;
  }
}