.b-add-service {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__title {
    margin-bottom: 30px;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}