.b-calendar {
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__field {
    width: calc((100% - 15px)/2);
    .form-control {
      padding: 8px 12px;
      font-size: 14px;
    }
  }
  &__datepicker {
    .datepicker {
      
    }
    &--dimmed {
      .datepicker {
        background-color: $color-dimmed;
      }
    }
  }
}