.b-contacts {
  position: relative;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 145px;
    @include media-breakpoint-down(md) {
      display: block;
      margin-bottom: 135px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 115px;
    }
  }
  &__top-left {
    width: 59.137931%;
    @include media-breakpoint-down(md) {
      margin-bottom: 50px;
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }
  }
  &__top-right {
    width: 29.9137931%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  &__info {
    font-family: $font-3-fallback;
    font-size: 1.6rem;
    line-height: 1.625;
    list-style: none;
    color: $color-text-dark;
    font-weight: 700;
  }
  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 50px 78px 65px;
    background-color: $color-dimmed;
    border-radius: $radius;
    @include media-breakpoint-down(md) {
      display: block;
      padding: 55px 75px 73px;
    }
    @include media-breakpoint-down(sm) {
      padding: 35px 15px 75px;
    }
  }
  &__form-actions {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
  &__leaves {
    top: -187px;
    right: 354px;
    z-index: -1;
    width: 172px;
    height: 231px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__bottom-left {
    position: relative;
    width: 52.7833002%;
    &::after {
      content: "";
      position: absolute;
      top: 15px;
      bottom: 0;
      right: -14.5283019%;
      // right: -77px;
      width: 2px;
      background-color: #fff;
    }
    @include media-breakpoint-down(md) {
      padding-bottom: 60px;
      width: 100%;
      &::after {
        top: auto;
        left: 0;
        right: 0;
        height: 2px;
        width: auto;
      }
    }
  }
  &__bottom-right {
    padding-top: 15px;
    width: 31.8091451%;
    @include media-breakpoint-down(md) {
      padding-top: 45px;
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__list {
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: -25px;
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      margin-top: 0;
    }
  }
  &__list-left {
    margin-bottom: 60px;
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      width: 44.1441441%;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
      width: 100%;
    }
  }
  &__list-right {
    @include media-breakpoint-down(md) {
      padding-bottom: 5px;
      width: 44.1441441%;
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
      width: 100%;
    }
  }
  &__item {
    position: relative;
    margin-bottom: 25px;
    padding-left: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
    svg {
      fill: $color-p-dark-purple;
    }
    &--phone {
      left: 3px;
      svg {
        width: 16px;
        height: 27px;
      }
    }
    &--mail {
      svg {
        width: 22px;
        height: 18px;
      }
    }
    &--skype,
    &--inst {
      svg {
        width: 23px;
        height: 23px;
      }
    }
  }
  &__link {
    &:hover {
      color: currentColor;
    }
    &--phone {
      display: block;
      margin-bottom: 21px;
      font-family: $font-3-fallback;
      font-size: 1.6rem;
      line-height: 1.25;
      font-weight: 700;
      letter-spacing: 0;
      color: $color-text-dark;
      &:hover {
        color: $color-text-dark
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &--mail {
      color: $color-p-pink;
      &:hover {
        color: $color-p-pink;
      }
    }
  }
  &__particle {
    &--pink {
      top: -45px;
      right: 435px;
    }
    &--steelblue {
      top: 280px;
      left: 261px;
    }
    @include media-breakpoint-down(md) {
      &--pink {
        top: -80px;
        right: 139px;
      }
      &--steelblue {
        left: auto;
        top: 294px;
        right: 257px;
      }
    }
    @include media-breakpoint-down(sm) {
      &--steelblue {
        display: none;
      }
    }
  }
}