.b-chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__title {
    margin-bottom: 30px;
    text-align: center;
  }
  &__search-form {
    position: relative;
  }
  &__search-dropdown {
    left: -12px;
    right: -12px;
  }
  &__dialog-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__view {
    flex-grow: 1;
    margin-bottom: 30px;
  }
}

.b-chat-dialog {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #fff;
  border-radius: $radius;
  &__view {
    flex-grow: 1;
    margin-bottom: 8px;
    // max-height: 100%;
    // overflow-y: auto;
  }
  &__messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 8px;
    min-height: 100%;
  }
  &__message {
    position: relative;
    z-index: 1;
    margin-bottom: 23px;
    padding: 12px 15px;
    width: 94.7368421%;
    font-size: 13px;
    line-height: 17px;
    color: $color-text-dark;
    border-radius: 10px;
    &::before {
      content: "";
      position: absolute;
      bottom: -14px;
      border-style: solid;
      border-width: 17px 13px 17px 13px;
    }
    &--right {
      align-self: flex-end;
      background-color: $color-control-default;
      &::before {
        right: 0;
        border-color: transparent;
        border-right-color: $color-control-default;
      }
    }
    &--left {
      align-self: flex-start;
      color: #fff;
      background-color: $color-p-pink;
      &::before {
        left: 0;
        border-color: transparent;
        border-left-color: $color-p-pink;
      }
    }
    &:last-child {
      margin-bottom: 14px;
    }
  }
  &__field {
    position: relative;
    textarea {
      padding-right: 35px;
      border-radius: 10px;
    }
  }
  &__smile-button {
    position: absolute;
    bottom: 7px;
    right: 10px;
    width: 27px;
    height: 27px;
    background-image: url("../img/theme/smile-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.b-search-result {
  padding: 0;
  max-height: 200px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  overflow-y: auto;
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &::before {
    left: 24px;
    right: 24px;
  }
  &__list {
    padding: 25px;
  }
  &__item {
    display: block;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}