.b-delete {
  position: relative;
  &__toggle {
    svg {
      stroke: currentColor;
      stroke-width: 1.3;
    }
    .b-delete.active & {
      color: #fff;
      background-color: $color-p-dark-purple;
      border-color: $color-p-dark-purple;
    }
  }
  &__dropdown {
    top: calc(100% + 8px);
    right: -16px;
    padding: 25px 20px;
    min-width: 365px;
    box-shadow: 0 15px 35px rgba(#000, 0.12);
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: 0.3s ease;
    .b-delete.active & {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    &::before {
      right: 18px;
      width: 26px;
      background-color: $color-p-dark-purple;
    }
    &--top {
      top: auto;
      bottom: calc(100% + 8px);
      transform: translateY(-20px);
      &::before {
        top: auto;
        bottom: 0;
      }
    }
    &--top-center {
      top: auto;
      right: auto;
      left: 50%;
      bottom: calc(100% + 8px);
      transform: translateX(-50%) translateY(-20px);
      &::before {
        top: auto;
        bottom: 0;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }
      .b-delete.active & {
        transform: translateX(-50%) translateY(0);
      }
    }
    &--small {
      padding: 20px 15px;
      min-width: 200px;
    }
    @include media-breakpoint-down(md) {
      &--small {
        min-width: 180px;
      }
    }
  }
  &__header {
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: $color-text-dark;
    text-align: center;
    border-bottom: 1px solid $color-control-default;
  }
  &__actions {
    text-align: center;
  }
  &__button {
    &--yes {
      margin-right: 35px;
    }
    &--no {
      color: $color-text-dark;
      &:hover {
        color: $color-text-dark;
      }
    }
  }
}