.b-features {
  position: relative;
  padding-top: 106px;
  @include media-breakpoint-down(md) {
    padding-top: 46px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }
  &__title {
    margin-bottom: 35px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 55px;
      text-align: center;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24.137931%;
    min-width: 280px;
    &--leaves {
      &::before {
        content: "";
        position: absolute;
        top: -217px;
        left: 0;
        width: 334px;
        height: 266px;
        background-image: url("../img/theme/feature-leaves.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    @include media-breakpoint-down(md) {
      position: relative;
      margin-bottom: 55px;
      padding-left: 270px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
      &--leaves {
        &::before {
          display: none;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }
  &__icon {
    position: relative;
    margin-bottom: 40px;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background-color: #fff;
    svg {
      position: absolute;
      width: 96px;
      height: 96px;
    }
    &--loupe {
      svg {
        top: 17px;
        left: 17px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 100px;
        width: 123px;
        height: 60px;
        background-image: url("../img/theme/feature-waves.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-50%);
      }
    }
    &--contract {
      svg {
        top: 17px;
        left: 9px;
      }
    }
    &--service {
      svg {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    @include media-breakpoint-down(md) {
      position: absolute;
      top: -5px;
      left: 35px;
    }
    @include media-breakpoint-down(sm) {
      position: relative;
      top: auto;
      left: auto;
      background-color: transparent;
      &--loupe {
        &::before {
          top: 0;
          left: -15px;
          transform: translateY(0);
        }
      }
    }
  }
  &__name {
    margin-bottom: 30px;
    line-height: 1.33333;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
  &__text {
    max-height: 48px;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
      max-height: none;
      text-align: center;
      overflow: visible;
    }
  }
  &__decor {
    &--bg {
      top: 0;
      left: 50%;
      z-index: -1;
      width: 122.986823vw;
      transform: translateX(-50%);
    }
    &--track-1,
    &--track-2,
    &--track-3 {
      width: 40px;
      height: 35px;
      svg {
        max-height: 100%;
      }
    }
    &--track-1 {
      top: 2px;
      right: 167px;
      svg {
        transform: rotate(-10deg);
      }
    }
    &--track-2 {
      top: 40px;
      right: 47px;
      svg {
        transform: rotate(-20deg);
      }
    }
    &--track-3 {
      top: 155px;
      right: 34px;
      svg {
        transform: rotate(-20deg);
      }
    }
    @include media-breakpoint-down(md) {
      &--bg {
        width: 146.484375vw;
      }
      &--track-1 {
        top: -53px;
        right: 192px;
      }
      &--track-2 {
        top: -13px;
        right: 72px;
      }
      &--track-3 {
        top: 104px;
        right: 60px;
      }
    }
    @include media-breakpoint-down(sm) {
      &--bg {
        left: -235px;
        min-width: 1125px;
        transform: translateX(0);
      }
      &--track-1 {
        top: -36px;
        right: 105px;
      }
      &--track-2 {
        top: 10px;
        right: 5px;
      }
    }
  }
  &__particle {
    &--yellow {
      top: 331px;
      left: 325px;
    }
    &--steelblue {
      right: 360px;
      bottom: -80px;
    }
    @include media-breakpoint-down(md) {
      &--yellow {
        top: 26px;
        left: 449px;
      }
      &--steelblue {
        bottom: -70px;
        right: 101px;
      }
    }
  }
}