.b-first {
	display: flex;
	padding: 125px 0 75px;
	min-height: 100vh;
	@include media-breakpoint-down(lg) {
		padding-bottom: 110px;
		&--about {
			padding-bottom: 75px;
		}
	}
	@include media-breakpoint-down(md) {
		&--about {
			padding-top: 200px;
			padding-bottom: 0;
		}
	}
	@include media-breakpoint-down(sm) {
		padding-top: 115px;
		padding-bottom: 75px;
		&--about {
			padding-bottom: 0;
		}
	}
	&__wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		@include media-breakpoint-down(lg) {
			flex-direction: column;
		}
	}
	&__left {
		position: relative;
		display: flex;
		min-width: 405px;
		width: 35.9137931%;
		&--about {
			position: relative;
			align-self: center;
			display: block;
			width: 42.6724138%;
		}
		@include media-breakpoint-down(lg) {
			align-self: center;
			margin-top: 50px;
			width: 100%;
			max-width: 535px;
			&--about {
				margin: 0 auto 60px;
				max-width: 495px;
			}
		}
		@include media-breakpoint-down(sm) {
			margin-top: 40px;
			min-width: auto;
			&--about {
				width: 84.8275862%;
			}
		}
	}
	&__zig-line {
		left: 280px;
		top: 45px;
		width: 109px;
		height: 46px;
		svg {
			max-height: 100%;
		}
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
	&__slider {
		margin: auto 0;
	}
	&__slide {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-down(lg) {
			align-items: center;
		}
	}
	&__name {
		line-height: 1.13043478;
		@include media-breakpoint-down(lg) {
			margin-bottom: 40px;
			text-align: center;
		}
	}
	&__text {
		margin-bottom: 30px;
		&--about {
			margin-bottom: 0;
		}
		@include media-breakpoint-down(lg) {
			display: none;
			&--about {
				display: block;
			}
		}
	}
	&__links {
		display: flex;
		margin-top: auto;
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__link {
		flex-shrink: 0;
		&:first-child {
			margin-right: 15px;
		}
		@include media-breakpoint-down(sm) {
			&:first-child {
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}
	&__actions {
		position: absolute;
		left: 0;
		bottom: 0;
		@include media-breakpoint-down(lg) {
			bottom: -70px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__right {
		position: relative;
		align-self: center;
		width: 43.2708621%;
		&--about {
			width: 49.3103448%;
		}
		@include media-breakpoint-down(lg) {
			order: -1;
			align-self: flex-end;
			margin: auto 0;
			margin-right: 11.7vw;
			width: 62.8531073%;
			&--service {
				align-self: center;
				margin-right: 0;
			}
			&--about {
				order: initial;
				margin: 0;
				width: 100%;
			}
		}
		@include media-breakpoint-down(sm) {
			margin-right: 0;
			width: 86.2068966%;
			&--about {
				width: 100%;
			}
		}
	}
	&__waves {
		top: 20%;
		right: -62px;
		width: 137px;
		height: 77px;
		svg {
			max-height: 100%;
		}
		.b-first__right--service & {
			right: auto;
			top: 32%;
			left: -93px;
		}
		@include media-breakpoint-down(sm) {
			top: 30%;
			right: 0;
			width: 68px;
			height: 38px;
		}
	}
	&__map {
		position: absolute;
		top: 50%;
		left: -180px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 18px;
		width: 232px;
		height: 210px;
		color: #fff;
		background-color: $color-p-steelblue;
		background-image: url("../img/media/index/first-map.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: $radius;
		box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		transform: translateY(-50%);
		@include media-breakpoint-down(lg) {
			padding: 15px;
			left: -150px;
			width: 205px;
			height: 185px;
		}
		@include media-breakpoint-down(sm) {
			top: auto;
			left: -40px;
			bottom: -15px;
			padding: 10px;
			width: 155px;
			height: 140px;
			transform: translateY(0);
		}
	}
	&__map-content {
		display: flex;
		align-items: center;
	}
	&__map-icon {
		position: relative;
		flex-shrink: 0;
		margin-right: 10px;
		width: 44px;
		height: 44px;
		border-radius: 11px;
		background-color: $color-p-yellow;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80%;
			height: 80%;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			transform: translate(-50%, -50%);
		}
		&--dog {
			&::before {
				background-image: url("../img/theme/dog-face.png");
			}
		}
		@include media-breakpoint-down(sm) {
			margin-right: 5px;
			width: 30px;
			height: 30px;
			border-radius: 6px;
		}
	}
	&__map-text {
		font-family: $font-3-fallback;
		font-size: 13px;
		line-height: 18px;
		@include media-breakpoint-down(lg) {
			font-size: 11px;
			line-height: 16px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 9px;
			line-height: 11px;
		}
	}
	&__image {
		margin-top: -78px;
		overflow: visible;
		border-radius: 0;
		&::before {
			padding-bottom: 128.286853%;
			// padding-bottom: 112.412412%;
		}
		&--about {
			margin: 0;
			width: 100%;
			border-radius: 50%;
			overflow: hidden;
			&::before {
				padding-bottom: 100%;
			}
		}
		@include media-breakpoint-down(sm) {
			margin-top: 0;
		}
	}
	&__decor-image {
		position: absolute;
		left: 0;
		bottom: 10.1010101%;
		width: 25.2525253%;
		border-radius: 50%;
		&--medium {
			bottom: auto;
			left: auto;
			top: -2.02020202%;
			right: 10.1010101%;
			width: 26.2626263%;
		}
		&--large {
			left: auto;
			right: -3.63636364%;
			bottom: 0.60606061%;
			width: 32.3232323%;
		}
	}
	&__sofa {
		position: absolute;
		left: 41%;
		bottom: -9%;
		width: 79.6%;
		img {
			width: 100%;
			height: auto;
		}
		@include media-breakpoint-down(sm) {
			left: 54%;
		}
	}
	&__bone {
		position: absolute;
		left: 0;
		bottom: 12%;
		width: 18.33%;
		// width: 86px;
		img {
			width: 100%;
			height: auto;
		}
		@include media-breakpoint-down(sm) {
			// left: -13px;
			left: -5.2%;
			bottom: 45%;
		}
	}
	&__leaves {
		position: absolute;
		right: -13.4%;
		bottom: -3.4%;
		width: 59.9601594%;
		img {
			width: 100%;
			height: auto;
		}
		&--about {
			right: auto;
			left: -8.88888889%;
			bottom: 27.2727273%;
			width: 22.2222222%;
			img {
				transform: rotate(12deg);
			}
		}
	}
	&__hey {
		top: -6.64646465%;
		left: 13.9393939%;
		width: 31.7171717%;
		@include media-breakpoint-down(sm) {
			top: -12.64646465%;
			width: 37.804878%;
		}
	}
	&__mouse-icon {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
	&__particle {
		&--light-green {
			top: 100px;
			left: 44%;
		}
		&--pink {
			left: 39%;
			bottom: 65px;
		}
		&--steelblue {
			right: 75px;
			bottom: -35px;
		}
		.b-first--about & {
			&--light-green {
				top: 0;
				left: 600px;
			}
			&--pink {
				left: auto;
				right: 195px;
				bottom: 0;
			}
		}
		@include media-breakpoint-down(lg) {
			&--light-green {
				top: 30px;
				left: 39.2%;
			}
			&--pink {
				left: 79px;
				bottom: 240px;
			}
			&--steelblue {
				right: 55px;
				bottom: 25px;
			}
			.b-first--about & {
				&--light-green {
					top: -80px;
					left: 320px;
				}
				&--pink {
					right: 155px;
					bottom: 25px;
				}
			}
		}
	}
}