.b-gallery {
  position: relative;
  &__title {
    margin-bottom: 40px;
    text-align: center;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    &--with-action {
      margin-bottom: 55px;
    }
    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
  &__item {
    display: block;
    border-radius: $radius;
    overflow: hidden;
    &:nth-child(6n + 1) {
      grid-column: 1 / 3;
      &::before {
        padding-bottom: 50%;
      }
    }
    &:nth-child(6n) {
      grid-column: 3 / -1;
      &::before {
        padding-bottom: 50%;
      }
    }
    @include media-breakpoint-down(md) {
      &:nth-child(6n + 1),
      &:nth-child(6n) {
        grid-column: auto;
        &::before {
          padding-bottom: 100%;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      height: 205px;
      &::before {
        padding-bottom: 0;
      }
      &:nth-child(3n + 1) {
        grid-column: 1 / 3;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    opacity: 0;
    transform: translate(-50%, -40%);
    transition: 0.3s ease;
    .b-gallery__item:hover & {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  &__actions {
    text-align: center;
  }
  &__particle {
    &--light-green {
      left: 187px;
      bottom: -45px;
    }
    &--yellow {
      right: 41px;
      bottom: -100px;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}