.b-logo {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  &--simple {
    display: inline;
  }
  &:hover {
    text-decoration: none;
  }
  &__image {
    width: 66px;
  }
  &__content {
    margin-left: 15px;
    font-family: $font-4-fallback;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  &__name {
    display: block;
    font-size: 43px;
    line-height: 48px;
    color: $color-p-dark-purple;
    .b-logo--white & {
      color: #fff;
    }
  }
  &__sub-name {
    display: block;
    font-size: 13px;
    line-height: 17px;
    color: #FB7A52;
  }
  &__decor {
    top: calc(100% + 50px);
    left: 45px;
    width: 101px;
    // svg {
    //   width: 100%;
    //   height: auto;
    // }
    @include media-breakpoint-down(sm) {
      top: calc(100% + 30px);
      left: 17px;
      width: 75px;
    }
  }
  &--small {
    .b-logo {
      &__image {
        @include media-breakpoint-down(sm) {
          margin-right: 10px;
          width: 38px;
        }
      }
      &__name {
        @include media-breakpoint-down(sm) {
          font-size: 24px;
          line-height: 28px;
        }
      }
      &__sub-name {
        @include media-breakpoint-down(sm) {
          font-size: 7px;
          line-height: 7px;
        }
      }
    }
  }
}