.b-personal-material {
  display: flex;
  flex-direction: column;
  padding: 35px 30px;
  background-color: #fff;
  border-radius: $radius;
  transition: background 0.3s ease;
  &:hover {
    background-color: $color-p-yellow;
  }
  &__name {
    margin-bottom: 30px;
  }
  &__descrition {
    max-height: 72px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: 0.3s ease;
    .b-personal-material:hover & {
      color: #fff;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }
  &__type {
    margin-right: 25px;
    transition: 0.3s ease;
    .b-personal-material:hover & {
      color: #fff;
    }
  }
  &__size {
    color: $color-text-dark;
  }
  &__actions {
    display: flex;
  }
  &__download {
    margin-right: 10px;
    .b-personal-material:hover & {
      background-color: #fff;
      border-color: #fff;
    }
  }
}