.b-personal-doc {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px 30px 25px 95px;
  border-radius: $radius;
  background-color: #fff;
  transition: 0.3s ease;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: $color-dimmed;
    background-repeat: no-repeat;
    background-position: center;
  }
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    bottom: 24px;
    left: 0;
    width: 2px;
    border-radius: 2px;
  }
  &--excel {
    &::before {
      background-image: url("../img/theme/excel.svg");
    }
    &::after {
      background-color: #2E7D32;
    }
  }
  &--word {
    &::before {
      background-image: url("../img/theme/word.svg");
    }
    &::after {
      background-color: #1565C0;
    }
  }
  &__name {
    margin-bottom: 0;
    margin-right: auto;
  }
  &__info {
    flex-shrink: 0;
    margin-left: 30px;
    width: 125px;
    line-height: 23px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__type {
    margin-right: 20px;
  }
  &__size {
    color: $color-text-dark;
  }
  &__actions {
    display: flex;
    flex-shrink: 0;
    margin-left: 30px;
  }
  &__button {
    &--download {
      margin-right: 10px;
    }
    @include media-breakpoint-down(md) {
      &--download {
        margin-right: 15px;
      }
    }
  }
}