.b-profile-review-card {
  padding: 42px 0;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__author {
    display: flex;
    align-items: center;
  }
  &__photo {
    margin-right: 15px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
  }
  &__name {
    display: block;
    margin-bottom: 10px;
    line-height: 1.13333333;
    color: $color-text-dark;
  }
  &__position {
    margin-right: 30px;
  }
  &__appraisal {
    display: inline-flex;
    align-items: center;
    vertical-align: baseline;
  }
  &__value {
    margin-left: 5px;
    font-family: $font-3-fallback;
    font-weight: 700;
  }
  &__title {
    margin-bottom: 25px;
  }
}