.b-performer-card {
  position: relative;
  display: flex;
  padding: 12px;
  border-radius: $radius;
  box-shadow: inset 0 0 0 2px $color-control-default;
  transition: color 0.5s ease, box-shadow 0.5s ease;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $radius;
    background-image: linear-gradient(35deg, #F64761, #FD904C);
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 40px 50px rgba(#000, 0.12);
    &::before {
      opacity: 1;
    }
  }
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: center;
    padding: 25px 10px;
  }
  &__photo {
    display: block;
    flex-shrink: 0;
    margin-right: 25px;
    width: 22.6586103%;
    max-width: 150px;
    border-radius: 7px;
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
      width: 150px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px 0;
    // width: 73.5649547%;
  }
  &__top {
    position: relative;
    margin-bottom: auto;
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__name {
    margin-right: 20px;
    &:hover {
      color: currentColor;
      text-decoration: none;
    }
    .b-performer-card:hover & {
      color: #fff;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  &__status {
    display: inline-block;
    vertical-align: baseline;
    padding: 4px 14px;
    font-size: 13px;
    line-height: 15px;
    color: $color-text-dark;
    background-color: $color-p-yellow;
    border-radius: $radius;
    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }
  &__place {
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 14px;
    line-height: 20px;
    @include media-breakpoint-down(sm) {
      position: static;
      margin-bottom: 5px;
    }
  }
  &__reviews {
    &-stars {
      margin-right: 15px;
    }
    &-text {
      font-size: 13px;
      line-height: 15px;
      color: $color-text-dark;
      text-decoration: underline;
    }
    .b-performer-card:hover &-text {
      color: #fff;
    }
  }
  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  &__content {
    width: 79.6714579%;
    @include media-breakpoint-down(sm) {
      margin-bottom: 60px;
      padding: 0 15px;
      width: 100%;
    }
  }
  &__text {
    max-height: 60px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
      max-height: 80px;
    }
  }
  &__price {
    position: relative;
    flex-shrink: 0;
    width: 14.7843943%;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      bottom: 7px;
      left: -13px;
      width: 1px;
      background-color: $color-control-default;
    }
    &-value {
      font-family: $font-3-fallback;
      font-size: 28px;
      line-height: 37px;
      color: $color-text-dark;
      font-weight: 700;
    }
    .b-performer-card:hover &-value {
      color: #fff;
    }
    &-text {
      font-size: 13px;
      line-height: 15px;
    }
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
      align-items: baseline;
      width: 100%;
      &::before {
        top: -20px;
        left: 0;
        bottom: auto;
        width: 100%;
        height: 1px;
      }
      &-value {
        margin-right: 10px;
      }
    }
  }
}