.b-personal-order {
  position: relative;
  display: grid;
  gap: 0 45px;
  grid-template-columns: 195px 1fr;
  padding: 32px;
  border-radius: $radius;
  transition: 0.3s ease;
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-dimmed;
    background-image: url("../img/theme/two-dots.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3px 10px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 2px solid $color-control-default;
    border-radius: $radius;
  }
  &.active {
    background-image: linear-gradient(45deg, #87DEA5, #58B78C);
  }
  @include media-breakpoint-down(md) {
    display: block;
    padding: 30px 25px;
    &::after {
      right: 22px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    @include media-breakpoint-down(md) {
      margin-right: 70px;
      margin-bottom: 15px;
    }
  }
  &__name {
    position: relative;
    margin: 0;
    padding-right: 12px;
    max-width: 80%;
    line-height: 1.33333;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #D5D5D5;
    }
    &--online::after {
      background-color: $color-p-green;
    }
    @include media-breakpoint-down(md) {
      max-width: none;
    }
  }
  &__mail {
    position: relative;
    align-self: flex-start;
    svg {
      font-size: 23px;
      fill: #D5D5D5;
    }
    .b-personal-order.active & {
      svg {
        fill: #fff;
      }
    }
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 26px;
      right: 70px;
    }
  }
  &__notification {
    position: absolute;
    top: -6px;
    right: -9px;
  }
  &__status {
    padding: 10px 12px 12px;
    font-size: 14px;
    line-height: 16px;
    color: $color-text-dark;
    text-align: center;
    background-color: #E5E5E5;
    border-radius: 20px;
    @include media-breakpoint-down(md) {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 20px;
    }
  }
  &__service {
    position: relative;
    margin-bottom: 20px;
    line-height: 1.33333;
    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: -22px;
      width: 1px;
      height: 26px;
      background-color: $color-control-default;
    }
    .b-personal-order.active & {
      &::before {
        opacity: 0.35;
      }
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
      &::before {
        display: none;
      }
    }
  }
  &__list {
    list-style: none;
  }
  &__item {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__type-name {
    margin-right: 10px;
    .b-personal-order.active & {
      color: #fff;
    }
  }
  &__value {
    color: $color-text-dark;
  }
}