.b-personal {
  position: relative;
  &__table {
    font-size: 15px;
  }
  &__row,
  &__header {
    display: flex;
    align-items: center;
    padding: 0 55px;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      padding: 35px 45px;
    }
  }
  &__header {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__row {
    position: relative;
    border-bottom: 2px solid $color-dimmed;
    &:last-child {
      border: none;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: $color-dimmed;
      border-radius: $radius;
      opacity: 0;
      transition: 0.3s ease;
    }
    &:hover::after {
      opacity: 1;
      box-shadow: 0 40px 50px rgba(0, 0, 0, 0.12);
      transform: scale(1.02413793, 1.06849315);
    }
  }
  &__cell {
    padding: 16px 0;
    &--head {
      padding: 24px 0;
      font-size: 14px;
      line-height: 16px;
      color: $color-text-dark;
      text-transform: uppercase;
    }
    &--name {
      display: flex;
      align-items: center;
    }
    &:nth-child(1) {
      width: 30.8206107%;
    }
    &:nth-child(2) {
      width: 33.5877863%;
    }
    &:nth-child(3) {
      width: 27.480916%;
    }
    &:nth-child(4) {
      width: 8.11068702%;
    }
    @include media-breakpoint-down(md) {
      &:nth-child(1),
      &:nth-child(2) {
        width: 41.2751678%;
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        width: 14.4295302%;
      }
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4) {
        padding: 0;
        width: auto;
      }
      &--name {
        flex-direction: column;
        align-items: cebter;
      }
    }
  }
  &__body {
    border: 3px solid $color-dimmed;
    border-radius: $radius;
  }
  &__photo {
    flex-shrink: 0;
    margin-right: 15px;
    width: 40px;
    border-radius: 50%;
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 25px;
      width: 75px;
    }
  }
  &__name {
    color: $color-text-dark;
    @include media-breakpoint-down(sm) {
      font-size: 1.33333rem;
      line-height: 1.35;
    }
  }
  &__phone {
    font-size: 16px;
    &:hover {
      color: currentColor;
    }
  }
  &__email {
    color: $color-p-pink;
    &:hover {
      color: $color-p-pink;
    }
  }
  &__social {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    font-size: 18px;
    line-height: 1;
  }
  &__social-item {
    margin-right: 13px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__social-link {
    svg {
      fill: currentColor;
    }
    &:hover {
      color: $color-text-dark;
    }
  }
  &__cube {
    top: -90px;
    right: 160px;
    width: 101px;
    @include media-breakpoint-down(md) {
      top: -135px;
      right: 60px;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}