.b-personal-service {
  margin-bottom: 20px;
  padding: 25px;
  border: 2px solid $color-control-default;
  border-radius: $radius;
  &:last-child {
    margin-bottom: 0;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .ui-checkbox {
      color: $color-text-dark;
    }
  }
  &__actions {
    display: flex;
  }
  &__edit {
    margin-right: 10px;
    @include media-breakpoint-down(md) {
      margin-right: 15px;
    }
  }
  &__content {
    padding-left: 34px;
    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      display: block;
      margin-bottom: 15px;
    }
  }
  &__name {
    margin-bottom: 0;
    margin-right: 25px;
    @include media-breakpoint-down(md) {
      margin-bottom: 5px;
      margin-right: 0;
    }
  }
  &__price {
    flex-shrink: 0;
    font-size: 0.86666667rem;
    line-height: 1.15384615;
  }
  &__value {
    font-family: $font-3-fallback;
    font-size: 1.86666667rem;
    line-height: 1.32142857;
    font-weight: 700;
    color: $color-text-dark;
  }
}