.b-personal-active-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 50px 70px 65px;
  max-width: 820px;
  background-color: #fff;
  border-radius: $radius;

  &__name {
    margin-bottom: 15px;
    text-align: center;
  }
  &__progress {
    margin-bottom: 35px;
  }
  &__progress-value {
    font-size: 1.2rem;
    line-height: 1.11111;
    color: $color-text-dark;
  }
  &__question {
    margin-bottom: 40px;
    text-align: center;
  }
  &__answers {
    margin-bottom: 40px;
    width: 100%;
    max-width: 460px;
  }
  &__answer {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__answer-toggle {
    display: block;
    padding: 12px 25px;
    font-size: 14px;
    line-height: 16px;
    border-radius: $radius;
    background-color: $color-dimmed;
    transition: 0.2s ease;
    &:hover {
      color: #fff;
      background-color: rgba($color-p-aquagreen, 0.6);
    }
    .b-personal-active-test__answer input[type="radio"]:checked ~ & {
      color: #fff;
      background-color: $color-p-aquagreen;
    }
  }
  &__actions {
    display: flex;
    width: 100%;
    max-width: 460px;
  }
  &__button {
    margin: 0 7px;
    width: calc((100% -15px) / 2);
  }
}