.b-personal-pet-card {
  display: flex;
  padding: 30px;
  border-radius: $radius;
  transition: 0.3s ease;
  &.active,
  &:hover {
    background-color: $color-dimmed;
  }
  &.deleted {
    background-color: $color-dimmed;
  }
  &__photo {
    flex-shrink: 0;
    align-self: flex-start;
    margin-right: 35px;
    width: 65px;
    border-radius: 50%;
    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }
  }
  &__content {
    flex-grow: 1;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  &__name {
    margin-bottom: 0;
  }
  &__actions {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
  }
  &__toggle-button {
    margin-right: 15px;
    padding: 6px 18px 7px;
    min-width: 105px;
    font-size: 13px;
    line-height: 15px;
    .b-personal-pet-card.active & {
      background-color: #E5E5E5;
      border-color: #E5E5E5;
    }
  }
  &__delete-button {
    .b-personal-pet-card.active &,
    .b-personal-pet-card.deleted &,
    .b-personal-pet-card:hover & {
      background-color: #fff;
      border-color: #fff;
    }
  }
  &__description {}
  &__description-line {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  &__description-item {
    margin-bottom: 10px;
    &--30 {
      width: 30%;
    }
    &--70 {
      width: 65%;
    }
    @include media-breakpoint-down(md) {
      &--30 {
        width: 100%;
      }
      &--70 {
        width: 100%;
      }
    }
  }
  &__description-type {
    margin-right: 10px;
  }
  &__description-value {
    color: $color-text-dark;
  }
  &__hide-block {
    display: none;
  }
  &__specials {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: -15px;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  &__special {
    margin-bottom: 15px;
    width: calc((100% - 20px) / 2);
    color: $color-text-dark;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}