.b-personal-test-list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  @include media-breakpoint-down(md) {
    margin-bottom: 35px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 30px 40px;
    background-color: #fff;
    border-radius: $radius;
    transition: background 0.3s ease;
    &:hover {
      background-color: $color-p-dark-purple;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
  }
  &__status {
    display: inline-flex;
    align-items: center;
  }
  &__status-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    font-size: 11px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background-color: #E5E5E5;
    .b-personal-test-list__item--success & {
      background-color: $color-p-aquagreen;
    }
  }
  &__status-text {
    transition: 0.3s ease;
    .b-personal-test-list__item:hover & {
      color: #fff;
      opacity: 0.7;
    }
  }
  &__results {
    font-size: 1.2rem;
    line-height: 1.11111;
    .b-personal-test-list__item--success & {
      color: $color-p-aquagreen;
    }
  }
  &__name {
    margin-bottom: 30px;
    text-align: center;
    transition: 0.3s ease;
    .b-personal-test-list__item:hover & {
      color: #fff;
    }
  }
  &__text {
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center;
    transition: 0.3s ease;
    .b-personal-test-list__item:hover & {
      color: #fff;
      opacity: 0.7;
    }
  }
  &__button {
    margin-top: auto;
  }
}