.b-reviews {
  position: relative;
  padding-left: 445px;
  min-height: 335px;
  @include media-breakpoint-down(md) {
    padding-left: 0;
    min-height: auto;
  }
  &__title {
    margin-bottom: 55px;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
  &__decor {
    svg {
      max-height: 100%;
    }
    &--hello {
      top: -51px;
      right: -95px;
      z-index: 1;
      width: 208px;
      height: 156px;
      @include media-breakpoint-down(sm) {
        top: -21.6216216%;
        right: -28%;
        width: 61.0810811%;
        height: auto;
      }
    }
    &--heart {
      right: 120px;
      top: -18px;
      width: 41px;
      height: 36px;
      svg {
        transform: rotate(15deg) scaleX(-1);
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    &--quote {
      z-index: 2;
      right: 30px;
      bottom: 5px;
      width: 49px;
      height: 41px;
      @include media-breakpoint-down(md) {
        bottom: 25px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
  &__photo-slider {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    max-width: 335px;
    @include media-breakpoint-down(md) {
      position: relative;
      top: auto;
      left: auto;
      margin: 0 auto 40px;
    }
    @include media-breakpoint-down(sm) {
      width: 63.7931034%;
    }
  }
  &__image {
    border-radius: 50%;
    overflow: hidden;
  }
  &__slider {
    margin: 0;
    margin-bottom: 55px;
    max-width: 660px;
    @include media-breakpoint-down(md) {
      margin: 0 auto 55px;
    }
  }
  &__slide {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(md) {
      align-items: center;
    }
  }
  &__text {
    margin-bottom: 40px;
    font-size: 1.2rem;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
  &__author-info {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 0;
    line-height: 1.33333;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
  &__actions {
    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }
}