.b-review-card {
  padding: 35px 0;
  @include media-breakpoint-down(md) {
    padding: 45px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }
  &__top {
    display: flex;
    .b-review-card--profile & {
      margin-bottom: 30px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
  &__author {
    display: flex;
    align-items: center;
    width: 38.2758621%;
    @include media-breakpoint-down(md) {
      width: 56.4971751%;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
      width: 100%;
    }
  }
  &__photo {
    margin-right: 15px;
    width: 66px;
    border-radius: 50%;
  }
  &__name {
    display: block;
    margin-bottom: 10px;
    line-height: 1.13333333;
    color: $color-text-dark;
  }
  &__appraisal {
    .b-review-card--profile & {
      margin-left: auto;
    }
    @include media-breakpoint-down(md) {
      margin-left: auto;
    }
    @include media-breakpoint-down(sm) {
      margin-left: 0;
      .b-review-card--profile & {
        margin-left: 0;
      }
    }
  }
  &__value {
    margin-left: 10px;
    font-family: $font-3-fallback;
    font-weight: 700;
  }
  &__date {
    margin-left: auto;
    .b-review-card--profile & {
      margin-left: 45px;
    }
    @include media-breakpoint-down(md) {
      margin-left: 45px;
    }
    @include media-breakpoint-down(sm) {
      margin-left: auto;
      .b-review-card--profile & {
        margin-left: auto;
      }
    }
  }
  &__content {
    padding-left: 38.2758621%;
    .b-review-card--profile & {
      padding-left: 0;
    }
    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }
  &__title {
    .b-review-card--profile & {
      font-size: 1.2rem;
      line-height: 1.66666667;
    }
  }
  &__gallery {
    margin-top: 30px;
    max-width: 100%;
    overflow: hidden;
  }
  &__gallery-wrapper {
    display: flex;
  }
  &__gallery-item {
    flex-shrink: 0;
    margin-right: 15px;
    width: 115px;
    border-radius: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -40%);
    transition: 0.3s ease;
    .b-review-card__gallery-item:hover & {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}