.b-social-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 40px;
  width: 100%;
  background-color: $color-dimmed;
  border-radius: $radius;
  &--mobile-menu {
    padding: 30px 45px;
  }
  &--small {
    padding: 0;
    background-color: transparent;
  }
  @include media-breakpoint-down(md) {
    padding: 35px;
    &--mobile-menu {
      padding: 30px 45px;
    }
    &--small {
      padding: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -25px;
    padding: 18px 43px;
  }
  &__item {
    margin-right: 45px;
    .b-social-list--small & {
      margin-right: 25px;
    }
    &:last-child {
      margin-right: 0;
    }
    @include media-breakpoint-down(md) {
      margin-right: 20px;
      .b-social-list--mobile-menu & {
        margin-right: 15px;
      }
    }
    @include media-breakpoint-down(sm) {
      margin: 12px;
      &:last-child {
        margin-right: 12px;
      }
    }
  }
  &__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.3s ease;
    .b-social-list--dimmed-item & {
      background-color: $color-dimmed;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-image: linear-gradient(to bottom, $color-gr-purple, $color-gr-pink, $color-gr-yellow);
      background-repeat: no-repeat;
      opacity: 0;
      transition: 0.3s ease;
    }
    &:hover {
      color: #fff;
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.41);
      &::before {
        opacity: 1;
      }
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      fill: currentColor;
      transform: translate(-50%, -50%);
    }
    &--fb {
      font-size: 34px;
      color: #2F5A9C;
    }
    &--vk {
      font-size: 32px;
      color: #3A79AB;
    }
    &--inst {
      font-size: 32px;
      color: #C13584;
    }
    &--wt {
      font-size: 33px;
      color: #5AD500;
    }
    &--tg {
      font-size: 33px;
      color: #00A6F6;
    }
    &--yt {
      font-size: 35px;
      color: #FF0000;
    }
    .b-social-list--small & {
      width: 40px;
      height: 40px;
      &--fb {
        font-size: 18px;
      }
      &--vk {
        font-size: 15px;
      }
      &--inst {
        font-size: 17px;
      }
      &--wt {
        font-size: 17px;
      }
      &--tg {
        font-size: 15px;
      }
      &--yt {
        font-size: 18px;
      }
    }
    @include media-breakpoint-down(sm) {
      width: 65px;
      height: 65px;
      &--fb {
        font-size: 27px;
      }
      &--vk {
        font-size: 26px;
      }
      &--inst {
        font-size: 25px;
      }
      &--wt {
        font-size: 26px;
      }
      &--tg {
        font-size: 26px;
      }
      &--yt {
        font-size: 28px;
      }
    }
  }
}