.b-tabs {
  &__navigation {
    display: flex;
    padding-bottom: 20px;
    list-style: none;
    .r-tabs &.r-tabs-nav {
      padding-bottom: 20px;
    }
    .b-tabs--personal &,
    .b-tabs--personal.r-tabs &.r-tabs-nav {
      padding-bottom: 15px;
    }
    .b-tabs--form & {
      justify-content: center;
    }
  }
  &__navigation-item {
    .r-tabs &.r-tabs-tab {
      margin-right: 55px;
      &:last-child {
        margin-right: 0;
      }
    }
    &.r-tabs-state-active {
      color: $color-text-dark;
    }
    .b-tabs--form & {
      padding: 0 10px;
      min-width: 116px;
      text-align: center;
    }
    .b-tabs--personal & {
      padding: 0 15px;
    }
    .b-tabs--form.r-tabs &.r-tabs-tab,
    .b-tabs--personal.r-tabs &.r-tabs-tab {
      margin-right: 0;
    }
    @include media-breakpoint-down(sm) {
      .r-tabs &.r-tabs-tab {
        margin-right: 18px;
      }
    }
  }
  &__navigation-link {
    font-family: $font-3-fallback;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 700;
    transition: 0.3s ease;
    &:hover {
      color: currentColor;
      text-decoration: none;
    }
    .b-tabs--personal & {
      font-size: 1.46666667rem;
      line-height: 1.27272727;
    }
    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }
  &__progress-line {
    position: relative;
    border-bottom: 1px solid $color-dimmed;
    .b-tabs--form &,
    .b-tabs--personal & {
      border-color: #DBDBDB;
    }
  }
  &__thumb {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 3px;
    background-color: $color-p-yellow;
    transform: translateY(-50%);
    transition: 0.5s ease;
    .b-tabs--form &,
    .b-tabs--personal & {
      background-color: $color-p-dark-purple;
    }
  }
  &__content {
    padding: 50px 0 0;
    .r-tabs &.r-tabs-panel {
      padding: 50px 0 0;
    }
    .b-tabs--form &,
    .b-tabs--form.r-tabs &.r-tabs-panel {
      padding: 40px 0 0;
    }
    .b-tabs--personal &,
    .b-tabs--personal.r-tabs &.r-tabs-panel {
      padding: 30px 0 0;
    }
  }
}