.btn {
	@extend %link-clicker;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 12px 24px 13px;
	min-width: 195px;

	user-select: none;
	font-family: $font-1-fallback;
	font-size: 1rem;
	line-height: 1.333333;
	letter-spacing: 0;
	color: $color-text-dark;
	text-decoration: none;
	text-align: center;

	background: $color-control-default;
	box-shadow: none;
	border: 1px solid $color-control-default;
	border-radius: 23px;
	transition: background 0.1s, color 0.1s, border 0.1s;
	cursor: pointer;

	&:hover{
		text-decoration: none;
		color: $color-text-dark;
	}

	&[disabled] {
		opacity: 0.5;
		cursor: default;
	}

	svg{
		display: inline-block;
		vertical-align: middle;
		transition: all 0.1s;
		fill: currentColor;
	}

	&--small{
		min-width: auto;
	}

	&--circle {
		padding: 0;
		min-width: 0;
		width: 46px;
		height: 46px;
	}

	&--circle-small {
		padding: 0;
		min-width: 0;
		width: 30px;
		height: 30px;
		font-size: 14px;
	}

	&--white {
		background-color: #fff;
		border-color: #fff;
	}

	&--pink {
		background-color: $color-p-pink;
		border-color: $color-p-pink;
	}

	&--yellow {
		background-color: $color-p-yellow;
		border-color: $color-p-yellow;
	}

	&--green {
		color: #fff;
		background-color: $color-p-green;
		border-color: $color-p-green;
		&:hover {
			color: #fff;
		}
	}

	&--dark-purple {
		color: #fff;
		background-color: $color-p-dark-purple;
		border-color: $color-p-dark-purple;
		&:hover {
			color: #fff;
		}
	}

	&--dimmed {
		background-color: $color-dimmed;
		border-color: $color-dimmed;
	}

	&--call {
		font-size: 19px;
		line-height: 1;
	}

	&--close {
		position: absolute;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 18px;
			height: 2px;
			background-color: #fff;
			border-radius: 2px;
		}
		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&--menu {
		position: relative;
		color: #fff;
		background-color: $color-p-dark-purple;
		border-color: $color-p-dark-purple;
		&:hover {
			color: #fff;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			width: 17px;
			height: 2px;
			background-color: currentColor;
			border-radius: 2px;
			transform: translateX(-50%);
			transform-origin: center;
		}
		&::before {
			top: 15px;
			box-shadow: 0 6px 0 currentColor;
			transition: top 0.3s 0.3s ease, box-shadow 0.3s 0.6s ease, transform 0.3s ease;
		}
		&::after {
			bottom: 15px;
			transition: bottom 0.3s 0.3s ease, transform 0.3s ease;
		}
	}

	&--slider {
		padding: 0;
		min-width: auto;
		font-size: 21px;
		background-color: transparent;
		border: none;
		svg {
			stroke: currentColor;
			stroke-width: 2px;
		}
		&.swiper-button-disabled {
			color: $color-p-gray;
			cursor: default;
		}
	}

	&--clear {
		padding: 0;
		min-width: auto;
		font-family: $font-2-fallback;
		text-decoration: underline;
		color: $color-p-pink;
		background-color: transparent;
		border: none;
		border-radius: 0;
		&:hover {
			color: $color-p-pink;
			text-decoration: none;
		}
	}

	&--max {
		width: 100%;
	}
}

.nav-showed {
	.btn--menu {
		background-color: $color-p-pink;
		border-color: $color-p-pink;
		&::before {
			top: 21px;
			box-shadow: 0 6px 0 transparent;
			transition: top 0.3s ease, box-shadow 0.3s ease, transform 0.3s 0.3s ease;
			transform: translateX(-50%) rotate(45deg);
		}
		&::after {
			bottom: 21px;
			transition: top 0.3s ease, transform 0.3s 0.3s ease;
			transform: translateX(-50%) rotate(-45deg);
		}
	}
}