.ui-checkbox,
.ui-radiobox{
	position: relative;
	display: inline-flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	padding-left: 24px;
	// padding: 5px 0 5px 24px;
	min-height: 24px;
	text-align: left;
	box-sizing: content-box;
	cursor: pointer;
	// &--white{
	// 	color: #fff;
	// }

	&__icon{
		position: absolute;
		top: -1px;
		// top: 4px;
		left: 0;
		width: 24px;
		height: 24px;
		background: #fff;
		transition: background 0.2s ease, box-shadow 0.2s ease;
		&:before{
			content: '';
			position: absolute;
			display: block;
		}

		.ui-checkbox--hollow &,
		.ui-radiobox--hollow & {
			box-shadow: inset 0 0 0 2px $color-control-default;
		}

		.ui-checkbox--dimmed &,
		.ui-radiobox--dimmed & {
			background-color: $color-dimmed;
		}

		.ui-checkbox:hover &,
		.ui-radiobox:hover &{
			background-color: rgba($color-p-dark-purple, 0.6);
			svg,
			&:before{
				opacity: 0.4;
			}
		}

		.ui-checkbox--white:hover &,
		.ui-radiobox--white:hover & {
			background-color: #fff;
		}

		// .ui-checkbox__input:active ~&,
		// .ui-checkbox__input:focus ~&,
		// .ui-radiobox__input:active ~& ,
		// .ui-radiobox__input:focus ~& {
		// 	box-shadow: 0 0 0 0.2rem rgba($color-blue,.25);
		// }

		.ui-checkbox.error &{
			box-shadow: inset 0 0 0 2px $color-p-pink;
		}

		.ui-checkbox__input:checked ~&,
		.ui-radiobox__input:checked ~&{
			// background: $color-blue;
			background-color: $color-p-dark-purple;
			svg,
			&:before{
				opacity: 1;
			}
		}

		.ui-checkbox--white .ui-checkbox__input:checked ~&,
		.ui-radiobox--white .ui-radiobox__input:checked ~& {
			background-color: #fff;
		}

		// .ui-checkbox--dimmed .ui-checkbox__input:checked ~&,
		// .ui-radiobox--dimmed .ui-radiobox__input:checked ~& {
		// 	background-color: $color-p-dark-purple;
		// }
	}
	&__text{
		margin-left: 10px;
		display: inline-block;
		font-size: 14px;
	}
	>p {
		display: block;
		order: 1;
		margin-left: 13px;
		font-size: 14px;
	}
}

.ui-checkbox {
	&__icon{
		border-radius: 6px;
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			stroke-width: 2px;
			stroke-linecap: round;
			stroke: #fff;
			opacity: 0;
			transform: translate(-50%, -50%);
		}
		.ui-checkbox--white & {
			svg {
				stroke: $color-text-dark;
			}
		}
		// &:before{
		// 	content: '';
		// 	position: absolute;
		// 	display: block;
		// 	top: 6px;
		// 	left: 6px;
		// 	width: 12px;
		// 	height: 8px;
		// 	transform: rotate(-45deg);
		// 	border: solid #fff;
		// 	border-width: 0 0 3px 3px;
		// 	opacity: 0;
		// 	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.1s;
		// }
	}
}

.ui-radiobox{
	&__icon{
		border-radius: 50%;
		&:before{
			content: '';
			position: absolute;
			display: block;
			top: 0; bottom: 0; right: 0; left: 0;
			margin: auto;
			opacity: 0;
			width: 8px;
			height: 8px;
			background: $color-text-dark;
			transition:
				border-color .15s ease-in-out,
				box-shadow .15s ease-in-out,
				opacity .1s;
			border-radius: 50%;
		}
		.ui-radiobox--dimmed &::before {
			background-color: #fff;
		}
		// .ui-radiobox__input:checked +&{
		// 	&:before{
		// 		opacity: 1;
		// 	}
		// }
	}
}