input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: $color-text;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);

	.form-dark &{
		-webkit-text-fill-color: #fff;
	}
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-title {
	margin-bottom: 30px;
}

.form-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	&--wrap {
		flex-wrap: wrap;
	}
	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}
}

.form-wrapper {
	flex-grow: 1;
	&--ml {
		margin-left: 30px;
	}
}

.form-group {
	position: relative;
	margin-bottom: 15px;
	width: 100%;
	&--auto {
		width: auto;
	}
	&--grow-1 {
		flex-grow: 1;
	}
	&--half {
		width: calc((100% - 20px) / 2);
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	&--third {
		width: calc((100% - 40px) / 3);
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	&--medium {
		margin: 0 auto 15px;
		max-width: 415px;
	}
	&--mb2 {
		margin-bottom: 30px;
	}
	&--mb0 {
		margin-bottom: 0;
	}
	&--center {
		text-align: center;
	}
	&.error {
		.form-error-icon {
			opacity: 1;
		}
	}
	// @include media-breakpoint-up(md) {
	// 	margin-bottom: 20px;
	// }
}
.form-control {
	display: block;
	padding: 8px 15px;
	width: 100%;
	font: inherit;
	font-size: 14px;
	line-height: 20px;
	color: $color-text;
	letter-spacing: 0.02em;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: $radius;
	box-shadow: none;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	&:focus{
		outline: 0;
		// box-shadow: 0 0 0 0.2rem rgba($color-blue,.25);
		// border-color: $color-blue;
	}
	@include placeholderStyle {
		color: currentColor;
		// font-weight: $fw-light;
	}
	&--calendar {
		background-image: url("../img/theme/calendar.svg");
		background-repeat: no-repeat;
		background-position: top 50% right 18px;
		background-size: 20px;
		cursor: pointer;
	}
	&--address {
		padding-right: 40px;
		background-image: url("../img/theme/input-map-marker.svg");
		background-repeat: no-repeat;
		background-position: top 50% right 18px;
		background-size: 15px 19px;
	}
	&--dimmed{
		background-color: $color-dimmed;
		border-color: $color-dimmed;
		&:focus{
			border-color: $color-dimmed;
		}
	}
	&--hollow {
		border-color: $color-control-default;
		&:focus{
			border-color: $color-control-default;
		}
	}
	&.error{
		color: $color-p-pink;
		border-color: $color-p-pink;
		// &:focus{
		// 	box-shadow: 0 0 0 0.2rem rgba($color-red,.25);
		// }
	}
}

.form-error-icon {
	position: absolute;
	top: 10px;
	right: 12px;
	z-index: 1;
	font-size: 20px;
	line-height: 1;
	color: $color-p-pink;
	opacity: 0;
	transition: 0.3s ease;
}

textarea.form-control {
	resize: none;
	padding: 8px 15px;
	height: auto;
	min-height: 100px;
	&--big {
		min-height: 150px;
	}
	&--medium {
		min-height: 65px;
	}
	&--small {
		min-height: auto;
		height: 40px;
	}
	&--100 {
		height: 100%;
	}
}

.select-style {
	position: relative;
	display: block;
	width: 100%;
	&--row {
		display: flex;
		align-items: center;
		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}
	}
	&--white-br {
		.select2-container--default .select2-selection--single,
		.select2-dropdown {
			border-color: #fff;
		}
		.select2-dropdown--below .select2-results__options {
			margin: 0 -2px -2px;
		}
		.select2-dropdown--above .select2-results__options {
			margin: -2px -2px 0;
		}
		.select2-results__option {
			padding: 5px 20px;
		}
	}
	&--light {
		width: auto;
		.select2-container--default .select2-selection--single {
			border: none;
			border-radius: 0;
		}
		.select2-container--default .select2-selection--single {
			background-color: transparent;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			padding-left: 0;
			padding-right: 15px;
			color: $color-text-dark;
			text-decoration: underline;
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow {
			right: 0;
			width: 10px;
			height: 5px;
			background-size: contain;
		}
		.select2-container--default.select2-container--below .select2-selection--single[aria-expanded=true] {
			box-shadow: none;
		}
		.select2-dropdown {
			border: none;
			border-radius: 10px;
		}
		.select2-results__option {
			padding: 5px;
		}
		.select2-dropdown--below .select2-results__option:first-child {
			border-radius: 10px 10px 0 0;
		}
		.select2-dropdown--below .select2-results__option:last-child {
			border-radius: 0 0 10px 10px;
		}
	}
	&.error {
		.select2-container--default .select2-selection--single,
		.select2-dropdown {
			border-color: $color-p-pink;
		}
	}
	label {
		margin-bottom: 0;
		margin-right: 20px;
		@include media-breakpoint-down(sm) {
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
}

.form-agreements {
	margin-bottom: 40px;
}

.form-label {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 16px;
	color: $color-text-dark;
}

.range-style {
	.noUi-horizontal {
		margin: 7px 9px 25px;
		height: 3px;
	}
	.noUi-target {
		border: none;
		background-color: $color-p-dark-purple;
		box-shadow: none;
	}
	.noUi-connect {
		background-color: $color-p-yellow;
	}
	.noUi-horizontal .noUi-handle {
		top: -7px;
		right: -9px;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: #fff;
		border: 3px solid $color-p-yellow;
		box-shadow: none;
		outline: none;
		cursor: pointer;
		&::before,
		&::after {
			display: none;
		}
	}
	.noUi-horizontal .noUi-tooltip {
		bottom: auto;
		top: 120%;
		padding: 3px 0;
		color: $color-text;
		line-height: 1.13333333;
		border: none;
		background: none;
	}
}

.file-input {
	&--flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
			// flex-direction: column;
		}
	}
	&--single {
		height: 100%;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		min-height: 170px;
		.file-input--flex & {
			width: 47.3684211%;
		}
		.file-input--big & {
			height: 27.34375vh;
			min-height: 210px;
		}
		@include media-breakpoint-down(sm) {
			margin: 0 auto 20px;
			width: 100%;
			max-width: 290px;
			.file-input--flex & {
				width: 100%;
			}
		}
	}
	&__list {
		position: relative;
		flex-shrink: 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 0 7px;
		.file-input--big & {
			grid-template-columns: repeat(5, 1fr);
		}
	}
	&__item {
		margin-bottom: 7px;
		border-radius: 10px;
	}
	&__dropdown {
		margin-bottom: -7px;
		padding-bottom: 7px;
		&.hidden {
			display: none;
		}
		&-button {
			position: relative;
			padding: 0;
			width: 100%;
			height: calc(100% -7px);
			border: none;
			border-radius: 10px;
			background-color: $color-dimmed;
			transition: 0.3s ease;
			&::before {
				content: "";
				display: block;
				padding-top: 100%;
			}
			.file-input__dropdown:hover & {
				background-color: $color-p-dark-purple;
			}
			&--white {
				background-color: #fff;
				.file-input__dropdown:hover & {
					background-color: $color-p-dark-purple;
				}
			}
		}
		&-value {
			position: absolute;
			top: 50%;
			left: 50%;
			display: inline-block;
			vertical-align: top;
			min-width: 40px;
			height: 40px;
			font-family: $font-2-fallback;
			font-size: 13px;
			line-height: 40px;
			color: #fff;
			border-radius: 50%;
			background-color: $color-p-pink;
			transform: translate(-50%, -50%);
		}
		&-content {
			position: absolute;
			top: 100%;
			right: -78px;
			z-index: 1;
			padding: 25px 30px 23px;
			width: calc(100% + 60px);
			background-color: #fff;
			border-radius: $radius;
			box-shadow: 0 15px 35px rgba(#000, 0.12);
			opacity: 0;
			visibility: hidden;
			transform: translateY(20px);
			transition: 0.3s ease;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 78px;
				width: 66px;
				height: 2px;
				background-color: $color-p-dark-purple;
			}
			.file-input__dropdown:hover & {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
		&-header {
			position: relative;
			margin-bottom: 20px;
			padding-bottom: 20px;
			font-size: 14px;
			line-height: 16px;
			color: $color-text-dark;
			border-bottom: 1px solid $color-control-default;
		}
	}
	&__control {
		flex-grow: 1;
		position: relative;
		margin: 0;
		width: 100%;
		border-radius: 10px;
		background-color: #E6E6E6;
		.file-input--single & {
			height: 100%;
		}
		&::before {
			content: "";
			position: absolute;
			top: 14px;
			left: 14px;
			right: 14px;
			bottom: 14px;
			border-radius: 10px;
			background-color: $color-dimmed;
		}
		&::after {
			content: "";
			position: absolute;
			top: 4px;
			left: 4px;
			bottom: 4px;
			right: 4px;
			border-radius: 10px;
			border: 1px dashed #fff;
		}
		input {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
	&__add {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 40px;
		height: 40px;
		font-size: 16px;
		line-height: 40px;
		text-align: center;
		color: #E5E5E5;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0 15px 60px rgba(#000, 0.16);
		transform: translate(-50%, -50%);
	}
	&__description {
		width: 49.122807%;
		font-size: 14px;
		line-height: 19px;
		.file-input--big & {
			width: 100%;
		}
		@include media-breakpoint-down(sm) {
			flex-grow: 1;
			width: auto;
		}
	}
	&__types {
		margin-top: 20px;
		font-family: $font-2-fallback;
		font-style: italic;
	}
}

.appraisal {
	display: flex;
	justify-content: center;
	align-items: baseline;
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		align-items: center;
	}
	&__name {
		margin-right: 70px;
		margin-bottom: 0;
		@include media-breakpoint-down(sm) {
			margin-right: 0;
			margin-bottom: 5px;
		}
	}
	&__controls {
		display: inline-flex;
		flex-direction: row-reverse;
		&.error {
			.appraisal__control {
				color: $color-p-pink;
				&:hover {
					color: $color-p-yellow;
				}
			}
		}
	}
	&__control {
		margin: 0 3px;
		font-size: 14px;
		cursor: pointer;
		&:hover {
			color: $color-p-yellow;
			~ .appraisal__control {
				color: $color-p-yellow;
			}
		}
		input[type="radio"]:checked ~ & {
			color: $color-p-yellow;
		}
	}
}

.avatar-field {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 105px;
	cursor: pointer;
	&--small {
		width: 95px;
	}
	&__image {
		border-radius: 7px;
		background-color: #E5E5E5;
		.avatar-field.error & {
			box-shadow: inset 0 0 0 2px $color-p-pink;
		}
		img {
			z-index: 1;
		}
		&::after {
			content: "";
			position: absolute;
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			border-radius: 7px;
			border: 1px dashed #fff;
		}
	}
	&__control {
		position: absolute;
		right: -15px;
		bottom: -15px;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		font-size: 13px;
		border-radius: 50%;
		background-color: $color-p-yellow;
		// cursor: pointer;
	}
}

.form-price {
	display: flex;
	flex-direction: column;
	&--row {
		padding: 0 25px;
		flex-direction: row;
		align-items: center;
	}
	&__label {
		align-self: center;
		margin-bottom: 15px;
		.form-price--row & {
			flex-shrink: 0;
			margin-bottom: 0;
			margin-right: 15px;
		}
	}
	&__wrapper {
		display: flex;
		align-items: center;
	}
	&__input {
		display: flex;
		flex-grow: 1;
		margin-right: 20px;
		padding: 8px 15px;
		background-color: #fff;
		border: 2px solid #fff;
		border-radius: $radius;
		transition: border-color .15s ease-in-out;
		&.error {
			border-color: $color-p-pink;
		}
		.form-price--row & {
			margin-right: 30px;
		}
		input {
			flex-grow: 1;
			width: 80%;
			margin-right: 10px;
			padding: 0;
			font-size: 14px;
			line-height: 20px;
			color: $color-text;
			letter-spacing: 0.02em;
			border: none;
		}
		span {
			font-family: $font-3-fallback;
			font-size: 19px;
			line-height: 20px;
		}
	}
	&__select {
		flex-shrink: 0;
		width: 80px;
	}
}