.modal {
  position: relative;
  margin: 0 auto;
  padding: 50px 75px 60px;
  width: 100%;
  max-width: 725px;
  background-color: $color-dimmed;
  border-radius: $radius;
  box-shadow: 0 40px 50px rgba(#000, 0.17);
  &.pass {
    padding: 65px 175px 70px;
  }
  &.service {
    max-width: 590px;
  }
  &.call {
    padding: 50px 115px;
    max-width: 605px;
    background-color: $color-p-green;
    &::after {
      content: "";
      position: absolute;
      right: -23px;
      bottom: -25px;
      width: 242px;
      height: 161px;
      background-image: url("../img/theme/phone-decor.svg");
      background-size: contain;
    }
    .ui-checkbox {
      color: #fff;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 50px 55px 60px;
    max-width: 705px;
    &.pass {
      padding: 65px 125px 70px;
    }
  }
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 75px 25px;
    width: 100%;
    max-width: none;
    min-height: 100%;
    border-radius: 0;
    &.pass,
    &.call {
      padding: 75px 25px;
      max-width: none;
    }
    &.service {
      max-width: none;
    }
    &.call {
      max-width: none;
      &::after {
        display: none;
      }
    }
  }
  &__title {
    margin-bottom: 30px;
    font-size: 2.33333rem;
    line-height: 1.31428571;
    text-align: center;
    &--small-mb {
      margin-bottom: 15px;
    }
    .call & {
      color: #fff;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
      line-height: 1.1666667;
      .call & {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &__icon {
    vertical-align: baseline;
    margin-right: 15px;
    font-size: 25px;
    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }
  &__subtitle {
    margin-bottom: 45px;
    font-family: $font-2-fallback;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: $color-text-dark;
  }
  &__name {
    color: $color-p-pink;
    text-decoration: underline;
  }
  &__actions {
    text-align: center;
  }
  &__triangle {
    left: 50px;
    bottom: -35px;
    width: 94px;
    height: 85px;
    fill: #fff;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__zig-line {
    right: -13px;
    bottom: 136px;
    width: 26px;
    height: 14px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}