.user-nav {
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  @include media-breakpoint-down(lg) {
    margin-right: 15px;
  }
  &__login-link {
    margin-right: 25px;
    padding: 2px 0;
    color: $color-text-dark;
    line-height: 1.33333;
    &:hover {
      text-decoration: none;
      color: $color-text-dark;
      
    }
    @include media-breakpoint-down(sm) {
      margin-right: 15px;
      // display: none;
    }
  }
  &__find-button {
    margin-right: 15px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__item {
    position: relative;
    margin-right: 23px;
    margin-bottom: -20px;
    padding-bottom: 20px;
    line-height: 0;
    @include media-breakpoint-down(sm) {
      margin-right: 15px;
      &--notification {
        display: none;
      }
    }
  }
  &__button {
    position: relative;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    &::after {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      z-index: -1;
      width: 56px;
      height: 56px;
      border: 2px solid $color-control-default;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.3s ease;
    }
    .user-nav__item:hover &::after {
      transform: scale(1);
    }
    &--notification {
      width: 46px;
      height: 46px;
      font-size: 32px;
      line-height: 1;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $color-dimmed;
        transition: 0.3s ease;
        transform: scale(0);
      }
      .user-nav__item:hover &::before {
        transform: scale(1);
      }
    }
    &--personal {
      padding-right: 22px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 14px;
        height: 8px;
        background-image: url("../img/theme/select-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(-50%);
      }
      @include media-breakpoint-down(sm) {
        padding-right: 0;
        &::before {
          display: none;
        }
      }
    }
  }
  &__photo {
    width: 46px;
    border-radius: 50%;
  }
  &__notification-value {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  &__dropdown {
    left: 23px;
    width: 295px;
    line-height: 1.6;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(40px);
    &::before {
      left: 50%;
      width: 26px;
      transform: translateX(-50%);
    }
    .user-nav__item--notification & {
      width: 375px;
    }
    .user-nav__item:hover & {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
      box-shadow: 0 15px 35px rgba(#000, 0.12);
    }
  }
  &__header {
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    color: $color-text-dark;
    .user-nav__item--notification & {
      padding-left: 30px;
      text-transform: uppercase;
      svg {
        position: absolute;
        left: 0;
        bottom: -2px;
        font-size: 23px;
      }
    }
    .user-nav__item--personal & {
      padding-right: 30px;
    }
  }
  &__logout-link {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 20px;
    line-height: 1;
    color: $color-p-pink;
    transform: translateY(-50%);
    svg {
      fill: currentColor;
    }
    &:hover {
      color: $color-text;
    }
  }
  &__list {
    list-style: none;
    border-top: 1px solid $color-control-default;
  }
}

.b-notification-list {
  &:empty {
    position: relative;
    min-height: 150px;
    &::before {
      content: attr(data-empty-mess);
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 80%;
      transform: translate(-50%, -50%);
    }
  }
  &__item {
    padding: 20px 0;
    border-bottom: 1px solid $color-control-default;
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    &--not-read {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 24px;
        left: -14px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-p-pink;
      }
    }
  }
  &__date {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
  }
  &__text {
    font-size: 13px;
    line-height: 16px;
    a {
      color: $color-p-pink;
      text-decoration: underline;
      &:hover {
        color: $color-p-pink;
        text-decoration: none;
      }
    }
  }
}

.b-user-links-list {
  padding-top: 25px;
  &__item {
    margin-bottom: 15px;
    color: $color-text-dark;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    position: relative;
    display: block;
    padding-left: 40px;
    &:hover {
      color: currentColor;
      text-decoration: none;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 20px;
    transform: translateY(-50%);
    fill: #CBCBCB;
  }
  &__value {
    margin-left: 10px;
  }
}
