- var href = 'javascript:void(0)';
- var img = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';
- var DATE = new Date();
- var time = DATE.getTime();
block vars
include ../components/_index.pug
doctype html
html.no-js
	head
		meta(charset='utf-8')
		block title
			title dev
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
		link(rel="apple-touch-icon" size="180x180" href="apple-touch-icon.png")
		link(rel="icon" type="image/png" size="32x32" href="favicon-32x32.png")
		link(rel="icon" type="image/png" size="16x16" href="favicon-16x16.png")
		link(rel="manifest" href="site.webmanifest")
		link(rel="mask-icon" href="safari-pinned-tab.svg" color="#ff8d76")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="theme-color" content="#ffffff")
		//- styles
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.0/css/all.css", integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q", crossorigin="anonymous")
		link(rel="stylesheet", href="css/vendors.css")
		link(rel="stylesheet", href="css/style.css?"+time)
		block style
		block script
	body
		// [if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
			<![endif]
		if landscapeScreen
			.portrait-sceen
				<svg xmlns="http://www.w3.org/2000/svg" width="229.716" height="199.207" viewBox="0 0 229.716 199.207"><g id="Group_1863" data-name="Group 1863" transform="translate(-269 -347.793)"><path id="Path_9334" data-name="Path 9334" d="M364.21,89.852a4.487,4.487,0,0,0-6.345,0l-2.782,2.783V60.176A4.487,4.487,0,0,0,350.6,55.69H318.169l2.774-2.771a4.487,4.487,0,1,0-6.343-6.348L304.159,57a4.535,4.535,0,0,0,0,6.346L314.6,73.793a4.487,4.487,0,1,0,6.346-6.344l-2.785-2.786h27.95V92.626l-2.767-2.771a4.487,4.487,0,0,0-6.35,6.34l10.428,10.445c1.776,1.332,4.671,2.1,6.348,0L364.21,96.2a4.486,4.486,0,0,0,0-6.345Z" transform="translate(102.021 307.586)" fill="#fff"/><path id="Path_9335" data-name="Path 9335" d="M215.22,116.363H116.808V48.5a14.514,14.514,0,0,0-14.5-14.5H14.5A14.514,14.514,0,0,0,0,48.5V218.721a14.507,14.507,0,0,0,14.5,14.486H138.685a4.487,4.487,0,0,0,0-8.973H115.714a14.4,14.4,0,0,0,1.093-5.513V125.336H215.22a5.53,5.53,0,0,1,5.523,5.525v16.161h-7.964a10.655,10.655,0,0,0-10.642,10.644v34.248a10.655,10.655,0,0,0,10.642,10.644h7.964v16.161a5.524,5.524,0,0,1-5.523,5.513H178.988a4.487,4.487,0,0,0,0,8.973H215.22a14.507,14.507,0,0,0,14.5-14.486V130.862a14.513,14.513,0,0,0-14.5-14.5ZM39.61,42.973H77.2v7.968a1.7,1.7,0,0,1-1.682,1.671H41.279a1.692,1.692,0,0,1-1.669-1.671Zm-25.114,0H30.638v7.968A10.655,10.655,0,0,0,41.28,61.586H75.516A10.662,10.662,0,0,0,86.171,50.942V42.973h16.142a5.53,5.53,0,0,1,5.522,5.526V204.387H8.973V48.5A5.53,5.53,0,0,1,14.5,42.973Zm30.548,181.26H14.5a5.524,5.524,0,0,1-5.523-5.513v-5.36h98.861v5.36a5.524,5.524,0,0,1-5.522,5.513Zm167.735-30.648a1.692,1.692,0,0,1-1.669-1.671V157.667A1.692,1.692,0,0,1,212.779,156h7.964v37.59Z" transform="translate(269 313.793)" fill="#fff"/><path id="Path_9339" data-name="Path 9339" d="M116.808,116.363V48.5a14.514,14.514,0,0,0-14.5-14.5H14.5A14.514,14.514,0,0,0,0,48.5V218.721a14.507,14.507,0,0,0,14.5,14.486h87.816c1.938,0,10.841-1.006,13.4-8.973a14.4,14.4,0,0,0,1.093-5.513V116.363Zm-77.2-73.39H77.2v7.968a1.7,1.7,0,0,1-1.682,1.671H41.279a1.692,1.692,0,0,1-1.669-1.671Zm-25.114,0H30.638v7.968A10.655,10.655,0,0,0,41.28,61.586H75.516A10.662,10.662,0,0,0,86.171,50.942V42.973h16.142a5.53,5.53,0,0,1,5.522,5.526V204.387H8.973V48.5A5.53,5.53,0,0,1,14.5,42.973Zm30.548,181.26H14.5a5.524,5.524,0,0,1-5.523-5.513v-5.36h98.861v5.36a5.524,5.524,0,0,1-5.522,5.513Z" transform="translate(269 313.793)" fill="#6e6e6e"/><path id="Path_9338" data-name="Path 9338" d="M348.5,458h-.026a4.5,4.5,0,1,0,.026,0Z" transform="translate(79.338 80.026)" fill="#fff"/></g></svg>
				span Поверните ваш девайс
		.wrap-site(class=wrapClass)
			block header
				+header(headerMod, authUser)
			main.main
				block content
			if withFooter
				block footer
					+footer(footerMod)

		.visuallyhidden(data-svg-path="img/theme/sprite.symbol.svg")

		//DELETEME
		script(src="//cdn.jsdelivr.net/gh/Antroll/demo-menu/dist/scripts/demo-menu.js" data-demo-data="demo/data.json" async defer)
		//.DELETEME

		script(src="js/vendors.js")
		script(src="js/main.js?"+time)
		block scripts
