mixin b-add-service
  div(block="b-add-service")
    .h6(elem="title") Добавить услугу
    form.js-validate(elem="form" action="/")
      .form-group
        label.visuallyhidden(for="name") Название услуги
        textarea.form-control.form-control--medium(name="name" id="name" placeholder="Название услуги" required)
      .form-group.form-group--mb2.form-group--grow-1
        label.visuallyhidden(for="description") Описание услуги
        textarea.form-control.form-control--100(name="description" id="description" placeholder="Описание услуги" required)
      .form-group.form-group--mb2
        div(block="form-price")
          label.form-label(elem="label" for="price") Стоимость услуги
          div(elem="wrapper")
            div(elem="input")
              input(type="text" name="price" id="price" required)
              span $
            .select-style.select-style--light(elem="select")
              select.js-select(name="price-type" required)
                option(value="1") в день
                option(value="2") в неделю
      button.btn.btn--dark-purple Добавить услугу