mixin b-accordion(elements = [])
  .accordion-container.js-accordion(block="b-accordion")
    each el in elements
      .ac(elem="item")
        .ac-q(elem="head" tabindex="0")
          span(elem="icon")
            +svg("icon-check")
          =el.head
          span(elem="toggle")
        .ac-a(elem="content")
          div.content-style(elem="text")
            p=el.text