mixin b-article(obj)
  article(block="b-article")
    a(elem="link" href="article.html")
      .responsive-img(elem="image")
        img(src=obj.img alt="" data-object-fit="cover")
        if obj.tagColor === 'purple'
          span.tag.tag--purple(elem="tag")=obj.tag
        else if obj.tagColor === 'yellow'
          span.tag.tag--yellow(elem="tag")=obj.tag
        else if obj.tagColor === 'pink'
          span.tag.tag--pink(elem="tag")=obj.tag
        else
          span.tag.tag--aqua(elem="tag")=obj.tag
      span.icon.icon--eye(elem="eye" aria-hidden="true")
        +svg("eye")
      h1(elem="title")=obj.title
      div.js-dot(elem="text")
        p=obj.text