mixin b-chat
  div(block="b-chat")
    div.h5(elem="title") Online-чат
    form.js-chat-search(elem="search-form" action="")
      .form-group
        label.visuallyhidden(for="chat-search")
        input.form-control(type="text" name="search" id="chat-search" placeholder="Начните вводить имя" autocomplete="off")
      div.dropdown(elem="search-dropdown" mix="block:b-search-result")
        div(block="b-search-result" elem="list")
          a(elem="item" href=href) Александр Дубровин
          a(elem="item" href=href) Александра Шагалова
          a(elem="item" href=href) Александр Кузьмин
    form.js-chat-dialog(elem="dialog-form" action="")
      div(elem="view" mix="block:b-chat-dialog")
        div(block="b-chat-dialog" elem="view")
          div(elem="messages")
            div(elem="message" mod="right") Здравствуйте, Вы могли бы забрать Кая?
            div(elem="message" mod="right") Я уезжаю на выходные в командировку.
            div(elem="message" mod="left") Да, конечно.<br>Когда удобно?
        div(block="b-chat-dialog" elem="field")
          textarea.form-control.form-control--small.form-control--hollow(placeholder="Сообщение")
          button.btn.btn--clear(elem="smile-button" type="button")
      button.btn.btn--max.btn--yellow Отправить сообщение
