mixin b-features(title)
	section(block="b-features")
		span.decor(elem="decor" mod="bg")
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1680.256 483.382" preserveAspectRatio="none"><path id="Path_7412" data-name="Path 7412" d="M3444.633,1884.874s126.471-115.129,354.135-107.6,270.917,151.255,464.351,140.911,354.467-89.023,581.148,41.846,221.667,339.9,81.573,291.036-289.715-259.585-662.721-55.367-591.723-155.109-818.485,0S3444.633,1884.874,3444.633,1884.874Z" transform="translate(-3343.849 -1776.921)" fill="#f5f6f7"/></svg>
		ul.parallax-scene.js-scene(data-relative-input="true" aria-hidden="true")
			li.parallax-layer(data-depth="0.1")
				span.parallax-particle.parallax-particle--yellow(elem="particle" mod="yellow")
			li.parallax-layer(data-depth="0.3")
				span.parallax-particle.parallax-particle--steelblue(elem="particle" mod="steelblue")
		h2.h1(elem="title")=title?title:'Это безопасно!'
		ul(elem="list")
			li(elem="item")
				span(elem="icon" mod="loupe")
					+svg("feature-loupe")
				span.h6(elem="name") Мы проверяем<br>всех догситтеров
				div.js-dot(elem="text")
					p С другой стороны постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития.
			li(elem="item" mod="leaves")
				span(elem="icon" mod="contract")
					+svg("feature-contract")
				span.h6(elem="name") Обязательно<br>заключаем договор
				div.js-dot(elem="text")
					p С другой стороны постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития.
			li(elem="item")
				span(elem="icon" mod="service")
					+svg("feature-service")
				span.h6(elem="name") Наша техподдержка<br>всегда на связи
				div.js-dot(elem="text")
					p С другой стороны постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития.
		span.decor(elem="decor" mod="track-1" aria-hidden="true")
			+svg("track-gray")
		span.decor(elem="decor" mod="track-2" aria-hidden="true")
			+svg("track-gray")
		span.decor(elem="decor" mod="track-3" aria-hidden="true")
			+svg("track-white")