mixin b-performer-card(obj = {})
  a(block="b-performer-card" href="profile.html")
    div.responsive-img(elem="photo")
      img(src=obj.img alt="" data-object-fit="cover")
    div(elem="wrapper")
      div(elem="top")
        span.h6(elem="name")=obj.name
        if (obj.top)
          span(elem="status") Топ 100
        span(elem="place") Highgate, London
        div(elem="reviews")
          span(elem="reviews-stars")
            span.star.star--yellow
              i.fas.fa-star
            span.star.star--yellow
              i.fas.fa-star
            span.star.star--yellow
              i.fas.fa-star
            span.star.star--yellow
              i.fas.fa-star
            span.star.star--yellow
              i.fas.fa-star
          span(elem="reviews-text") #{obj.reviews} отзывов
      div(elem="bottom")
        div(elem="content")
          div.js-dot(elem="text")
            p=obj.text
        div(elem="price")
          div(elem="price-value") $#{obj.price}
          span(elem="price-text") В час