mixin b-personal-doc(obj = {})
  div.js-personal-doc(block="b-personal-doc" mod=obj.mod)
    span.h6(elem="name")=obj.name
    div(elem="info")
      span(elem="type")=obj.type
      span(elem="size")=obj.size
    div(elem="actions")
      a.btn.btn--yellow.btn--circle-small(elem="button" mod="download" href=href download title="Скачать документ")
        +svg("ic-download")
      div.js-delete(elem="delete" mix="block:b-delete")
        button.btn.btn--dimmed.btn--circle-small.js-delete-toggle(block="b-delete" elem="toggle")
          +svg("ic-trash")
        div.dropdown.js-delete-dropdown(block="b-delete" elem="dropdown")
          div(elem="header") Удалить документ "#{obj.name}"?
          div(elem="actions")
            button.btn.btn--clear.js-delete-yes(elem="button" mod="yes" data-class-element="js-personal-doc" data-url="/") Да
            button.btn.btn--clear.js-delete-no(elem="button" mod="no") Нет
      //- button.btn.btn--circle-small.js-personal-doc-delete(elem="button" mod="delete" data-url="/" title="Удалить документ")
      //-   +svg("ic-trash")