mixin b-personal-order(obj = {})
  div(block="b-personal-order" class=obj.active ? 'active' : null)
    div(elem="left")
      div(elem="wrapper")
        span.h6(elem="name" mod=obj.online ? 'online' : null)=obj.name
        span(elem="mail")
          +svg("ic-email")
          if obj.notification
            span.notification(elem="notification")=obj.notification
      div(elem="status")=obj.status
    div(elem="right")
      div.h6(elem="service")=obj.service
      ul(elem="list")
        li(elem="item")
          span(elem="type-name") Тип питомца:
          span(elem="value")=obj.type
        li(elem="item")
          span(elem="type-name") Порода питомца:
          span(elem="value")=obj.breed