mixin b-personal-material(obj = {})
  div.js-personal-material(block="b-personal-material")
    .h6(elem="name")=obj.name
    div.js-dot(elem="descrition")
      p=obj.text
    div(elem="bottom")
      div(elem="info")
        span(elem="type")=obj.type
        span(elem="size")=obj.size
      div(elem="actions")
        a.btn.btn--yellow.btn--circle-small(elem="download" href=href dowwnload title="Скачать файл")
          +svg("ic-download")
        div.js-delete(elem="delete" mix="block:b-delete")
          button.btn.btn--dimmed.btn--circle-small.js-delete-toggle(block="b-delete" elem="toggle")
            +svg("ic-trash")
          div.dropdown.js-delete-dropdown(block="b-delete" elem="dropdown")
            div(elem="header") Удалить документ "#{obj.name}"?
            div(elem="actions")
              button.btn.btn--clear.js-delete-yes(elem="button" mod="yes" data-class-element="js-personal-material" data-url="/") Да
              button.btn.btn--clear.js-delete-no(elem="button" mod="no") Нет