mixin b-personal-pet-card(obj = {})
  div.js-pet-card(block="b-personal-pet-card")
    .responsive-img(elem="photo")
      img(src=obj.img alt="" data-object-fit="cover")
    div(elem="content")
      div(elem="top")
        span.h6(elem="name")=obj.name
        div(elem="actions")
          button.btn.btn--yellow.btn--small.js-pet-card-toggle(elem="toggle-button" data-active-content="Свернуть" data-inactive-content="Подробнее") Подробнее
          div.js-delete(elem="delete" mix="block:b-delete")
            button.btn.btn--dimmed.btn--circle-small.js-delete-toggle(block="b-delete" elem="toggle")
              +svg("ic-trash")
            div.dropdown.js-delete-dropdown(block="b-delete" elem="dropdown")
              div(elem="header") Удалить питомца #{obj.name}?
              div(elem="actions")
                button.btn.btn--clear.js-delete-yes(elem="button" mod="yes" data-class-element="js-pet-card" data-url="/") Да
                button.btn.btn--clear.js-delete-no(elem="button" mod="no") Нет
      div(elem="description")
        div(elem="description-line")
          div(elem="description-item" mod="30")
            span(elem="description-type") Тип питомца:
            span(elem="description-value")=obj.type
          div(elem="description-item" mod="70")
            span(elem="description-type") Порода питомца:
            span(elem="description-value")=obj.breed
      div.js-pet-card-hide(elem="hide-block")
        div(elem="description")
          div(elem="description-line")
            div(elem="description-item" mod="30")
              span(elem="description-type") Размер:
              span(elem="description-value") маленький
            div(elem="description-item" mod="30")
              span(elem="description-type") Пол:
              span(elem="description-value") муж
            div(elem="description-item" mod="30")
              span(elem="description-type") Возраст:
              span(elem="description-value") 4 года
          div(elem="description-item")
            span(elem="description-type") Животные, которые могут находиться вместе с ним:
            span(elem="description-value") все питомцы
          div(elem="description-item")
            span(elem="description-type") Особенности питомца:
            span(elem="description-value") игривый, очень ласковый и дружелюбный
        div(elem="specials")
          div(elem="special")
            +checkbox()(readonly checked)
              | Стерилизован/кастрирован
          div(elem="special")
            +checkbox()(readonly checked)
              | Остается ли питомец один дома
          div(elem="special")
            +checkbox()(readonly checked)
              | Дружелюбен к другим животным
          div(elem="special")
            +checkbox()(readonly checked)
              | Имеет необходимые вакцинации
          div(elem="special")
            +checkbox()(readonly checked)
              | Дружелюбен к детям до 10 лет