mixin b-profile-review-card(obj = {})
	div(block="b-profile-review-card")
		div(elem="top")
			div(elem="author")
				.responsive-img(elem="photo")
					img(src=obj.img alt="" data-object-fit="cover")
				div
					span(elem="name")=obj.name
					span(elem="position")=obj.position
					div(elem="appraisal")
						- for (let i = 0; i < obj.value; i++)
							span.star.star--yellow
								i.fas.fa-star
						- for (let k = 0; k < 5 - obj.value; k++)
							span.star
								i.fas.fa-star
						span(elem="value") #{obj.value}.0
			time(elem="date" datetime="2020-05-11") 11 мая 2020
		div(elem="content")
			div.h6(elem="title")=obj.title
			div.content-style(elem="text")
				each text in obj.texts
					p !{text}