mixin b-personal-service(obj = {})
  div.js-personal-service(block="b-personal-service")
    div(elem="controls")
      +checkbox({mod: 'dimmed'}).js-personal-provide-toggle(name=`${obj.id}-provide` checked=obj.active || false data-url="/")
        | Услуга предоставляется
      div(elem="actions")
        a.btn.btn--yellow.btn--circle-small.js-inline-modal(elem="edit" href=`#${obj.id}`)
          +svg("ic-edit")
        div.js-delete(elem="delete" mix="block:b-delete")
          button.btn.btn--dimmed.btn--circle-small.js-delete-toggle(block="b-delete" elem="toggle")
            +svg("ic-trash")
          div.dropdown.js-delete-dropdown(block="b-delete" elem="dropdown")
            div(elem="header") Удалить услугу "#{obj.name}"?
            div(elem="actions")
              button.btn.btn--clear.js-delete-yes(elem="button" mod="yes" data-class-element="js-personal-service" data-url="/") Да
              button.btn.btn--clear.js-delete-no(elem="button" mod="no") Нет
    div(elem="content")
      div(elem="top")
        .h3(elem="name")=obj.name
        span(elem="price")
          span(elem="value") $#{obj.price}
          |  / день
      div(elem="description")
        p=obj.description
    
    section.mfp-hide.service(block="modal" id=obj.id)
      button.btn.btn--circle.btn--close.mfp-close(type="button" aria-label="Закрыть")
      div(elem="content")
        div.h2(elem="title") Изменение услуги
        form.form.js-validate(elem="form" action="")
          .form-group
            label.visuallyhidden(for=`${obj.id}-name`) Название услуги
            input.form-control(type="text" name=`${obj.id}-name` id=`${obj.id}-name` value=obj.name placeholder="Название услуги" required)
          .form-group
            label.visuallyhidden(for=`${obj.id}-description`)
            textarea.form-control.form-control--big(name=`${obj.id}-description` id=`${obj.id}-description` placeholder="Описание услуги" required)=obj.description
          .form-group.form-group--mb2
            div(block="form-price" mod="row")
              label.form-label(elem="label" for=`${obj.id}-price`) Стоимость услуги
              div(elem="wrapper")
                div(elem="input")
                  input(type="text" name=`${obj.id}-price` id=`${obj.id}-price` value=obj.price required)
                  span $
                .select-style.select-style--light(elem="select")
                  select.js-select(name=`${obj.id}-price-type` required)
                    option(value="1" selected) в день
                    option(value="2") в неделю
          button.btn.btn--yellow Сохранить изменения
