mixin b-review-card(obj = {})
  div(block="b-review-card" mod=obj.mod)
    div(elem="top")
      div(elem="author")
        .responsive-img(elem="photo")
          img(src=obj.img alt="" data-object-fit="cover")
        div
          span(elem="name")=obj.name
          span(elem="position")=obj.position
      div(elem="appraisal")
        - for (let i = 0; i < obj.value; i++)
          span.star.star--yellow
            i.fas.fa-star
        - for (let k = 0; k < 5 - obj.value; k++)
          span.star
            i.fas.fa-star

        span(elem="value") #{obj.value}.0
      time(elem="date" datetime="2020-05-11") 11 мая 2020
      
    div(elem="content")
      div.h3(elem="title")=obj.title
      div.content-style(elem="text")
        each text in obj.texts
          p !{text}

      if obj.gallery
        div.js-gallery(elem="gallery")
          div(elem="gallery-wrapper")
            each item in obj.gallery
              a.responsive-img(elem="gallery-item" href=item.href data-type=item.type)
                img(src=item.img alt="" data-object-fit="cover")
                if item.type === 'iframe'
                  span.icon.icon--small.icon--play(elem="icon" aria-hidden="true")
                    +svg("play")
                else
                  span.icon.icon--small.icon--eye(elem="icon" aria-hidden="true")
                    +svg("eye")