mixin b-reviews(title)
  section(block="b-reviews")
    h2.h1(elem="title")=title?title:'Ваши отзывы'
    div(elem="photo-slider")
      .swiper-container.js-thumb-reviews-slider
        .swiper-wrapper
          .swiper-slide
            .responsive-img(elem="image")
              img(src="img/media/reviews/1.jpg" alt="" data-object-fit="cover")
          .swiper-slide
              .responsive-img(elem="image")
                img(src="img/media/reviews/2.jpg" alt="" data-object-fit="cover")
          .swiper-slide
              .responsive-img(elem="image")
                img(src="img/media/reviews/3.jpg" alt="" data-object-fit="cover")
      span.decor(elem="decor" mod="hello" aria-hidden="true")
        +svg("decor-hello")
    .swiper-container.js-reviews-slider(elem="slider")
      .swiper-wrapper
        .swiper-slide(elem="slide")
          div(elem="text")
            p Благодарим Данилу и всю его семью за то, что присмотрели за нашим пупсом!) Было много ежедневных фото, причём все фотографии такие классные — у Данилы талант фотографа!)
          div.h6(elem="author-info")
            span Александра М.
            span Санкт-Петербург
            span.decor(elem="decor" mod="quote" aria-hidden="true")
              +svg("left-quote")
        .swiper-slide(elem="slide")
          div(elem="text")
            p Благодарим Данилу и всю его семью за то, что присмотрели за нашим пупсом!) Было много ежедневных фото, причём все фотографии такие классные — у Данилы талант фотографа!)
          div.h6(elem="author-info")
            span Александра М.
            span Санкт-Петербург
            span.decor(elem="decor" mod="quote" aria-hidden="true")
              +svg("left-quote")
        .swiper-slide(elem="slide")
          div(elem="text")
            p Благодарим Данилу и всю его семью за то, что присмотрели за нашим пупсом!) Было много ежедневных фото, причём все фотографии такие классные — у Данилы талант фотографа!)
          div.h6(elem="author-info")
            span Александра М.
            span Санкт-Петербург
            span.decor(elem="decor" mod="quote" aria-hidden="true")
              +svg("left-quote")
    div(elem="actions" mix="block:b-slider-actions")
      button.btn.btn--slider.js-reviews-prev-button(block="b-slider-actions" elem="prev-button" aria-label="Предыдущий слайд")
        +svg('prev-arrow')
      div.js-reviews-pagination(block="b-slider-actions" elem="pagination")
      button.btn.btn--slider.js-reviews-next-button(block="b-slider-actions" elem="prev-button" aria-label="Предыдущий слайд")
        +svg('next-arrow')
    span.decor(elem="decor" mod="heart" aria-hidden="true")
      +svg("decor-heart")