
mixin b-social-list(mod)
  ul(block="b-social-list" mod=mod?mod:null)
    each icon in ['fb','vk','inst','wt','tg','yt']
      li(elem="item")
        a(elem="link" mod=icon href=href)
          +svg('soc-'+icon)