mixin checkbox(obj)
	label(block="ui-checkbox" mod=obj?obj.mod:null class=obj?obj.className:null)
		input.visuallyhidden(elem="input" type="checkbox")&attributes(attributes)
		i(elem="icon")
			+svg("icon-check")
		if block
			span(elem="text")
				block

mixin radiobox(obj)
	label(block="ui-radiobox" mod=obj?obj.mod:null class=obj?obj.className:null)
		input.visuallyhidden(elem="input" type="radio")&attributes(attributes)
		i(elem="icon")
		if block
			span(elem="text")
				block