mixin user-nav(auth)
  nav(block="user-nav")
    if (auth)
      div(elem="item" mod="notification")
        button(elem="button" mod="notification")
          +svg("bell")
        span.notification(elem="notification-value") 2
        div.dropdown(elem="dropdown")
          div(elem="header")
            +svg("bell")
            | Уведомления
          ul(elem="list" mix="block:b-notification-list" data-empty-mess="Уведомлений нет")
            li(block="b-notification-list" elem="item" mod="not-read")
              time(elem="date" datetime="2020-06-12") 12.06.2020
              div(elem="text")
                p Вы выбрали в качестве исполнителя догситтера 
                  a(href=href) Илью Игнатенко.
            li(block="b-notification-list" elem="item")
              time(elem="date" datetime="2020-06-11") 11.06.2020
              div(elem="text")
                p Спасибо за регистрацию! Добро пожаловать на портал. Выбирайте догситтеров, общайтесь и читайте полезные статьи!
      div(elem="item" mod="personal")
        button(elem="button" mod="personal")
          .responsive-img(elem="photo")
            img(src="img/media/user-photo.jpg" alt="" data-object-fit="cover")
        div.dropdown(elem="dropdown")
          div(elem="header")
            span(elem="user-name") Марк Славицкий
            a(elem="logout-link" href=href title="Выйти")
              +svg("logout")
          ul(elem="list" mix="block:b-user-links-list")
            li(block="b-user-links-list" elem="item")
              a(elem="link" href=href)
                +svg("ic-user")(elem="icon")
                | Личные данные
            li(block="b-user-links-list" elem="item")
              a(elem="link" href=href)
                +svg("ic-list")(elem="icon")
                | Мои услуги
            li(block="b-user-links-list" elem="item")
              a(elem="link" href=href)
                +svg("ic-email")(elem="icon")
                | Мои заявки
                span.notification(elem="value") 2
            li(block="b-user-links-list" elem="item")
              a(elem="link" href=href)
                +svg("ic-calendar")(elem="icon")
                | Календарь
            li(block="b-user-links-list" elem="item")
              a(elem="link" href=href)
                +svg("ic-pet")(elem="icon")
                | Питомцы
            li(block="b-user-links-list" elem="item")
              a(elem="link" href=href)
                +svg("ic-doc")(elem="icon")
                | Документы
            li(block="b-user-links-list" elem="item")
              a(elem="link" href=href)
                +svg("ic-book")(elem="icon")
                | Материалы
            li(block="b-user-links-list" elem="item")
              a(elem="link" href=href)
                +svg("ic-test")(elem="icon")
                | Тесты
            li(block="b-user-links-list" elem="item")
              a(elem="link" href=href)
                +svg("ic-bell")(elem="icon")
                | Оповещения
    else
      a.underline(elem="login-link" href=href) Войти
      a.btn.btn--pink(elem="find-button" href=href) Найти исполнителя
    a.btn.btn--circle.btn--green.btn--call(elem="call-button" href=href title="Заказать звонок")
      +svg('phone')