mixin footer(mod)
	footer(block="footer")
		.wrap(elem="wrapper" mod=mod)
			div(elem="top")
				a(elem="logo" mix="block:b-logo, mod:white" href="index.html")
					div(block="b-logo" elem="image")
						img(src="img/theme/logo.svg" alt="")
					div(block="b-logo" elem="content")
						span(elem="name") Bobby
						span(elem="sub-name") the bulldog

				nav(elem="navigation" mix="block:site-nav, mod:footer")
					ul(block="site-nav" elem="list")
						li(elem="item")
							a(elem="link" href=href) О проекте
						li(elem="item")
							a(elem="link" href=href) Статьи
						li(elem="item")
							a(elem="link" href=href) Вопросы-ответы
						li(elem="item")
							a(elem="link" href=href) Контакты

				a.btn.btn--pink(elem="find-button" href=href) Найти исполнителя

				div(elem="contacts")
					a(elem="contacts-phone" href="tel:88008432323") 8 800 843 23 23
					a(elem="contacts-modal" href=href) Заказать звонок

			div(elem="middle")
				div(elem="apps")
					a(elem="apps-item" mod="apple" href=href target="_blank" title="Скачать приложение из App Store")
					a(elem="apps-item" mod="google" href=href target="_blank" title="Скачать приложение из Google Play")

				div(elem="links")
					a(elem="links-item" href=href) Подготовка к передержке
					a(elem="links-item" href=href) Документы для догситтеров
					a(elem="links-item" href=href) О нас говорят / Для прессы

			div(elem="bottom")
				-var currentYear = (DATE.getYear() - 100 + 2000)
				span(elem="copyright") Bobby the Dulldog © #{currentYear}

				a(elem="email-link" href="mailto:BobbyBulldog@mail.ru" title="Наша почта") BobbyBulldog@mail.ru
				
				div(elem="created") Разработка сайта 
					a.magwai-link(href="//magwai.ru" target="_blank" title="Перейти на сайт разработчика") Магвай


	//- div(block="b-soc")
	//- 					div(elem="inner")
	//- 						each icon in ['vk','fb','tw','ok','inst','yt']
	//- 							a(elem="item" href=href mod=icon)
	//- 								+svg('soc-'+icon)