include ../common/_user-navigation.pug

mixin nav-item(title, url)
	li(elem="item")&attributes(attributes)
		a(elem="link" href=(url?url:href))=title
		if block
			i(elem="item-icon")
				+svg('angle-down')
			ul(elem="sub-menu")
				block

mixin sub-item(title)
	li(elem="sub-item")&attributes(attributes)
		a(elem="sub-link" href=href)=title
		if block
			i(elem="item-icon")
				+svg('angle-down')
			block

mixin header-lk
	header(block="header" mod="personal")
		.wrap(elem="wrapper")
			div(elem="logo")
				a(block="b-logo" href="index.html")
					div(block="b-logo" elem="image")
						img(src="img/theme/logo.svg" alt="")

			//- nav(elem="navigation" mix="block:site-nav")
			//- 	ul(block="site-nav" elem="list")
			//- 		+nav-item('О проекте').active
			//- 		//- +sub-item('ссылка 1')
			//- 		//- +sub-item('ссылка 1')
			//- 		//- +sub-item('ссылка 1')
			//- 		+nav-item('Догситтеры')
			//- 		+nav-item('Статьи')
			//- 		+nav-item('Вопросы-ответы')

			+user-nav(true)

			div(elem="menu-button")
				button.btn.btn--circle.btn--menu.js-mobile-menu-button(aria-label="Меню")

			div(block="mobile-menu")
				a(elem="logo" mix="block:b-logo" href="index.html")
					div(block="b-logo" elem="image")
						img(src="img/theme/logo.svg" alt="")
					div(block="b-logo" elem="content")
						span(elem="name") Bobby
						span(elem="sub-name") the bulldog

				nav(elem="navigation" mix="block:site-nav, mod:[column,mobile]")
					ul(block="site-nav" elem="list")
						+nav-item('О проекте').active
						//- +sub-item('ссылка 1')
						//- +sub-item('ссылка 1')
						//- +sub-item('ссылка 1')
						+nav-item('Догситтеры')
						+nav-item('Статьи')
						+nav-item('Вопросы-ответы')

				a.btn.btn--pink(elem="find-button" href=href) Найти исполнителя

				div(elem="social")
					+b-social-list('mobile-menu')